%br
= "We're sad to announce that we're ceasing operations at F2P.wiki, and we will no longer be making updates to the site."
%br
= "It has been a wonderful 2 years, and I'm extremely grateful for the support and wonderful community. Thanks. - Unkie"
%br

- if DateTime.now > DateTime.new(2020, 4, 2)
  %br
  = "April Fools! You know I would never abandon my lovely people <3 - Unkie"
  %br

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do
  = content_tag(:div, nil, class: ["bar", "ranks", "selected-link"]) do
    = link_to_unless_current "Hiscores", ranks_path
  = content_tag(:div, nil, class: ["bar", "fake", "selected-link"]) do
    = link_to_unless_current "Current Top", tracking_path
  = content_tag(:div, nil, class: ["bar", "ehp", "selected-link"]) do
    = link_to_unless_current "Records", records_path
  = content_tag(:div, nil, class: ["bar", "ehp", "selected-link"]) do
    = link_to_unless_current "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "links", "selected-link"]) do
    = link_to_unless_current "Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog", "selected-link"]) do
    = link_to_unless_current "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate", "selected-link"]) do
    = link_to_unless_current "About Us/Donate", donate_path
