- @title = "A New F2P Meta" 
- @description = "Help support F2P.wiki by donating and receive special perks." 
= link_to image_tag("f2pwiki.png"), players_path

= render :partial => "header.html.haml",  :locals => {notice: notice}

= content_tag(:div, nil, class: "container", style: "width: 760px;") do 
  = content_tag(:div, nil, class: "left", style: "margin-left: 30px; text-align: left; width: 720px; padding: 10px; margin: auto") do 
    %h1{:align => "center"} A New F2P Meta
    = content_tag(:div, nil, style: "text-align: left; margin: auto; width: 700px; margin-top: 0px; margin-bottom: 0px; color: none; background-color: transparent; border: none;") do 
      %p To my fellow F2Pers, I’d like to raise an important topic that I’m sure has affected us all at one point or another: it’s no secret that trolling and toxicity plague our community, and recent events have provoked me to take a firm stand against it. We’ve all been victims at one point or another to bullying and harassment, be it online or in real life. Runescape is played by choice to have fun, and it’s disheartening when our experiences are soiled by those who feel the need to diminish others.

      %p Indulge me for a moment and think back to a time where someone tried or succeeded to put you down. Were they teasing you about your appearance, your interests? Did they persistently harass you or spread malicious rumors? Maybe they changed the opinion of others to view you in a negative light. Regardless of the reason they thought they had to share, I bet it didn’t feel good, did it? Not only did it ruin your immediate mood, but you almost certainly spent the rest of the day thinking about it, I know I did. Maybe even longer if it hurt that bad. It’s truly a nauseating feeling that no one deserves to have.

      %p While these hideous attempts aim at shaming a victim, the reality is the acts tell us more about those imposing the harm. Bullying and toxicity are signs of weakness. They reflect insecurities in the players committing the offense. For them to feel good about themselves, they’d rather deflect their pain onto others than deal with their own. Such behavior is vile, immature, and shows a true lack of courage. I don’t know about you, but I’ve had enough of this toxic behavior in our F2P community.

      %p It’s important to recognize harm exists in many forms, even when unintentional. For example, when we overstate our own opinions, they often overshadow others’. Similarly, when an individual feels differently than a group, it can be isolating. It’s fine to share your opinion, but be open and accepting of others’ views, even if you disagree. You never know, you just might learn something if you keep an open mind!

      %p In an era defined by efficiency and grit, it can be hard to accept change or new ideas. There are established methods for training in the most optimal way, yet no widely-accepted standard for our conduct. Friends, I have a new challenge for you all – a new F2P Meta that we can all excel at, no matter our level: <i>mindfulness, decency, and respect</i>. Let’s choose to be <i>mindful</i> of one another. Let’s choose to be <i>decent</i>, supportive players. Let’s choose to show <i>respect</i>. When we work together to lift each other up, we all come out on top. Our Runescape experience elevates tremendously, and we form friendships with others and with it comes our fueled motivation. While we’ve all had unpleasant encounters with toxic trolls, we’ve also had positive run-ins with warm, uplifting players. Perhaps it was a new friend donating 100k shortly after you exited tutorial island for the first time or maybe a stranger offered you his/her iron ore spot. Those moments are out there, and it’s undeniable how well they bring us closer together.

      %p Now I’m not here preaching to you as if I’m some perfect individual. I make mistakes, and I have room to grow too. We’re imperfect beings, but we have the cognitive ability to do something about it. <i>The first step in solving any problem is recognizing there is one, and we can do that right here, right now</i>. Join me in denouncing the bullying and toxicity we see all too often. Be mindful of how you treat others, stop the spread of rumors, and don’t rush to make a judgement about other players. If you are a bystander to harmful behavior, step in and condemn the bullies. Recognize there is a human on the other side of pixels you see. A brother, a daughter, a father, a friend. If you wouldn’t say or do it to a stranger on the street, why would you do it online? Sitting behind a computer is not a safety net; words and actions can have the same impact online as they do in person. I firmly believe most of us would treat each other better if we were next to each other IRL, and we should treat our online interactions as if we were.

      %p Now is the time to train the most important Meta our community has yet to see. If we all came together and took this matter seriously, we’d be an unstoppable force (in a positive way of course)! Let’s have fun, treat each other with respect, and be mindful of the human sitting on the other side of the screen. Together, I know we can do it<3

      %p1 My very best wishes,
      %br
      %p1 IM Smelt
      %br
      %br

      %p1 PS - Should you want to reach out to discuss further, or want to make a new friend, feel free to PM me in game. I’ll be around :)
