= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, class: ["bar", "ehp", "selected-link"]) do 
    = "EHP Rates"
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donations", donate_path
    
= field_set_tag 'Melee', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = "Attack"
    %br
    = "Level"
    = number_field_tag "att", 1, {min: 0, max: 120, step: 1, size: 6, maxlength: 3, style: "width:60px"}
    = "Prayer"
    = select_tag "att_pray", options_for_select(["Clarity of Thought", "Improved Reflexes", "Incredible Reflexes"]), :include_blank => true
    %br
    = "Strength"
    %br
    = "Level"
    = number_field_tag "str", 1, {min: 0, max: 120, step: 1, size: 6, maxlength: 3, style: "width:60px"}
    = "Prayer"
    = select_tag "str_pray", options_for_select(["Burst of Strength", "Superhuman Strength", "Ultimate Strength"]), :include_blank => true
    %br
    = "Strength Potion?"
    = check_box_tag "str_pot", 1
  
    %br
    = "Combat Style"
    = select_tag "combat_style", options_for_select(["Accurate/Defensive", "Aggressive", "Controlled"])
    %br
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = "Gear"
    = select_tag "combat_style", options_for_select(["Accurate/Defensive", "Aggressive", "Controlled"])
    %br
    
  
  
  