- @title = "F2P OSRS/Wiki Changelog" 
= favicon_link_tag "rs_favicon.png"
= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "Hiscores", ranks_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Current Top", tracking_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "Records", records_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog", "selected-link"]) do 
    = "Changelog"
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donate", donate_path
  
= content_tag(:div, nil, class: "container", style: "width: 760px;") do 
  = content_tag(:div, nil, class: "left", style: "margin-left: 5px; text-align: left; width: 340px; padding: 10px;") do 
    %h3 F2P OSRS Changelog
    %h5 September 5, 2019
    = "Snare is now F2P"
    %br
    = "Protect from Magic no longer halves freeze times in PvP"
    %br
    %br

    %h5 August 29, 2019
    = "Last Man Standing has been updated, including rewards"
    %br
    %br

    %h5 July 25, 2019?
    = "Hop limit has been removed until further notice."
    %br
    %br
    = "Notably buffs:"
    %br
    = "- boneyard XP/h"
    %br
    = "- nature rune tele-grab"
    %br
    = "- selling/buying from stores, etc."
    %br
    %br

    %h5 July 11, 2019
    = "Splashing in Lumbridge no longer grants Magic XP."
    %br
    %br

    %h5 June 27, 2019
    = "- Additional options for Clan Wars"
    %br
    = "- Killing the player or NPC that teleblocks you now removes the teleblock effect."
    %br
    %br

    %h5 June 6, 2019
    = "Teleblock is now Free-to-play."
    %br
    %br
    
    %h5 April 18, 2019
    = "Beginner clues now also drop from the following monsters:"
    %br
    = "- Obor, Bryophyta: 100% drop chance"
    %br
    = "- Hill giants, moss giants, ice giants"
    %br
    = "- Muggers, dwarves, skeletons, hobgoblins"
    %br
    %br

    %h5 April 11, 2019
    = "Beginner clues have been released."
    %br
    %br
    
    %h5 February 22 2019
    = "Ring of forging is now F2P"
    %br
    %br

    %h5 February 07 2019
    = "New F2P Quest: X Marks the Spot"
    %br
    %br

    %h5 January 24 2019
    = "PvP boxing mechanic change:"
    %br
    = "DMM anti-boxing mechanics moved to live game (wilderness and pvp worlds); players can now attack other players who have been splashing for a certain amount of time."
    %br
    %br
    
    %h5 December 06 2018
    = "- Collection Log"
    %br
    = "- Some F2P worlds taken out"
    %br
    = "- PvP safe zone changes:"
    %br
    = " When entering a safe zone in PvP Worlds while in combat with another player, you and your opponent will now be able to continue fighting for an extra 6 seconds while in the safe zone."
    %br
    %br
    
    %h5 November 29, 2018
    = "Spellbook filters"
    %br
    %br
    
    %h5 November 15, 2018
    = "Edgeville furnace now F2P"
    %br
    = "- Now the F2P meta instead of Al Kharid furnace"
    %br
    %br
    
    %h5 October 30, 2018
    = "- Global release of Old School Runescape Mobile app"
    %br
    = "- Shitton of new skill total and regular F2P worlds"
    %br
    %br
    
    %h5 October 11, 2018
    = "Zoom distance increased"
    %br
    %br
    
    %h5 September 27, 2018
    = "Left click Withdraw-X from bank"
    %br
    %br
    
    %h5 September 13, 2018
    = "Left click range cooking"
    %br
    %br
    
    %h5 July 5, 2018
    = "New F2P worlds: 118 (NA West), 119 (NA West, 500 skill total), 124 (Aus)"
    %br
    %br
    
    %h5 May 3, 2018
    = "New Moss Giant boss: Bryophyta"
    %br
    = "- Notable drops: rune bars, rune sq shield"
    %br
    = "- No meta changes due to overwhelming ogress drops"
    %br
    %br
    = "Antipoison is now F2P"
    %br
    = "- Made at apothecary with cadava berry + limpwurt root"
    %br
    %br
    
    %h5 Apr 5, 2018
    = "New F2P PvP world 417"
    %br
    = "- Notable F2P meta changes: less crowded training areas (ogresses, mines) and better anti-crashing"
    %br
    = "- new fastest banking method: lumbridge teleport in pvp worlds to the bank chest"
    %br
    = "- possibility of body/tiara rc using an alt to suicide and respawn at Edgeville, with same rates as solo earth tiara rc and better xp rates for ironmen (untested)"
    %br
    = "- possibility of easier 3-tick methods with an Event RPG kicking alt?"
    %br
    %br
    
    %h5 Dec 7, 2017
    = "New monsters in Corsair Cove: Ogress warrior and Ogress shaman"
    %br
    = "- Notable drops: Nature/law/death runes, Rune med/full helm, Rune battleaxe, Shaman mask"
    %br
    = "- Completely changed F2P IM/HC/UIM EHP due to drops and gp; decent combat gp for regs"
    %br
    %br
    = "New area/quest: Corsair Cove, with resource areas (Yew, Maple, Adamantite, Coal, Swordfish, Lobster) and a bank"
    %br
    = "- Everything is obsolete for efficient skilling, but Maple trees are notably now F2P"
    %br  
    %br
    
    %h5 Nov 16, 2017
    = "Buy-50: interface improvements for shops"
    %br  
    = "- Notably improves F2P IM/HC/UIM buying arrows"
    %br
    %br
    
    %h5 Oct 19, 2017
    = "Make-All: interface improvements for smithing, cooking, and crafting"
    %br  
    = "- Notably changes IM/HC/UIM EHP cooking to 3.5 tick instead of 3 tick; Reg EHP and wines are unaffected"
    %br
    %br
    
    %h5 July 20, 2017
    = "Castle Wars released to F2P, Zamorak robes are now F2P drops from Monks of Zamorak"
    %br  
    = "- Castle wars dead 3 weeks after release"
    %br
    = "- Zamorak robe (bottom) new best-in-slot F2P magic gear"
    %br
    %br
    
    %h5 June 22, 2017
    = "Mining Guild Expansion: 4 iron rocks and ore shop added to Mining Guild"
    %br
    = "- New F2P IM/HC smithing EHP due to proximity of iron ore"
    %br  
    %br   
    
    %h5 May 25, 2017
    = "World map added ingame"
    %br
    %br   
    
    %h5 May 18, 2017
    = "Imbue Skull Sceptre: sceptre will not break at 0 charges, sceptre pieces will recharge it"
    %br
    = "- Each skull sceptre piece is worth 3 charges: notably speeds up RC when combined with falador teleport for banking; not EHP but good alternative for those who AFK combats"
    %br
    = "- Must keep 2-factor Authentication on; imbued skull sceptre is lost on death"
    %br
    %br
    
    %h5 Mar 9, 2017
    = "Energy potions released to F2P, made through Apothecary with 2 limpwurt roots and 1 chocolate dust"
    %br
    %br
    
    %h5 Mar 2, 2017
    = "Wine of Zamorak spawn at level 35 wilderness Chaos Altar"
    %br
    = "- Notably increased deep wilderness activity"
    %br
    %br
    
    %h5 Jan 26, 2017
    = "New F2P quest: Misthalin Mystery"
    %br
    = "- No requirements"
    %br
    = "- Notable rewards: uncut sapphire, uncut emerald, uncut ruby, 1 quest point"
    %br
    %br
    
    %h5 Nov 10, 2016
    = "New Game Mode: Hardcore Ironman"
    %br
    = "- Account will turn into normal, grayhelm Ironman after non-safe-minigame death"
    %br
    %br
    
    %h5 Oct 6, 2016
    = "New F2P boss: Obor, accessible with Giant key (Hill Giant droprate of 1/128 or 1/64 in wildy)"
    %br
    = "- Notable drops: Hill giant club, Rune kiteshield, Rune full helm for ironmen" 
    %br
    %br
    
    %h5 Sep 22, 2016
    = "F2P Skill total worlds: 381 (500+), 385 (750+)"
    %br
    %br

    %h5 Aug 4, 2016
    = "New safe minigame: Last man standing"
    %br
    = "- Battle royale with equalized stats (and no xp gain) and randomized loot"
    %br
    = "- Notably adds a gp \"bank\" for UIM, with the coffer that stores unlimited gp"
    %br
    = "- Dead currently"
    %br
    = "- FOR PURES: REMEMBER TO CHECK ATTACK STYLE AFTERWARDS (rip Orbrun IV)"
    
  = content_tag(:div, nil, class: "left", style: "margin-left: 10px; text-align: left; width: 340px; padding: 10px;") do 
    %h3 F2P Wiki Changelog
    %h5 v1.62 July 6, 2019
    = "99 and 200m count added to hiscores."
    %br
    %br

    %h5 v1.61 April 28, 2019
    = "- Upgrade to Rails 5.2.2"
    %br
    = "- Various bug fixes from v1.60"
    %br
    = "- Further code refactoring and prep for open-sourcing"
    %br
    %br

    %h5 v1.60 April 27, 2019
    = "- EHP updates and bonus XP released, found"
    = link_to "here", "https://www.reddit.com/r/W385/comments/bdal19/finalized_f2pwiki_ehp_and_bonus_xp_updates/"
    %br
    = "- Code refactoring and improvements"
    %br
    = "- Preparations for open-sourcing"
    %br
    %br

    %h5 v1.53 April 13, 2019
    = "- Compatibility with beginner clues hiscores."
    %br
    = "- Internal tool for restoring tracking and records data for players from CrystalMathLabs."
    %br
    %br
    
    %h5 v1.52 March 17, 2019
    = "Release of Overall (no combats) hiscores"
    %br
    %br

    %h5 v1.51 February 16, 2019
    = "Release of Time to Max hiscores"
    %br
    %br

    %h5 v1.50 December 2, 2018
    = "Release of XP and EHP tracking and records"
    %br
    = "Various bug fixes, refactoring, and QoL"
    %br
    = "Calculators and Hall of Shame moved to Links. Competitions hidden."
    %br
    = "We'll try to keep a better changelog :)"
    %br
    %br
    
    %h5 v1.23 ???
    = "Minor fixes and refactoring: "
    = "Do not display null combat levels"
    %br
    %br
    
    %h5 v1.22 July 14, 2018
    = "Adding a player to hiscores only requires a name, and automatically finds the account type."
    %br
    = "Searching should no longer redirect to URLs with IDs instead of player name."
    %br
    = "Refactoring for code maintainability and readability, preparing for potential open sourcing."
    %br
    = "Improved scroll background graphic for compare page."
    %br
    %br
    
    %h5 v1.21 July 7, 2018
    = "Fixes: Negative xp, level 1 HP for certain people leading to level 1 combat"
    %br
    = "Updated skill icons"
    %br
    %br
    
    %h5 v1.20 June 21, 2018
    = "Combat Level hiscores"
    %br
    %br
    
    %h5 v1.19 June 20, 2018
    = "June Gatherers EHP Competition framework"
    %br
    %br
    
    %h5 v1.18 June 10, 2018
    = "Filter accounts by popular combat restrictions"
    %br
    %br
    
    %h5 v1.17 Apr 27, 2018
    = "EHP Competition framework"
    %br
    %br
    
    %h5 v1.16 Apr 12, 2018
    = "Update: DPS calcs now have custom attack and str bonus input"
    %br
    = "Fix: GP/XP calc will no longer split the comma for inactive items above 999 gp"
    %br
    %br
    
    %h5 v1.15 Mar 20, 2018
    = "Players tied for 200m XP will now break ties using their official hiscores rank."
    %br
    = "Player personal hiscores page layouts have been refactored and updated for those with custom images/text on their page."
    %br
    = "Calculators layout improved as dropdown menu."
    %br
    %br
    
    %h5 v1.14 Mar 19, 2018
    = "Links to official OSRS hiscores and Crystalmathlabs now on each player's personal hiscores."
    %br
    %br 
    
    %h5 v1.13 Mar 12, 2018
    = "Feature complete: High alch calc"
    %br
    %br
    
    %h5 v1.12 Mar 12, 2018
    = "Feature complete: GP/XP calc"
    %br
    %br
    
    %h5 v1.11 Mar 10, 2018
    = "Feature complete: Combat level calc"
    %br
    %br
    
    %h5 v1.10 Mar 10, 2018
    = "Feature complete: Compare users"
    %br
    %br
    
    %h5 v1.09 Mar 5, 2018
    = "Feature complete: EHP methods located below EHP rates"
    %br
    = "Fix: P2P minigames/clue scrolls are now accounted for."
    %br
    = link_to "Combat EHP rebalances", "http://pastebin.com/px0svE7j"
    %br
    %br
    
    %h5 v1.08 Mar 4, 2018
    = "Feature complete: Ranks on personal hiscore page (for each account type, from official OSRS hiscores)"
    %br
    = link_to "No alt F2P EHP for regs", "http://www.reddit.com/r/CrystalMathLabs/comments/7wn8m7/updated_f2pehp_rates/"
    = " is now in place."
    %br
    %br
    
    %h5 v1.07 Mar 3, 2018
    = "Feature complete: DPS Calculators for melee, ranged, and magic with PvP option"
    %br
    = "Feature complete: automatically refresh players with >500 EHP daily at midnight PST"
    %br
    %br
    
    %h5 v1.06 Feb 27, 2018
    = "Fix: Search function fixed for names with \"_\", correct redirect for invalid names"
    %br
    = "Fix: Add player function fixed for invalid names"
    %br
    %br
      
    %h5 v1.05 Feb 20, 2018
    = "In order to optimize site performance, we have limited our hiscores to players with 75+ EHP."
    %br
    = "Feature complete: Add Player to database"
    %br
    = "Feature complete: Use player name as url, e.g. F2P.wiki/players/W385_Jr"
    %br
    = "Regs with ~600+ totals found"
    %br
    %br
      
    %h5 v1.04 Feb 18, 2018
    = "Feature in progress: Mimick official OSRS hiscores"
    %br
    %br
    
    %h5 v1.03 Feb 12, 2018
    = "Feature complete: limit # of players shown per page: 25, 50, 100, 250, or 500"
    %br
    = "Search player is now case-insensitive."
    %br
    = "Refactoring: site and database query optimized for much faster response times"
    %br
    = "Security: debug mode off and stack trace hidden (thanks to xor eax eax for the notice)"
    %br
    %br
    
    %h5 v1.02 Feb 8, 2018
    = "EHP updated for IM/HC/UIM due to ogresses and mining guild. View the full changes "
    = link_to "here.", "http://www.reddit.com/r/W385/comments/7vaq1m/new_f2p_imhcuim_ehp/"
    %br
    = "The top 4000 F2P HC, UIM, and IM by total level have been added to the database."
    %br
    = "Feature complete: Find player by name"
    %br
    %br
    
    %h5 v1.01 Feb 4, 2018
    = "Layout changed: added Homepage, Useful Links, F2P Changelog, general styling"
    %br
    %br
    
    %h5 v1.0 Jan 30, 2018
    = "Site publicly released"
    %br
    = "Feature added: About Us/Donations page, flairs for supporters"
    %br
    %br
    = link_to "Old Changelog (before v1.0 public release)", oldchangelog_path