= content_tag(:div, nil, style: "text-align: center; width: 240px; padding: 5px; margin: auto;") do 
  %h1 
    = link_to "F2P.wiki", players_path
  = content_tag(:div, nil, style: "font-style: italic; color: white; font-weight: bold; margin: auto; width: 200px; margin-top: 0px; margin-bottom: 0px; color: none; background-color: transparent; border: none") do 
    = "for all your F2P OSRS needs"
  %p#notice= notice

%br
= content_tag(:div, nil, style: "margin: auto; width: 820px; margin-top: 0px; margin-bottom: 10px; color: none; background-color: transparent; border: none") do 
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 115px; padding: 10px;") do 
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 80px; padding: 10px;") do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 100px; padding: 10px;") do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 90px; padding: 10px;") do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, style: "color: white; font-weight: bold; float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 75px; padding: 10px;") do 
    = "Changelog"
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 140px; padding: 10px;") do 
    = link_to "About Us/Donations", donate_path
  
%br
= content_tag(:div, nil, style: "margin: auto; width: 760px; margin-top: 0px; margin-bottom: 10px; color: none; background-color: transparent; border: none") do 
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: left; width: 340px; padding: 10px;") do 
    %h3 F2P OSRS Changelog
    = "Dec 7, 2017"
    %br
    = "New monsters in Corsair Cove: Ogress warrior and Ogress shaman"
    %br
    = "- Notable drops: Nature/law/death runes, Rune med/full helm, Rune battleaxe, Shaman mask"
    %br
    = "- Completely changed F2P IM/HC/UIM EHP due to drops and gp; decent combat gp for regs"
    %br
    %br
    = "New area/quest: Corsair Cove, with resource areas (Yew, Maple, Adamantite, Coal, Swordfish, Lobster) and a bank"
    %br
    = "- Everything is obsolete for efficient skilling, but Maple trees are notably now F2P"
    %br  
    %br   
    %br
    
    = "Nov 16, 2017"
    %br
    = "Buy-50: interface improvements for shops"
    %br  
    = "- Notably improves F2P IM/HC/UIM buying arrows"
    %br
    %br   
    %br
    
    = "Oct 19, 2017"
    %br
    = "Make-All: interface improvements for smithing, cooking, and crafting"
    %br  
    = "- Notably changes IM/HC/UIM EHP cooking to 3.5 tick instead of 3 tick; Reg EHP and wines are unaffected"
    %br
    %br   
    %br
    
    = "July 20, 2017"
    %br
    = "Castle Wars released to F2P"
    %br  
    = "- Dead 3 weeks after release"
    %br
    %br   
    %br
    
    = "June 22, 2017"
    %br
    = "Mining Guild Expansion: 4 iron rocks and ore shop added to Mining Guild"
    %br
    = "- New F2P IM/HC smithing EHP due to proximity of iron ore"
    %br  
    %br   
    %br
    = "May 18, 2017"
    %br
    = "Imbue Skull Sceptre: sceptre will not break at 0 charges, sceptre pieces will recharge it"
    %br
    = "- Each skull sceptre piece is worth 3 charges: notably speeds up RC when combined with falador teleport for banking; not EHP but good alternative for those who AFK combats"
    %br
    = "- Must keep 2-factor Authentication on; imbued skull sceptre is lost on death"
    %br
    %br
    %br
    = "Mar 9, 2017"
    %br
    = "Energy potions released to F2P, made through Apothecary with 2 limpwurt roots and 1 chocolate dust"
    %br
    %br
    %br
    = "Mar 2, 2017"
    %br
    = "Wine of Zamorak spawn at level 35 wilderness Chaos Altar"
    %br
    = "- Notably increased deep wilderness activity"
    %br
    %br
    %br
    = "Nov 10, 2016"
    %br
    = "New Game Mode: Hardcore Ironman"
    %br
    = "- Account will turn into normal, grayhelm Ironman after non-safe-minigame death"
    %br
    %br
    %br
    = "Oct 6, 2016"
    %br
    = "New F2P boss: Obor, accessible with Giant key (Hill Giant droprate of 1/128 or 1/64 in wildy)"
    %br
    = "- Notable drops: Hill giant club, Rune kiteshield, Rune full helm for ironmen" 
    %br
    %br
    %br
    = "Aug 4, 2016"
    %br
    = "New safe minigame: Last man standing"
    %br
    = "- Battle royale with equalized stats (and no xp gain) and randomized loot"
    %br
    = "- Notably adds a gp \"bank\" for UIM, with the coffer that stores unlimited gp"
    %br
    = "- Dead currently"
    %br
    = "- FOR PURES: REMEMBER TO CHECK ATTACK STYLE AFTERWARDS (rip Orbrun IV)"
    %br
    %br
    %br
    
  = content_tag(:div, nil, style: "float: right; margin-left: auto; text-align: left; margin: auto; width: 340px; padding: 10px;") do 
    %h3
      = "F2P Wiki v1.01 Feb 4, 2018"
    = "Layout changed: added Homepage, Useful Links, F2P Changelog, general styling"
    %br
    = "Feature added: About Us/Donations page, flairs for supporters"
    %br
    %br
    = "F2P Wiki v1.0 Jan 30, 2018"
    %br
    = "Site publicly released"
    %br
    = "Feature added: About Us/Donations page, flairs for supporters"
    %br
    %br
    = link_to "Old Changelog (before v1.0 public release)", oldchangelog_path