- @title = "Admin Page" 
= link_to image_tag("f2pwiki_500.png"), players_path

= render :partial => "header.html.haml",  :locals => {notice: notice}

= content_tag(:div, nil, style: " margin: auto; text-align: center; width: 155px; padding: 10px;") do 
  = link_to "View Plaintext Player List", plaintext_path
%br
%br

= button_to "Update Items", {:method => "put", :controller => "items", :action => "update_prices"} 
%br
%br
