- @title = "Admin Page" 
= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "Hiscores", ranks_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "calcs"]) do 
    = link_to "Calculators", calcs_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donate", donate_path

= content_tag(:div, nil, style: " margin: auto; text-align: center; width: 155px; padding: 10px;") do 
  = link_to "View Plaintext Player List", plaintext_path
%br
%br

= button_to "Update Items", {:method => "put", :controller => "items", :action => "update_prices"} 
%br
%br

= form_tag ranks_path, :method => "get", id: "create-player-form" do
  = "Add a missing Player"
  %br
  = text_field_tag :player_to_add_name, params[:player_to_add_name], placeholder: "Player Name"
  = "Player Name"
  %br
  = text_field_tag :player_to_add_acc, params[:player_to_add_acc], placeholder: "Player Account Type"
  = "Player Account Type"
  %br
  = submit_tag "Add" 
