= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donations", donate_path

= content_tag(:div, nil, style: " margin: auto; text-align: center; width: 155px; padding: 10px;") do 
  = link_to "View Plaintext Player List", plaintext_path
%br
%br
= button_to "Update All Players\' Stats", {:method => "put", :controller => "players", :action => "refresh_players"} 
%br
%br
= button_to "Update Top 250 Players\' Stats", {:method => "put", :controller => "players", :action => "refresh_250"} 
%br
%br
= button_to "Export All Players\' Stats", {:controller => "players", :action => "export_players"} 
%br
%br
= form_tag ranks_path, :method => "get", id: "create-player-form" do
  = "Add a missing Player"
  %br
  = text_field_tag :player_to_add_name, params[:player_to_add_name], placeholder: "Player Name"
  = "Player Name"
  %br
  = text_field_tag :player_to_add_acc, params[:player_to_add_acc], placeholder: "Player Account Type"
  = "Player Account Type"
  %br
  = submit_tag "Add" 

%br
%br
= form_tag ranks_path, :method => "get", id: "delete-player-form" do
  = "Remove a Player"
  %br
  = text_field_tag :player_to_del_name, params[:player_to_del_name], placeholder: "Player Name"
  = "Player Name"
  %br
  = submit_tag "Delete" 
