- @title = "DPS Calcs" 
= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donations", donate_path
    
= field_set_tag 'Melee DPS', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 280px;") do 
      %h5 Melee Stats
      %tr
        %td= label_tag "Attack Level"
        %td= number_field_tag "att", 1, {min: 1, max: 99, step: 1, size: 6, maxlength: 3, style: "width:60px", remote: true}
      %tr
        %td= label_tag "Attack Prayer"
        %td= select_tag "att_pray", options_for_select(["Clarity of Thought (+5%)", "Improved Reflexes (+10%)", "Incredible Reflexes (+15%)"]), style: "width: 105px;", :include_blank => true
      %tr
        %td= label_tag "Strength Level"
        %td= number_field_tag "str", 1, {min: 1, max: 99, step: 1, size: 6, maxlength: 3, style: "width:60px"}
      %tr
        %td= label_tag "Strength Prayer"
        %td= select_tag "str_pray", options_for_select(["Burst of Strength (+5%)", "Superhuman Strength (+10%)", "Ultimate Strength (+15%)"]), style: "width: 105px;", :include_blank => true
      %tr  
        %td= label_tag "Strength Potion?"
        %td= check_box_tag "str_pot", 1
      %tr
        %td= label_tag "Combat Style"
        %td= select_tag "melee_style", options_for_select(["Accurate", "Aggressive", "Controlled", "Defensive"])
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 280px;") do 
      %h5 Equipment
      %tr 
        %td= label_tag "Weapon"
        %td= select_tag "melee_weapon", options_for_select(["Rune scimitar", "Rune sword", "Rune 2h sword", "Hill giant club", "Adamant scimitar", "Adamant sword", "Adamant 2h sword", "Event rpg", "None"], "Rune scimitar"), style: "width: 135px;", :include_blank => true
      %tr
        %td= label_tag "Neck Slot"
        %td= select_tag "melee_neck", options_for_select(["Amulet of power", "Amulet of strength", "Amulet of accuracy"]), style: "width: 135px;", :include_blank => true
    
= field_set_tag 'Ranged DPS', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 280px;") do 
      %h5 Ranged Stats
      %tr
        %td= label_tag "Ranged Level"
        %td= number_field_tag "ranged", 1, {min: 1, max: 99, step: 1, size: 6, maxlength: 3, style: "width:60px"}
      %tr
        %td= label_tag "Ranged Prayer"
        %td= select_tag "ranged_pray", options_for_select(["Sharp Eye (+5%)", "Hawk Eye (+10%)", "Eagle Eye (+15%)"]), style: "width: 135px;", :include_blank => true
      %tr
        %td= label_tag "Combat Style"
        %td= select_tag "ranged_style", options_for_select(["Accurate", "Rapid", "Long range"], "Rapid")
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 280px;") do 
      %h5 Equipment
      %tr
        %td= label_tag "Weapon"
        %td= select_tag "ranged_weapon", options_for_select(["Maple shortbow", "Willow shortbow"], "Maple shortbow"), style: "width: 135px;"
      %tr
        %td= label_tag "Ammo"
        %td= select_tag "ranged_ammo", options_for_select(["Adamant arrow", "Mithril arrow", "Steel arrow", "Iron arrow", "Bronze arrow"], "Adamant arrow"), style: "width: 135px;", :include_blank => true
      %tr
        %td= "Neck Slot"
        %td= select_tag "ranged_neck", options_for_select(["Amulet of power", "Amulet of accuracy"], "Amulet of power"), style: "width: 135px;", :include_blank => true
      %tr
        %td= "Head Slot"
        %td= select_tag "ranged_head", options_for_select(["Coif", "Leather cowl"], "Coif"), style: "width: 135px;", :include_blank => true
      %tr
        %td= "Body Slot"
        %td= select_tag "ranged_body", options_for_select(["Green d'hide body", "Studded/Hardleather body", "Leather body"], "Green d'hide body"), style: "width: 135px;", :include_blank => true
      %tr
        %td= "Legs Slot"
        %td= select_tag "ranged_legs", options_for_select(["Green d'hide chaps", "Studded chaps", "Leather chaps"], "Green d'hide chaps"), style: "width: 135px;", :include_blank => true
      %tr
        %td= "Hand Slot"
        %td= select_tag "ranged_hand", options_for_select(["Green d'hide vambs", "Leather vambs"], "Green d'hide vambs"), style: "width: 135px;", :include_blank => true

= field_set_tag 'Magic DPS', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 280px;") do 
      %h5 Magic Stats
      %tr
        %td= "Magic Level"
        %td= number_field_tag "magic", 1, {min: 1, max: 99, step: 1, size: 6, maxlength: 3, style: "width:60px"}
      %tr
        %td= "Magic Prayer"
        %td= select_tag "magic_pray", options_for_select(["Mystic Will (+5%)", "Mystic Lore (+10%)", "Mystic Might (+15%)"]), style: "width: 135px;", :include_blank => true
      %tr
        %td= "Spell"
        %td= select_tag "magic_spell", options_for_select(["Fire blast", "Fire bolt", "Fire strike", "Crumble undead"])
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 280px;") do 
      %h5 Equipment
      %tr
        %td= "Weapon"
        %td= select_tag "magic_weapon", options_for_select(["Staff of (element)"], "Staff of (element)"), style: "width: 135px;", :include_blank => true
      %tr
        %td= "Neck Slot"
        %td= select_tag "magic_neck", options_for_select(["Amulet of magic", "Amulet of power", "Amulet of accuracy"], "Amulet of magic"), style: "width: 135px;", :include_blank => true
      %tr
        %td= "Head Slot"
        %td= select_tag "magic_head", options_for_select(["Wizard hat"], "Wizard hat"), style: "width: 135px;", :include_blank => true
      %tr
        %td= "Body Slot"
        %td= select_tag "magic_body", options_for_select(["Wizard robe", "Zamorak robe top"], "Wizard robe"), style: "width: 135px;", :include_blank => true
      %tr
        %td= "Legs Slot"
        %td= select_tag "magic_legs", options_for_select(["Zamorak robe"], "Zamorak robe"), style: "width: 135px;", :include_blank => true

= field_set_tag 'Mob', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 340px;") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 340px;") do 
      %tr
        %td= "Mob Name"
        %td= select_tag "mob_name", options_for_select(["Ogress Warrior", "Ogress Shaman", "Lesser demon", "Moss giant", "Hill giant", "Giant spider", "Flesh crawler"]), style: "width: 205px;", :include_blank => true


= field_set_tag 'Results', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 280px;") do 
      %h5 Melee DPS
      %tr
        %td= label_tag "Melee Accuracy"
        %td= text_field_tag "melee_accuracy", "", :disabled => true, :remote => true
      %tr
        %td= label_tag "Melee Max Hit"
        %td= text_field_tag "melee_maxhit", "", :disabled => true, :remote => true
      %tr
        %td= label_tag "Melee DPS"
        %td= text_field_tag "melee_dps", "", :disabled => true, :remote => true
      %tr
        %td= label_tag "Melee XP/hr"
        %td= text_field_tag "melee_xph", "", :disabled => true, :remote => true
