- @title = "DPS Calcs" 
= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donations", donate_path
    
= field_set_tag 'Melee DPS', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 280px;") do 
      %h5 Melee Stats
      %tr
        %td= label_tag "Attack Level"
        %td= number_field_tag "att", 1, {min: 1, max: 99, step: 1, size: 6, maxlength: 3, style: "width:60px", remote: true}
      %tr
        %td= label_tag "Attack Prayer"
        %td= select_tag "att_pray", options_for_select(["Clarity of Thought (+5%)", "Improved Reflexes (+10%)", "Incredible Reflexes (+15%)"]), style: "width: 105px;", :include_blank => true
      %tr
        %td= label_tag "Strength Level"
        %td= number_field_tag "str", 1, {min: 1, max: 99, step: 1, size: 6, maxlength: 3, style: "width:60px"}
      %tr
        %td= label_tag "Strength Prayer"
        %td= select_tag "str_pray", options_for_select(["Burst of Strength (+5%)", "Superhuman Strength (+10%)", "Ultimate Strength (+15%)"]), style: "width: 105px;", :include_blank => true
      %tr  
        %td= label_tag "Strength Potion?"
        %td= check_box_tag "str_pot", 1
      %tr
        %td= label_tag "Combat Style"
        %td= select_tag "melee_style", options_for_select(["Accurate", "Aggressive", "Controlled", "Defensive"])
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 280px;") do 
      %h5 Equipment
      %tr 
        %td= label_tag "Weapon"
        %td= select_tag "melee_weapon", options_for_select(["Rune scimitar", "Rune sword", "Rune 2h sword", "Hill giant club", "Adamant scimitar", "Adamant sword", "Adamant 2h sword", "Event rpg", "None"], "Rune scimitar"), style: "width: 135px;", :include_blank => true
      %tr
        %td= label_tag "Neck Slot"
        %td= select_tag "melee_neck", options_for_select(["Amulet of power", "Amulet of strength", "Amulet of accuracy"]), style: "width: 135px;", :include_blank => true
    
= field_set_tag 'Mob', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 340px;") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 340px;") do 
      %tr
        %td= "Mob Name"
        %td= select_tag "mob_name", options_for_select(["Ogress Warrior", "Ogress Shaman", "Lesser demon", "Moss giant", "Hill giant", "Giant spider", "Flesh crawler"]), style: "width: 205px;", :include_blank => true


= field_set_tag 'Results', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 280px;") do 
      %h5 Melee DPS
      %tr
        %td= label_tag "Melee Accuracy"
        %td= text_field_tag "melee_accuracy", "", :disabled => true, :remote => true
      %tr
        %td= label_tag "Melee Max Hit"
        %td= text_field_tag "melee_maxhit", "", :disabled => true, :remote => true
      %tr
        %td= label_tag "Melee DPS"
        %td= text_field_tag "melee_dps", "", :disabled => true, :remote => true
      %tr
        %td= label_tag "Melee XP/hr"
        %td= text_field_tag "melee_xph", "", :disabled => true, :remote => true
