- @title = "DPS Calcs" 
= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donations", donate_path
    
= field_set_tag 'Melee', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    %h5 Attack
    = "Level"
    &nbsp
    = number_field_tag "att", 1, {min: 1, max: 99, step: 1, size: 6, maxlength: 3, style: "width:60px"}
    %br
    = "Prayer"
    = select_tag "att_pray", options_for_select(["Clarity of Thought (+5%)", "Improved Reflexes (+10%)", "Incredible Reflexes (+15%)"]), style: "width: 205px;", :include_blank => true
    %br
    %h5 Strength
    = "Level"
    &nbsp
    = number_field_tag "str", 1, {min: 1, max: 99, step: 1, size: 6, maxlength: 3, style: "width:60px"}
    %br
    = "Prayer"
    = select_tag "str_pray", options_for_select(["Burst of Strength (+5%)", "Superhuman Strength (+10%)", "Ultimate Strength (+15%)"]), style: "width:205px;", :include_blank => true
    %br
    = "Strength Potion?"
    = check_box_tag "str_pot", 1
  
    %br
    = "Combat Style"
    = select_tag "melee_style", options_for_select(["Accurate/Defensive", "Aggressive", "Controlled"])
    %br
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    %h5 Equipment
    = "Weapon"
    &nbsp
    = select_tag "melee_weapon", options_for_select(["Rune scimitar", "Rune sword", "Rune 2h sword", "Hill giant club", "Adamant scimitar", "Adamant sword", "Adamant 2h sword", "None"], "Rune scimitar"), style: "width: 135px;", :include_blank => true
    %br
    = "Neck Slot"
    = select_tag "melee_neck", options_for_select(["Amulet of power", "Amulet of strength", "Amulet of accuracy"]), style: "width: 135px;", :include_blank => true
    %br
    
= field_set_tag 'Ranged', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    %h5 Ranged
    = "Level"
    &nbsp
    = number_field_tag "ranged", 1, {min: 1, max: 99, step: 1, size: 6, maxlength: 3, style: "width:60px"}
    %br
    = "Prayer"
    = select_tag "ranged_pray", options_for_select(["Sharp Eye (+5%)", "Hawk Eye (+10%)", "Eagle Eye (+15%)"]), style: "width: 135px;", :include_blank => true
  
    %br
    = "Combat Style"
    = select_tag "ranged_style", options_for_select(["Accurate", "Rapid", "Long range"], "Rapid")
    %br
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    %h5 Equipment
    = "Weapon"
    &nbsp
    = select_tag "ranged_weapon", options_for_select(["Maple shortbow", "Willow shortbow"]), style: "width: 135px;"
    %br
    = "Neck Slot"
    = select_tag "ranged_neck", options_for_select(["Amulet of power", "Amulet of accuracy"]), style: "width: 135px;", :include_blank => true
    %br
    = "Head Slot"
    = select_tag "ranged_head", options_for_select(["Coif", "Leather cowl"]), style: "width: 135px;", :include_blank => true
    %br
    = "Body Slot"
    = select_tag "ranged_body", options_for_select(["Green d'hide body", "Studded/Hardleather body", "Leather body"]), style: "width: 135px;", :include_blank => true
    %br
    = "Legs Slot"
    = select_tag "ranged_legs", options_for_select(["Green d'hide chaps", "Studded chaps", "Leather chaps"]), style: "width: 135px;", :include_blank => true
    %br
    = "Hand Slot"
    = select_tag "ranged_hand", options_for_select(["Green d'hide vambs", "Leather vambs"]), style: "width: 135px;", :include_blank => true
    %br
    
= field_set_tag 'Magic', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    %h5 Magic
    = "Level"
    &nbsp
    = number_field_tag "magic", 1, {min: 1, max: 99, step: 1, size: 6, maxlength: 3, style: "width:60px"}
    %br
    = "Prayer"
    = select_tag "magic_pray", options_for_select(["Mystic Will (+5%)", "Mystic Lore (+10%)", "Mystic Might (+15%)"]), style: "width: 135px;", :include_blank => true
  
    %br
    = "Spell"
    = select_tag "magic_spell", options_for_select(["Fire blast", "Fire bolt", "Fire strike", "Crumble undead"])
    %br
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    %h5 Equipment
    = "Weapon"
    &nbsp
    = select_tag "magic_weapon", options_for_select(["Staff of (element)", "Staff"], "Staff of (element)"), style: "width: 135px;", :include_blank => true
    %br
    = "Neck Slot"
    = select_tag "magic_neck", options_for_select(["Amulet of magic", "Amulet of power", "Amulet of accuracy"], "Amulet of magic"), style: "width: 135px;", :include_blank => true
    %br
    = "Head Slot"
    = select_tag "magic_head", options_for_select(["Wizard hat"]), style: "width: 135px;", :include_blank => true
    %br
    = "Body Slot"
    = select_tag "magic_body", options_for_select(["Wizard robe", "Zamorak robe top"]), style: "width: 135px;", :include_blank => true
    %br
    = "Legs Slot"
    = select_tag "magic_legs", options_for_select(["Zamorak robe"]), style: "width: 135px;", :include_blank => true
    %br
    
= field_set_tag 'Mob', class: "meleedps" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 280px;") do 
    = "Mob"
    = select_tag "mob_name", options_for_select(["Ogress Warrior", "Ogress Shaman", "Lesser demon", "Moss giant", "Hill giant", "Giant spider", "Flesh crawler"]), style: "width: 205px;", :include_blank => true
