= content_tag(:div, nil, style: "text-align: center; width: 240px; padding: 5px; margin: auto;") do 
  %h1 
    = link_to "F2P.wiki", players_path
  = content_tag(:div, nil, style: "font-style: italic; color: white; font-weight: bold; margin: auto; width: 200px; margin-top: 0px; margin-bottom: 0px; color: none; background-color: transparent; border: none") do 
    = "for all your F2P OSRS needs"
  %p#notice= notice

%br
= content_tag(:div, nil, style: "margin: auto; width: 820px; margin-top: 0px; margin-bottom: 10px; color: none; background-color: transparent; border: none") do 
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 115px; padding: 10px;") do 
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, style: "color: white; font-weight: bold; float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 80px; padding: 10px;") do 
    =  "EHP Rates"
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 100px; padding: 10px;") do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 90px; padding: 10px;") do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 75px; padding: 10px;") do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 140px; padding: 10px;") do 
    = link_to "About Us/Donations", donate_path
    
%br  
= content_tag(:div, nil, style: "text-align: center; margin: auto; min-width: 300px; max-width:460px; padding: 5px;") do 
  %h1 F2P EHP Rates
  = "NOTE: F2P IM/HCIM Smithing EHP is adjusted as follows:"
  %br
  = "smithing ehp = (smith_xp - craft_xp/(51.25*13.7))/smith_ehp_rate"
  %br
  = "This calculation ensures that crafting silver does not count double towards EHP."

- f2p_skills = F2POSRSRanks::Application.config.f2p_skills
- ehp_reg = F2POSRSRanks::Application.config.ehp_reg
- ehp_iron = F2POSRSRanks::Application.config.ehp_iron
- ehp_uim = F2POSRSRanks::Application.config.ehp_uim
%br
%table
  %thead
    %tr
      %th Skill
      %th Reg EHP
      %th IM/HCIM EHP
      %th UIM EHP
  %tbody
    - f2p_skills.each do |skill|
      %tr
        %td= image_tag "#{skill}.png"
        %td{:align => "center"}
          - ehp_reg["#{skill}_tiers"].each.with_index do |tier, idx|
            = "#{tier} xp: #{ehp_reg["#{skill}_xphrs"][idx]} xp/hr"
            %br
        %td{:align => "center"}
          - ehp_iron["#{skill}_tiers"].each.with_index do |tier, idx|
            = "#{tier} xp: #{ehp_iron["#{skill}_xphrs"][idx]} xp/hr"
            %br
        %td{:align => "center"}
          - ehp_uim["#{skill}_tiers"].each.with_index do |tier, idx|
            = "#{tier} xp: #{ehp_uim["#{skill}_xphrs"][idx]} xp/hr"
            %br