= content_tag(:div, nil, class: ["div", "title"]) do 
  %h1 
    = link_to "F2P.wiki", players_path
  = content_tag(:div, nil, class: ["container", "subtitle"]) do 
    = "for all your F2P OSRS needs"
  %p#notice= notice

%br
= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, class: ["bar", "ehp", "selected-link"]) do 
    = "EHP Rates"
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donations", donate_path
    
 
- f2p_skills = F2POSRSRanks::Application.config.f2p_skills
- ehp_reg = F2POSRSRanks::Application.config.ehp_reg
- ehp_iron = F2POSRSRanks::Application.config.ehp_iron
- ehp_uim = F2POSRSRanks::Application.config.ehp_uim
= content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; width: 660px; height: 63px; margin-bottom: 0px;") 
= content_tag(:table, nil, style: "text-align: center; margin: auto; width: 660px; min-width: 660px; padding: 5px; margin-bottom: 0px;") do 
  %thead
    %tr
      %th Skill
      %th Reg EHP
      %th IM/HCIM EHP
      %th UIM EHP
  %tbody
    - f2p_skills.each do |skill|
      %tr{:style => "border-top: 1px solid black;" }
        %td= image_tag "skills/#{skill}.png"
        %td{:align => "center"}
          - ehp_reg["#{skill}_tiers"].each.with_index do |tier, idx|
            = "#{tier} xp: #{ehp_reg["#{skill}_xphrs"][idx]} xp/hr"
            %br
        %td{:align => "center"}
          - ehp_iron["#{skill}_tiers"].each.with_index do |tier, idx|
            = "#{tier} xp: #{ehp_iron["#{skill}_xphrs"][idx]} xp/hr"
            %br
        %td{:align => "center"}
          - ehp_uim["#{skill}_tiers"].each.with_index do |tier, idx|
            = "#{tier} xp: #{ehp_uim["#{skill}_xphrs"][idx]} xp/hr"
            %br
= content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin: auto; width: 660px; height: 63px; margin-bottom: 0px;") 
