- @title = "F2P EHP" 
- @description = "List of F2P EHP rates for each account type and the associated methods." 
= link_to image_tag("f2pwiki_500.png"), players_path

= render :partial => "header.html.haml",  :locals => {notice: notice}

- f2p_skills = F2POSRSRanks::Application.config.f2p_skills
- ehp_reg = F2POSRSRanks::Application.config.ehp_reg
- ehp_iron = F2POSRSRanks::Application.config.ehp_iron
- ehp_uim = F2POSRSRanks::Application.config.ehp_uim
- bonus_xp_reg = F2POSRSRanks::Application.config.bonus_xp_reg
- bonus_xp_iron = F2POSRSRanks::Application.config.bonus_xp_iron
- bonus_xp_uim = F2POSRSRanks::Application.config.bonus_xp_uim

= link_to "What is EHP?", "https://redd.it/834aag", target: "_blank", rel: "noopener noreferrer"
= "|"
= link_to "EHP Methods", "#ehp-methods"
= "|"
= link_to "Bonus XP", "#bonus-xp"
%br
= content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; width: 660px; height: 63px; margin-bottom: 0px;") 
= content_tag(:table, nil, style: "text-align: center; margin: auto; width: 660px; min-width: 660px; padding: 5px; margin-bottom: 0px;") do 
  %thead
    %tr
      %th Skill
      %th Reg EHP
      %th IM/HCIM EHP
      %th UIM EHP
  %tbody
    - f2p_skills.each do |skill|
      %tr{:style => "border-top: 1px solid black;" }
        %td= image_tag "skills/#{skill}.png"
        %td{:align => "center"}
          - ehp_reg["#{skill}_tiers"].each.with_index do |tier, idx|
            - tier = number_with_delimiter(tier.to_i, :delimiter => ",") 
            - xphr = number_with_delimiter("#{ehp_reg["#{skill}_xphrs"][idx]}".to_i, :delimiter => ",") 
            - if xphr.to_s == "0"
              = "#{tier} xp: 0 EHP given"
            - else
              = "#{tier} xp: #{xphr} xp/hr"
            %br
        %td{:align => "center"}
          - ehp_iron["#{skill}_tiers"].each.with_index do |tier, idx|
            - tier = number_with_delimiter(tier.to_i, :delimiter => ",") 
            - xphr = number_with_delimiter("#{ehp_iron["#{skill}_xphrs"][idx]}".to_i, :delimiter => ",") 
            - if xphr.to_s == "0"
              = "#{tier} xp: 0 EHP given"
            - else
              = "#{tier} xp: #{xphr} xp/hr"
            %br
        %td{:align => "center"}
          - ehp_uim["#{skill}_tiers"].each.with_index do |tier, idx|
            - tier = number_with_delimiter(tier.to_i, :delimiter => ",") 
            - xphr = number_with_delimiter("#{ehp_uim["#{skill}_xphrs"][idx]}".to_i, :delimiter => ",") 
            - if xphr.to_s == "0"
              = "#{tier} xp: 0 EHP given"
            - else
              = "#{tier} xp: #{xphr} xp/hr"
            %br
= content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin: auto; width: 660px; height: 63px; margin-bottom: 0px;") 
%br
%br
%br

= content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; width: 660px; height: 63px; margin-bottom: 0px;") 
= content_tag(:table, nil, id: "ehp-methods", style: "text-align: center; margin: auto; width: 660px; min-width: 660px; padding: 5px; margin-bottom: 0px;") do 
  %thead
    %tr
      %th Skill
      %th Reg EHP
      %th IM/HCIM EHP
      %th UIM EHP
  %tbody
    - f2p_skills.each do |skill|
      %tr{:style => "border-top: 1px solid black;" }
        %td= image_tag "skills/#{skill}.png"
        %td{:align => "center"}
          = ehp_reg["#{skill}_method"]
        %td{:align => "center"}
          = ehp_iron["#{skill}_method"]
        %td{:align => "center"}
          = ehp_uim["#{skill}_method"]
= content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin: auto; width: 660px; height: 63px; margin-bottom: 0px;") 
%br
%br
%br

= content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; width: 660px; height: 63px; margin-bottom: 0px;") 
= content_tag(:table, nil, id: "bonus-xp", style: "text-align: left; margin: auto; width: 660px; min-width: 660px; padding: 5px; margin-bottom: 0px;") do 
  %thead
    %tr
      %th{:style => "text-align: center"} Reg Bonus XP
  %tbody
    - bonus_xp_reg.each do |ratio, bonus_for, bonus_from, start_xp, end_xp|
      %tr
        %td{:style => "padding-left: 140px;"}= "#{ratio} #{bonus_for.capitalize}:#{bonus_from.capitalize} from #{start_xp} #{bonus_from.capitalize} XP to #{end_xp}"
  
  %thead
    %tr
      %th{:style => "text-align: center"} IM/HCIM Bonus XP
  %tbody
    - bonus_xp_iron.each do |ratio, bonus_for, bonus_from, start_xp, end_xp|
      %tr
        %td{:style => "padding-left: 140px;"}= "#{ratio} #{bonus_for.capitalize}:#{bonus_from.capitalize} from #{start_xp} #{bonus_from.capitalize} XP to #{end_xp}"
    
  %thead
    %tr
      %th{:style => "text-align: center"} UIM Bonus XP
  %tbody
    - bonus_xp_uim.each do |ratio, bonus_for, bonus_from, start_xp, end_xp|
      %tr
        %td{:style => "padding-left: 140px;"}= "#{ratio} #{bonus_for.capitalize}:#{bonus_from.capitalize} from #{start_xp} #{bonus_from.capitalize} XP to #{end_xp}"
= content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin: auto; width: 660px; height: 63px; margin-bottom: 0px;") 
