= content_tag(:div, nil, style: "text-align:center; margin: auto; min-width: 300px; max-width:300px; padding: 5px;") do 
  %h1 
    = F2POSRSRanks::Application.config.version 
  = "please feel free to send any feedback to f2posrsranks@gmail.com"
  %br
  %p#notice= notice
  = link_to 'Back', players_path
  %br
  = link_to "View Changelog", changelog_path
  %br
  = link_to "View EHP Rates", ehp_path
  %br
  = link_to "About Us/Donations", donate_path

%br
= content_tag(:div, nil, style: "margin: auto; min-width: 205px; max-width: 205px; padding: 5px;") do 
  %h1 F2P Hall of Shame
  = "special thanks to Pawz for his confirmed fake f2p list"


%br
= content_tag(:div, nil, style: "margin: auto; max-width: 220px; overflow-x: auto; margin-top: 5px; margin-bottom: 5px; color: none; background-color: transparent; border: none") do 
  = content_tag(:table, nil, style: "margin-right: auto; float: left; width: 100px; min-width: 100px; padding: 5px; margin-bottom: 10px;") do 
    %thead
      %tr
        %th Banned
    %tbody
      - F2POSRSRanks::Application.config.banned.each do |player|
        %tr
          %td{:align => "center"}= player
          
  = content_tag(:table, nil, style: "margin-left: auto; float: right; width: 100px; min-width: 100px; padding: 5px; margin-bottom: 10px;") do 
    %thead
      %tr
        %th Fake F2P
    %tbody
      - F2POSRSRanks::Application.config.fakes.each do |player|
        %tr
          %td{:align => "center"}= player