- @title = "F2P Hall of Shame" 
= link_to image_tag("f2pwiki_500.png"), players_path

= render :partial => "header.html.haml",  :locals => {notice: notice}
    
= content_tag(:div, nil, style: "margin: auto; width: 225px; padding: 5px;") do 
  %h1 F2P Hall of Shame
  = "special thanks to Pawz for his confirmed fake f2p list"

= content_tag(:div, nil, style: "margin: auto; max-width: 220px; overflow-x: auto; margin-top: 10px; margin-bottom: 5px; color: none; background-color: transparent; border: none") do 
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 100px;") do 
    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; width: 100px; height: 9px; margin-bottom: 0px;") 
    = content_tag(:table, nil, style: "width: 100px; min-width: 100px; padding: 5px; margin-bottom: 0px;") do 
      %thead
        %tr
          %th Fake F2P
      %tbody
        - F2POSRSRanks::Application.config.fakes.each do |player|
          %tr
            %td{:align => "center"}= player
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin: auto; width: 100px; height: 9px; margin-bottom: 0px;") 

  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 20px; width: 100px;") do 
    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; width: 100px; height: 9px; margin-bottom: 0px;") 
    = content_tag(:table, nil, style: "margin-left: auto; float: right; width: 100px; min-width: 100px; padding: 5px; margin-bottom: 0px;") do 
      %thead
        %tr
          %th Banned
      %tbody
        - F2POSRSRanks::Application.config.banned.each do |player|
          %tr
            %td{:align => "center"}= player
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin: auto; width: 100px; height: 9px; margin-bottom: 0px;") 
