- @title = "FAQs"
- @description = "Frequently asked questions"
= link_to image_tag("f2pwiki.png"), players_path

= render :partial => "header.html.haml",  :locals => {notice: notice}

= content_tag(:div, nil, class: "container", id: "headerCompare", style: "margin: auto; width: 765px; height: 46px; margin-bottom: 0px;")
= content_tag(:div, nil, class: ["container", "scroll", "wide-scroll-middle"], style: "margin-bottom: 0px;") do
  = content_tag(:div, nil, class: "container", style: "width: 460px; text-align: left;") do
    %h1{:align => "center"} Frequently Asked Questions
    = content_tag(:p, nil, style: "text-align:center; margin: auto; margin-top: 0px; margin-bottom: 0px; color: none; background-color: transparent; border: none") do 
      = "Please visit "
      = link_to "this reddit post", "https://www.reddit.com/r/W385/comments/fdqw8p/what_is_f2pwiki/", target: "_blank", rel: "noopener noreferrer"
      = "for our general site philosophy, specifically on what is F2P, and what this site is meant for."
      %br
      %br

    %h2
      = "F2P Wiki"
    %details
      %summary
        = "How can I submit a question for the FAQ?"
      = "You can submit a question by contacting us "
      = link_to_unless_current "here.", donate_path
    %details
      %summary
        = "Why does F2P Wiki sometimes show a 500 error?"
      = "F2P Wiki collects data by making requests to the official Oldschool Runescape Hiscores. These Hiscores are inconsistant in uptime and response time which makes it difficult for F2P Wiki."
      %br
      %br
      = "We are currently working on improving this by migrating the server and improving the request handling code."
    %details
      %summary
        = "Why are gains/records not working?"
      = "Gains and records are only available for players with 250 EHP or more, or players who have "
      = link_to_unless_current "supported the wiki.", donate_path
    %details
      %summary
        = "When does F2P Wiki get updated?"
      = "F2P Wiki is currently run by a single developer with a full time job and other life responsibilities. I release updates when I have time to work on the Wiki but anyone can contribute through "
      = link_to "open source on GitHub.", "https://github.com/vmeow/f2pehp", target: "_blank", rel: "noopener noreferrer"
    %details{:id => 'why-clans-use-temple'}
      %summary
        = "Why do clans use Temple OSRS for EHP rates instead of F2P Wiki?"
      = "Temple OSRS has the most accurate representation of EHP for F2P account types. This is not to do with the rates that are set on the wiki, but rather how the bonus XP is working on Temple compared to F2P wiki."
      %br
      %br
      = "With more database records costing more money, and the goal of the wiki to be able to track EHP with limited uptime cost, the database design was simple but efficient and allowed us to have less than 10k records per table giving us the free database tier on our hosting provider, Heroku."
      %br
      %br
      = "However, this simple way does come with a lot of limitations. We don't track data points, but rather update set values on your page every time you update. The weekly values get reset every week and etc. This means that we can't go back in time to any point with your character, or display graphs."
      %br
      %br
      = "This has been fine for the most part. But when it comes to how to calculate bonus xp, we run into a lot of complications. This is why even though our rates are actually pretty accurate and representative of what xp/h should be, it's not 100% accurate of what the EHP should be."
      %br
      %br
      = "So why don't you change the way bonus XP is calculated? The simple answer is... it's a lot of work. To get the same rates as Temple we would likely have to rebuild the entire way EHP is calculated, and redesign the database. Then migrate all of our current data across. This would be like rewriting half of the application which I am not in any hurry to do."
      %br
      %br
      = "I hope you understand the situation the wiki is in. I'm glad a lot of you still enjoy using the wiki, but there are no plans in the future to redesign it and therefore no plans for this to be used for clans. I will still strive to update the rates on wiki when a method or meta is used, but EHP will always be a little bit off in comparison to Temple."




    %h2
      = "Combat"
    %details
      %summary
        = "What is better: Rune Scimitar, Rune Sword or Barronite Mace?"
      = "The Rune Scimitar is best for all monsters aside from Golems as the Barronite Mace gives a 15% damage bonus against Golems. Due to the low defence of most F2P monsters, max hit on a fast hitting (4 tick) weapon is usually going to determine the highest dps. Due to the Rune Sword providing 1 strength bonus less than the Barronite Mace, these weapons are very similar but at some specific strength levels the Barronite Mace will provide an extra max hit."
      %br
      %br
      = "I have created a"
      = link_to "sheet", "https://docs.google.com/spreadsheets/d/1DTBUhxe4CSZqrUV9nNAGTEe0RlWmsWmvsPlP_Knje3k/edit?usp=sharing", target: "_blank", rel: "noopener noreferrer"
      = "to view the max hit of each of the weapons at each strength level. Please contact me to update the sheet in any way by emailing f2posrsranks@gmail.com."
    %details
      %summary
        = "Can I do Dragon Slayer at level _?"
      = "Base 40 melees are a good goal before facing Elvarg however if you flinch (attacking in delays to prevent taking damage) you can kill Elvarg at significantly lower stats."
    %details
      %summary
        = "Can I kill Obor at level _?"
      = "Despite what strategy you use, we highly recommend 40 Prayer for Protect from Missiles to reduce the max hit from 26 to 22 (melee)."
      %br
      %br
      = "The minimum Ranged or Magic level we recommend is 50 while using the Bind/Snare strategy."
      %br
      %br
      = "As the Melee strategy requires you to face tank Obor directly, we recommend a minimum of base 70 melees."

    %details
      %summary
        = "Can I kill Bryophyta at level _?"
      = "Similar to Obor, despite what strategy you use, we highly recommend having at least 37 Prayer for Protect from Magic."
      %br
      %br
      = "For the Ranged strategy, we recommend a minimum of 60 Ranged and 40 Defence."
      %br
      %br
      = "For the Melee strategy, we recommend a minimum of 65 Attack and Strength, and 40 Defence."

    %details
      %summary
        = "Can I kill Ogresses at level _?"
      = "We recommend either level 50 Ranged, level 50 Magic (or 55 for Ultimates) or base 80s for Melee (75 if Prayer flicking)."
    %details
      %summary
        = "What arrows should I use at Ogresses?"
      = "If you are casting High Level Alchemy on the Rune drops from Ogresses, you will easily cover the cost of using adamant arrows. We recommend buying a maximum of 50 adamant arrows per world from Lowe's Archery Emporium in Varrock."
      %br
      %br
      = "If you are curious about arrow consumption, you can "
      = link_to "view Tannerdino's Arrow Consumption Spreadsheet.", "https://docs.google.com/spreadsheets/d/1TsPH2rPa2B5WF7TeWj2elH5PktrKpKHiA9SFLnW36Vc/edit#gid=0", target: "_blank", rel: "noopener noreferrer"
    %details
      %summary
        = "If I die to Obor/Bryophyta will I lose my stuff?"
      = "As of the "
      = link_to "Death Mechanics Update", "https://secure.runescape.com/m=news/death-changes?oldschool=1", target: "_blank", rel: "noopener noreferrer"
      = " on the 25th June 2020, if you die to either Obor or Bryophyta your items will show as a pile (if an ultimate ironman) or a gravestone outside the instance."
    %details
      %summary
        = "How do I get a Rune Scimitar?"
      = "Unfortunately, no monster in F2P drops the rune scimitar. The only way to receive one as an ironman is to smith one at 90 smithing (or 89 with a +1 Dwarven stout boost). The best alternative is a Rune (short) sword which you can purchase from Scavvo in the Champions guild for 20,800 coins."
    %details
      %summary
        = "Rune short or long?"
      = "The Rune short sword always amounts to a higher number of DPS on any monster in F2P, however a Rune longsword does have use as a flinching (attacking in delays to prevent taking damage) weapon."
      %br
      %br
      = "You can play around with the DPS of different weapons using our "
      = link_to "Combat DPS Calc.", dps_path
    %details
      %summary
        = "Are the Snare and Entangle spells now F2P?"
      = "The Snare spell was added to F2P on the 5th of September 2019 but Entangle remains P2P."
    %details
      %summary
        = "Where should I kill Imps?"
      = "South of Falador and around the Karamja volcano are the best places to kill Imps."
    %details
      %summary
        = "What is the best way to get level 55 Magic?"
      = "Curse splashing is a fast and affordable way to hit level 55 Magic."
    %details
      %summary
        = "What combat achievements are F2P?"
      = "14 tasks, 6 from bryophyta, 6 from obor, 2 from greater demons."
      %br
      %br
      = "Bryophyta easy tasks: Fighting as Intended II, Preparation is Key, Protection from Moss, Bryophyta Novice."
      %br
      %br
      = "Bryophyta medium tasks: Quick Cutter, Bryophyta Champion."
      %br
      %br
      = "Greater Demon easy tasks: Not So Great After All, A Greater Foe."
      %br
      %br
      = "Obor easy tasks: Fighting as Intended, Sleeping Giant, Obor Novice."
      %br
      %br
      = "Obor medium tasks: Squashing the Giant, Back to the Wall, Obor Champion."

    %h2
      = "Skilling"
    %details
      %summary
        = "Can I get a better axe than steel without smithing?"
      = "There is a 1/805 chance of receiving a black axe from beginner clues. You will need to smith the Mithril, Adamant and Rune axes."
    %details
      %summary
        = "Is the Ring of Forging (rof) F2P?"
      = "Yes. As of the 21st of February 2019, Rings of Forging can be created in F2P by paying Murkey Matt at the Grand Exchange 250 coins and a ruby ring."
    %details
      %summary
        = "How do I get rubies?"
      = "The most common ways to obtain rubies are to "
      %br
      %br
      = "- Kill monsters with access to the rare drop table"
      %br
      %br
      = "- Complete random events (Pinball can reward 5 noted, Prison Pete can reward 2-5 noted and the Mysterious Old Man and Rick Turpentine can reward a single ruby)"
      %br
      %br
      = "- Randomly find them while mining ore"

    %details
      %summary
        = "Best place to mine iron?"
      = "As a regular or hardcore ironman, the best place to mine iron is the Mining Guild at level 60. Prior to this, the best place to mine iron is the Rimmington Mine and bank at the Port Sarim deposit box."
    %details
      %summary
        = "Tiaras or symbols?"
      = "Unstrung symbols grant 50 experience when crafted and sell for 80 coins to a general store. Tiaras grant 52.5 experience when crafting and sell for 40 coins in a general store."
      %br
      %br
      = "Generally tiaras are seen as the better option as you get enough coins from killing Ogresses."
    %details
      %summary
        = "Where do I get a brown apron?"
      = "You can buy a brown apron for 2 coins from Thessalia's Fine Clothes in the center of Varrock."
    %details
      %summary
        = "Where can I get a Earth talisman?"
      = "It is recommended to kill either Men/Woman or the Earth Wizard south of Falador to get a earth talisman."
      %br
      %br
      = "As a level 3, you can receive a earth talisman through the "
      = link_to "Camdozaal Vault", "https://oldschool.runescape.wiki/w/Camdozaal_Vault", target: "_blank", rel: "noopener noreferrer"
      = "activity."
    %details
      %summary
        = "Where can I get a Body talisman?"
      = "You can kill Guards or Hill Giants to get a body talisman."
      %br
      %br
      = "As a level 3, you can receive a body talisman through the "
      = link_to "Camdozaal Vault", "https://oldschool.runescape.wiki/w/Camdozaal_Vault", target: "_blank", rel: "noopener noreferrer"
      = "activity."
    %details
      %summary
        = "What is the average Fishing experience per feather?"
      = "The average Fishing experience is 58.4 per feather."
      
    %h2
      = "Miscellaneous"
    %details
      %summary
        = "Can I change the name on a Free To Play account?"
      = "At this point in time, you need to make your account a member before using a bond to change your name. The only other way for your name to be changed in Free To Play is if you have an offensive name which gets reported by the community."
      %br
      %br
      = "It should be noted that the F2P Wiki accepts players that have name changed, as long as you still embody "
      = link_to "F2P Spirit", "https://www.reddit.com/r/W385/comments/fdqw8p/what_is_f2pwiki/", target: "_blank", rel: "noopener noreferrer"
      = ", however other communities within Free To Play are not as accepting. Please consider these communities before finalizing your decision."
    %details
      %summary
        = "What is the fastest way to get clues?"
      = "Dark Wizards, Minotaurs and Goblins are the best monsters to kill for clues."
      %br
      %br
      = "Regular accounts are advised to kill Dark Wizards as they are technically the fastest (most clues per HP) and will be able to buy sceptre pieces from the Grand Exchange."
      %br
      %br
      = "All types of ironmen are advised to kill Minotaurs they also have a high droprate and it allows them to bank or convert sceptre pieces into bone fragments to be used for Body Runecrafting."
      %br
      %br
      = "Alternatively, goblins have a slightly higher droprate than Minotaurs but lack any other useful drops."
    %details
      %summary
        = "How much does _ sell for? How many should I sell per world?"
      = "When selling to a General Store, it will sell at the Low Level Alchemy value of that item and will decrease by 7.5% per additional item sold. The minimum price will be reached after you sell 10 items."
      %br
      %br
      = "When selling to a specialty store or the Wilderness Bandit Camp, it will sell at the High Level Alchemy value of that item and will decrease by 7.5% per additional item sold. The minimum price will be reached after you sell 17 items."
    %details
      %summary
        = "What is the fastest way to make money?"
      = "The fastest way to make money as an ironman is to kill Ogresses and cast High Level Alchemy on the Rune drops."
    %details
      %summary
        = "Quickest way to get a Cosmic rune?"
      = "Dark Wizards, Hill Giants, or Ogresses are the best way to get a Cosmic rune. If you are up for it, you could instead venture to the most northwestern point of the Wilderness as there is a Cosmic rune spawn."
    %details
      %summary
        = "Can I get an iron bar without 15 smithing?"
      = "You can find an iron bar west of the Graveyard of Shadows which is next to some bears in trees in level 18 Wilderness."
    %details
      %summary
        = "If I die in Last Man Standing (LMS) do I lose my HCIM status?"
      = "LMS, Castle Wars, Clan Wars, and Duel Arena are all considered Safe Minigames. If you die, you will not lose your HCIM status."
    %details
      %summary
        = "How many collection logs slots are F2P?"
      = "There are currently 88 collection log slots available to F2P players. This includes 1 boss drop from Obor, 1 boss drop from Bryophyta, 16 beginner clue uniques, 30 Castle Wars items, 9 Camdozaal items, 23 random event items, 1 Forestry item (Felling axe handle for 10k bark, 500 oak logs), and 7 miscellaneous items (2 boss keys, 4 skull sceptre pieces, 1 ogress shaman mask)."
      %br
      %br
      = "Accounts created before 3 June 2021 had access to 14 additional items from Last Man Standing reward store, theoretically giving up to 101 collection log slots filled. These items now require membership to purchase even if you accumulate the points or wins to obtain them in F2P."
    %details
      %summary
        = "Why can't I use the Grand Exchange on a new account?"
      = "New F2P accounts have account restrictions on them which limit what items you can sell. These restrictions are removed once you have 20+ hours in game time, 10+ quest points and 100+ total level. You can view the list of restricted items at"
      = link_to "https://oldschool.runescape.wiki/w/Account#Restricted_items", "https://oldschool.runescape.wiki/w/Account#Restricted_items", target: "_blank", rel: "noopener noreferrer"

= content_tag(:div, nil, class: "container", id: "footerCompare", style: "margin:auto; width: 765px; height: 50px; margin-top: 0px;") 