- @title = "DPS Calcs" 
= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "Hiscores", ranks_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "calcs"]) do 
    = link_to "Calculators", calcs_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donate", donate_path

- itemc = ItemsController.new
- itemc.update_prices

- summary = URI.parse('https://rsbuddy.com/exchange/summary.json')
- prices = JSON.parse(summary.read.gsub('\"', '"'))

- items = Hash.new
- items["Iron ore"] = prices["440"]["overall_average"].to_f
- items["Silver ore"] = prices["442"]["overall_average"].to_f
- items["Gold ore"] = prices["444"]["overall_average"].to_f
- items["Mithril ore"] = prices["447"]["overall_average"].to_f
- items["Adamantite ore"] = prices["449"]["overall_average"].to_f
- items["Runite ore"] = prices["451"]["overall_average"].to_f
- items["Coal"] = prices["453"]["overall_average"].to_f
- items["Iron bar"] = prices["2351"]["overall_average"].to_f
- items["Silver bar"] = prices["2355"]["overall_average"].to_f
- items["Gold bar"] = prices["2357"]["overall_average"].to_f
- items["Steel bar"] = prices["2353"]["overall_average"].to_f
- items["Mithril bar"] = prices["2359"]["overall_average"].to_f
- items["Adamantite bar"] = prices["2361"]["overall_average"].to_f
- items["Runite bar"] = prices["2363"]["overall_average"].to_f
- items["Iron platebody"] = prices["1115"]["overall_average"].to_f
- items["Steel platebody"] = prices["1119"]["overall_average"].to_f
- items["Mithril platebody"] = prices["1121"]["overall_average"].to_f
- items["Adamant platebody"] = prices["1123"]["overall_average"].to_f
- items["Rune platebody"] = prices["1127"]["overall_average"].to_f
- items["Rune platelegs"] = prices["1079"]["overall_average"].to_f
- items["Rune plateskirt"] = prices["1093"]["overall_average"].to_f
- items["Rune 2h sword"] = prices["1319"]["overall_average"].to_f
- items["Steel nails"] = prices["1539"]["overall_average"].to_f
- items["Uncut sapphire"] = prices["1623"]["overall_average"].to_f
- items["Uncut emerald"] = prices["1621"]["overall_average"].to_f
- items["Uncut ruby"] = prices["1619"]["overall_average"].to_f
- items["Uncut diamond"] = prices["1617"]["overall_average"].to_f
- items["Sapphire"] = prices["1607"]["overall_average"].to_f
- items["Emerald"] = prices["1605"]["overall_average"].to_f
- items["Ruby"] = prices["1603"]["overall_average"].to_f
- items["Diamond"] = prices["1601"]["overall_average"].to_f
- items["Gold ring"] = prices["1635"]["overall_average"].to_f
- items["Gold necklace"] = prices["1654"]["overall_average"].to_f
- items["Gold amulet (u)"] = prices["1673"]["overall_average"].to_f
- items["Sapphire ring"] = prices["1637"]["overall_average"].to_f
- items["Emerald ring"] = prices["1639"]["overall_average"].to_f
- items["Ruby amulet (u)"] = prices["1679"]["overall_average"].to_f
- items["Diamond amulet (u)"] = prices["1681"]["overall_average"].to_f

- if items["Ruby amulet (u)"] == 0
  - response_ruby_ammy = URI.parse("http://services.runescape.com/m=itemdb_oldschool/api/catalogue/detail.json?item=1679")
  - ruby_ammy = JSON.parse(response_ruby_ammy.read.gsub('\"', '"'))
  - items["Ruby amulet (u)"] = ruby_ammy["item"]["current"]["price"].gsub(",", "").to_f

- if items["Diamond amulet (u)"] == 0
  - response_dia_ammy = URI.parse("http://services.runescape.com/m=itemdb_oldschool/api/catalogue/detail.json?item=1681")
  - dia_ammy = JSON.parse(response_dia_ammy.read.gsub('\"', '"'))
  - items["Diamond amulet (u)"] = dia_ammy["item"]["current"]["price"].gsub(",", "").to_f

- items["Logs"] = prices["1511"]["overall_average"].to_f
- items["Oak logs"] = prices["1521"]["overall_average"].to_f
- items["Willow logs"] = prices["1519"]["overall_average"].to_f
- items["Maple logs"] = prices["1517"]["overall_average"].to_f
- items["Yew logs"] = prices["1515"]["overall_average"].to_f
- items["Big bones"] = prices["532"]["overall_average"].to_f
- items["Tiara"] = prices["5525"]["overall_average"].to_f
- items["Air tiara"] = prices["5527"]["overall_average"].to_f
- items["Earth tiara"] = prices["5535"]["overall_average"].to_f
- items["Body tiara"] = prices["5533"]["overall_average"].to_f
- items["Air talisman"] = prices["1438"]["overall_average"].to_f
- items["Earth talisman"] = prices["1440"]["overall_average"].to_f
- items["Body talisman"] = prices["1446"]["overall_average"].to_f
- items["Raw trout"] = prices["335"]["overall_average"].to_f
- items["Raw salmon"] = prices["331"]["overall_average"].to_f
- items["Raw tuna"] = prices["359"]["overall_average"].to_f
- items["Raw lobster"] = prices["377"]["overall_average"].to_f
- items["Raw swordfish"] = prices["371"]["overall_average"].to_f
- items["Trout"] = prices["333"]["overall_average"].to_f
- items["Salmon"] = prices["329"]["overall_average"].to_f
- items["Tuna"] = prices["361"]["overall_average"].to_f
- items["Lobster"] = prices["379"]["overall_average"].to_f
- items["Swordfish"] = prices["373"]["overall_average"].to_f
- items["Grapes"] = prices["1987"]["overall_average"].to_f
- items["Jug of water"] = prices["1937"]["overall_average"].to_f
- items["Jug of wine"] = prices["1993"]["overall_average"].to_f
- items["Anchovies"] = prices["319"]["overall_average"].to_f
- items["Anchovy pizza"] = prices["2297"]["overall_average"].to_f
- items["Plain pizza"] = prices["2289"]["overall_average"].to_f

- items["Nature rune"] = prices["561"]["overall_average"].to_f
- items["Gold amulet"] = prices["1692"]["overall_average"].to_f
- items["Green dhide body"] = prices["1135"]["overall_average"].to_f
- items["Green dhide chaps"] = prices["1099"]["overall_average"].to_f
- items["Green dhide vamb"] = prices["1065"]["overall_average"].to_f
- items["Adamant platelegs"] = prices["1073"]["overall_average"].to_f
- items["Adamant plateskirt"] = prices["1091"]["overall_average"].to_f
- items["Adamant 2h sword"] = prices["1317"]["overall_average"].to_f
- items["Rune dagger"] = prices["1213"]["overall_average"].to_f
- items["Rune sword"] = prices["1289"]["overall_average"].to_f
- items["Rune longsword"] = prices["1303"]["overall_average"].to_f
- items["Rune scimitar"] = prices["1333"]["overall_average"].to_f
- items["Rune axe"] = prices["1359"]["overall_average"].to_f
- items["Rune mace"] = prices["1432"]["overall_average"].to_f
- items["Rune battleaxe"] = prices["1373"]["overall_average"].to_f
- items["Rune warhammer"] = prices["1347"]["overall_average"].to_f
- items["Rune chainbody"] = prices["1113"]["overall_average"].to_f
- items["Rune med helm"] = prices["1147"]["overall_average"].to_f
- items["Rune full helm"] = prices["1163"]["overall_average"].to_f
- items["Rune kiteshield"] = prices["1201"]["overall_average"].to_f
- items["Rune pickaxe"] = prices["1275"]["overall_average"].to_f

- alchs = Item.where(name: ["Gold amulet (u)",
                             "Gold amulet",
                             "Gold necklace",
                             "Gold ring",
                             "Green dhide body",
                             "Green dhide chaps",
                             "Green dhide vamb",
                             "Steel platebody",
                             "Mithril platebody",
                             "Adamant platebody",
                             "Rune platebody",
                             "Adamant platelegs",
                             "Adamant plateskirt",
                             "Adamant 2h sword",
                             "Rune platelegs",
                             "Rune plateskirt",
                             "Rune 2h sword",
                             "Rune dagger",
                             "Rune sword",
                             "Rune longsword",
                             "Rune scimitar",
                             "Rune axe",
                             "Rune battleaxe",
                             "Rune mace",
                             "Rune warhammer",
                             "Rune chainbody",
                             "Rune med helm",
                             "Rune full helm",
                             "Rune kiteshield",
                             "Rune pickaxe"]).order("alch - current DESC")

- skill_items = Hash.new
- skill_items["Smithing"] = [["Iron bar", 12.5, 2*items["Iron ore"], items["Iron bar"]],
                             ["Silver bar", 13.7, items["Silver ore"], items["Silver bar"]],
                             ["Steel nails", 37.5, items["Steel bar"], 15*items["Steel nails"]],
                             ["Steel platebody", 187.5, 5*items["Steel bar"], items["Steel platebody"]],
                             ["Mithril platebody", 250, 5*items["Mithril bar"], items["Mithril platebody"]],
                             ["Adamant platebody", 312.5, 5*items["Adamantite bar"], items["Adamant platebody"]],
                             ["Rune platebody", 375, 5*items["Runite bar"], items["Rune platebody"]],
                             ["Rune platelegs", 202.5, 3*items["Runite bar"], items["Rune platelegs"]],
                             ["Rune plateskirt", 202.5, 3*items["Runite bar"], items["Rune plateskirt"]],
                             ["Rune 2h sword", 202.5, 3*items["Runite bar"], items["Rune 2h sword"]]]

- skill_items["Crafting"] = [["Gold ring", 15, items["Gold bar"], items["Gold ring"]],
                             ["Gold necklace", 20, items["Gold bar"], items["Gold necklace"]],
                             ["Gold amulet (u)", 30, items["Gold bar"], items["Gold amulet (u)"]],
                             ["Sapphire", 50, items["Uncut sapphire"], items["Sapphire"]],
                             ["Sapphire ring", 40, items["Gold bar"] + items["Sapphire"], items["Sapphire ring"]],
                             ["Emerald", 67.5, items["Uncut emerald"], items["Emerald"]],
                             ["Emerald ring", 55, items["Gold bar"] + items["Emerald"], items["Emerald ring"]],
                             ["Ruby", 85, items["Uncut ruby"], items["Ruby"]],
                             ["Diamond", 107.5, items["Uncut diamond"], items["Diamond"]],
                             ["Ruby amulet (u)", 85, items["Gold bar"] + items["Ruby"], items["Ruby amulet (u)"]],
                             ["Diamond amulet (u)", 100, items["Gold bar"] + items["Diamond"], items["Diamond amulet (u)"]]]

- skill_items["Firemaking"] = [["Logs", 40, items["Logs"], 0],
                               ["Oak logs", 60, items["Oak logs"], 0],
                               ["Willow logs", 90, items["Willow logs"], 0],
                               ["Maple logs", 135, items["Maple logs"], 0],
                               ["Yew logs", 202.5, items["Yew logs"], 0]]

- skill_items["Prayer"] = [["Big bones", 15, items["Big bones"], 0]]

- skill_items["Runecraft"] = [["Air tiara", 25, items["Air talisman"] + items["Tiara"], items["Air tiara"]],
                              ["Earth tiara", 33, items["Earth talisman"] + items["Tiara"], items["Earth tiara"]],
                              ["Body tiara", 37.5, items["Body talisman"] + items["Tiara"], items["Body tiara"]]]

- skill_items["Cooking"] = [["Anchovy pizza", 39, items["Anchovies"] + items["Plain pizza"], items["Anchovy pizza"]],
                            ["Trout", 70, items["Raw trout"], items["Trout"]],
                            ["Salmon", 90, items["Raw salmon"], items["Salmon"]],
                            ["Tuna", 100, items["Raw tuna"], items["Tuna"]],
                            ["Lobster", 120, items["Raw lobster"], items["Lobster"]],
                            ["Swordfish", 140, items["Raw swordfish"], items["Swordfish"]],
                            ["Jug of wine", 200, items["Grapes"] + items["Jug of water"], items["Jug of wine"]]]



= link_to "High Alchemy Calculator", "#alch"
  
= field_set_tag 'GP/XP', class: ["dps"], style: "width: 480px; margin: auto;" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 480px; border-right:") do 
    - ["Prayer", "Cooking", "Firemaking", "Crafting", "Smithing", "Runecraft"].each do |skill|
      %h5 #{skill}
      = content_tag(:table, nil, class: ["blank"], style: "width: 480px;") do 
        %tr
          %th Item
          %th 
          %th XP
          %th Buy
          %th Sell
          %th Net cost
          %th GP/XP
        - skill_items["#{skill}"].each do |item|
          %tr
            - image_name = item[0].gsub(" ", "_")
            %td= image_tag "items/#{image_name}.gif"
            %td= item[0]
            %td= item[1]
            %td= item[2]
            %td= item[3]
            %td= item[2] - item[3]
            %td= number_with_precision((item[2] - item[3])/item[1], :precision => 2)
      %br
    = "all item values from OSBuddy; inactive prices from OSRS GE"
    
= field_set_tag 'High Alch', class: ["dps"], id: "alch", style: "width: 560px; margin: auto;" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 560px; border-right:") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 560px;") do 
      %tr
        %th Item
        %th 
        %th Buy
        %th Buy + Nat
        %th Alch
        %th Net profit
        %th GP/XP profit
      - alchs.each do |item|
        %tr
          - image_name = item[0].gsub(" ", "_")
          %td= image_tag "items/#{image_name}.gif"
          %td= item[0]
          %td= item[1]
          %td= item[1] + items["Nature rune"]
          %td= item[2]
          %td= item[2] - item[1] - items["Nature rune"]
          %td= number_with_precision((item[2] - item[1] - items["Nature rune"])/65, :precision => 2)

= field_set_tag 'High Alch', class: ["dps"], id: "alch", style: "width: 560px; margin: auto;" do
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 560px; border-right:") do 
    = content_tag(:table, nil, class: ["blank"], style: "width: 560px;") do 
      %tr
        %th Item
        %th 
        %th Buy
        %th Buy + Nat
        %th Alch
        %th Net profit
        %th GP/XP profit
      - alchs.each do |item|
        %tr
          - image_name = item[:name].gsub(" ", "_")
          %td= image_tag "items/#{image_name}.gif"
          %td= item[:name]
          %td= item[:current]
          %td= item[:current] + items["Nature rune"]
          %td= item[:alch]
          - if (item[:alch] - item[:current] - items["Nature rune"]) > 0
            %td{:style => "color: green;"}= item[:alch] - item[:current] - items["Nature rune"]
          - elsif (item[:alch] - item[:current] - items["Nature rune"]) == 0
            %td= item[:alch] - item[:current] - items["Nature rune"]
          - else (item[:alch] - item[:current] - items["Nature rune"]) == 0
            %td{:style => "color: red;"}= item[:alch] - item[:current] - items["Nature rune"]

          %td= number_with_precision((item[:alch] - item[:current] - items["Nature rune"])/65, :precision => 2)

