= content_tag(:div, nil, style: "text-align: center; width: 240px; padding: 5px; margin: auto;") do 
  %h1 
    = link_to "F2P.wiki", players_path
  = content_tag(:div, nil, style: "font-style: italic; color: white; font-weight: bold; margin: auto; width: 200px; margin-top: 0px; margin-bottom: 0px; color: none; background-color: transparent; border: none") do 
    = "for all your F2P OSRS needs"
  %p#notice= notice

%br
= content_tag(:div, nil, style: "margin: auto; width: 820px; margin-top: 0px; margin-bottom: 0px; color: none; background-color: transparent; border: none") do 
  = content_tag(:div, nil, style: "margin: auto; width: 820px; margin-top: 0px; margin-bottom: 10px; color: none; background-color: transparent; border: none") do 
    = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 115px; padding: 10px;") do 
      = link_to "F2P OSRS Ranks", ranks_path
    = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 80px; padding: 10px;") do 
      = link_to "EHP Rates", ehp_path
    = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 100px; padding: 10px;") do 
      = link_to "Hall of Shame", fake_path
    = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 90px; padding: 10px;") do 
      = link_to "Useful Links", links_path
    = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 75px; padding: 10px;") do 
      = link_to "Changelog", changelog_path
    = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 140px; padding: 10px;") do 
      = link_to "About Us/Donations", donate_path
  
= content_tag(:div, nil, style: "margin: auto; width: 760px; margin-top: 0px; margin-bottom: 10px; color: none; background-color: transparent; border: none") do 
  = content_tag(:div, nil, style: "float:left; margin-right: 0px; width: 315px; margin-top: 0px; margin-bottom: 0px; color: none; background-color: transparent; border: none") do 
    = content_tag(:div, nil, style: "text-align: center; width: 290px; padding: 5px; margin-bottom: 20px;") do 
      %h3 Message Of The Day
      %h4
        = "Many links, guides, videos, and F2P OSRS content creators have been added to "
        = link_to "Useful Links.", links_path
      %h4
        = "F2P IM/HCIM/UIM EHP changes have now been implemented to the site. See the new EHP "
        = link_to "here!", ehp_path
      %h4
        = "We now have secured the domain "
        = link_to "f2p.wiki,", "http://www.f2p.wiki"
        = " where we are now officially located."
      
    = content_tag(:div, nil, style: "margin: auto; width: 240px; padding: 0px; background: none; border: none;") do 
      = content_tag(:div, nil, style: "margin: auto; margin-bottom: 30px; text-align:center; width:220px; margin-top: 0px; padding: 5px;") do 
        %h1 
          = link_to "F2P Supporters", donate_path
        = "Anonymous"
        %br
        = link_to "Obor", "players/3849"
        %br
        = link_to "Bargan", "players/3777"
        = " "
        = link_to "nagraB", "players/3783"
        %br
        = link_to "F2P Lukie", "players/11773"
        %br
        = link_to "Tame My Wild", "players/11774"
        %br
        = link_to "Pawz", "players/967"
        %br
        = link_to "IronMace Din", "players/3813"
        %br
        = link_to "HCIM_btw_fev", "players/11796"
        %br
        = link_to "citnA", "players/11829"
        %br
        = link_to "Based Chew", "players/3816"
        
  = content_tag(:div, nil, style: "float:left; margin-right: auto; margin-left: 0px; min-width: 440px; width: 440px; margin-top: 0px; margin-bottom: 10px; color: none; background-color: transparent; border: none") do 
    = content_tag(:div, nil, style: "min-width: 410px; width: 410px; margin-left: 0px; margin-top: 0px; margin-bottom: 10px; color: none; background-color: transparent; border: none") do 
      = content_tag(:div, nil, style: "background-color: rgba(0,0,0,0.5); border: 1px solid black; border-bottom: none; text-align: center; width: 380px; margin: auto;") do 
        %h1
          = link_to "Top 25 F2P OSRS Players", ranks_path
      = content_tag(:table, nil, style: "text-align: center; margin: auto; width: 380px; min-width: 380px; padding: 5px; margin-bottom: 10px;") do 
        %thead
          %tr
            %th Rank
            %th Name
            %th Account Type
            %th Overall EHP
        %tbody
          - Player.order('overall_ehp').reverse.first(25).each.with_index 1 do |player, index|
            %tr
              %td{:align => "right"}= index
              %td= link_to player.player_name, player
              %td{:align => "center"}= player.player_acc_type
              %td= player.overall_ehp
              
    