= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donations", donate_path
  
= content_tag(:div, nil, class: "container", style: "width: 760px;") do 
  = content_tag(:div, nil, class: ["left", "container"], style: "width: 315px;") do 
    = content_tag(:div, nil, class: "motd") do 
      %h1 Message Of The Day
      %h6 A Level 73 outed as fake f2p.
      %h6
        = link_to "F2P Wiki v1.05 release:", changelog_path
        = " Search improved, F2p.wiki/players/name feature, More Regs scoured, hiscores limited to 75 EHP+ players, Add Player feature" 
      %h6
        = "Big shoutout to "
        = link_to "Toady", "http://twitch.tv/toadyrs"
        = " for the new site logo!"
      %h6
        = "F2P Wiki v1.04 release: site styling to match official OSRS hiscores"
      
    = content_tag(:div, nil, class: "container", style: "width: 240px;") do 
      = content_tag(:div, nil, class: "supporters") do 
        %h1 
          = link_to "F2P Supporters", donate_path
        = "Anonymous"
        %br
        = link_to "Obor", "players/Obor"
        %br
        = link_to "Bargan", "players/Bargan"
        = " "
        = link_to "nagraB", "players/nagraB"
        %br
        = link_to "F2P Lukie", "players/F2P_Lukie"
        %br
        = link_to "Tame My Wild", "players/Tame_My_Wild"
        %br
        = link_to "Pawz", "players/Pawz"
        %br
        = link_to "IronMace Din", "players/IronMace_Din"
        %br
        = link_to "HCIM_btw_fev", "players/HCIM_btw_fev"
        %br
        = link_to "citnA", "players/citnA"
        %br
        = link_to "Based Chew", "players/Based_Chew"
        %br
        = link_to "lRAIDERSS", "players/lRAIDERSS"
        %br
        = link_to "Sofacanlazy", "players/Sofacanlazy"
        %br
        = link_to "I love rs", "players/I_love_rs"
        %br
        
  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 0px; min-width: 440px; width: 440px;") do 
    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin-left: 15px; width: 380px; height: 36px; margin-bottom: 0px;") 
    = content_tag(:div, nil, class: "container", style: "min-width: 410px; width: 410px; margin-left: 0px; margin-bottom: 0px;") do 
      = content_tag(:table, nil, style: "text-align: center; width: 380px; padding: 5px; margin-bottom: 0px;") do 
        %thead
          %tr
            %th{:align => "center", :colspan => 4}= link_to "F2P Overall Hiscores", ranks_path
        %thead
          %tr
            %th Rank
            %th{:align => "left"} Name
            %th Account Type
            %th Overall EHP
        %tbody
          - Player.limit(25).where("overall_ehp > 1500").order('overall_ehp DESC').each.with_index 1 do |player, index|
            %tr
              %td{:align => "right"}= index
              - name = player.player_name.gsub(" ", "_")
              %td{:align => "left"}= link_to player.player_name, "players/#{name}"
              %td{:align => "center"}= player.player_acc_type
              %td= number_with_delimiter(player.overall_ehp.to_f, :delimiter => ",", :separator => ".") 
 
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin-left: 15px; width: 380px; height: 36px; margin-top: 0px;") 
