%h1 
  = F2POSRSRanks::Application.config.version
%h4 
= "by unkie, shoot me an email/send feedback at f2posrsranks@gmail.com"
%br
%p#notice= notice
= link_to "View Changelog", changelog_path
%br
= link_to "View EHP Rates", ehp_path
%br
= '|Update All Players\' Stats| ADMIN ACCESS ONLY'
/= button_to "Update All Players\' Stats", {:method => "put", :controller => "players", :action => "refresh_players"} 

%br
= '|Find New F2P Players| ADMIN ACCESS ONLY'
/= link_to 'Find New F2P Players', method: :find_new


%br
/= form_tag players_path, :method => "get", id: "clear" do
/  = "|Clear all filters, sorts, and search| COMING SOON" 
/  = submit_tag "Clear all filters, sorts, and search" 
%br
= form_tag players_path, :method => "get", id: "search-players-form" do
  = "Find Player (Highlight and scroll down to player): COMING SOON"
  /= text_field_tag :search, params[:search], placeholder: "Search Players"
  /= submit_tag "Search" 
  /%br
  /%br
  %br
  = "Display Skill as: "
  = "COMING SOON"
  /= "EHP"
  /= radio_button_tag "skill_display", 1, true, :id => "display_ehp"
  
  /= "Level"
  /= radio_button_tag "skill_display", 1, false, :id => "display_level"
  
  /= "XP"
  /= radio_button_tag "skill_display", 1, false, :id => "display_xp"
  /= submit_tag 'Refresh', :id => 'display_submit'
  %br

= form_tag players_path, :method => :get, :id => 'filters_form' do

  = "Filter Account Type: "
  = "Reg"
  = check_box_tag "filters_[Reg]", 1, @filters.include?("Reg"), :id => "filters_Reg"
  
  = "IM"
  = check_box_tag "filters_[IM]", 1, @filters.include?("IM"), :id => "filters_IM"
  
  = "UIM"
  = check_box_tag "filters_[UIM]", 1, @filters.include?("UIM"), :id => "filters_UIM"
  
  = "HCIM"
  = check_box_tag "filters_[HCIM]", 1, @filters.include?("HCIM"), :id => "filters_HCIM"
  = submit_tag 'Filter', :id => "filters_submit"

%br
= form_tag players_path, :method => :get, :id => 'skills_form' do
  - all_skills = F2POSRSRanks::Application.config.f2p_skills
  = "Show Skills? "
  - all_skills.each do |skill|
    = skill
    = check_box_tag "skills_[#{skill}]", 1, @skills.include?("#{skill}"), :id => "skills_#{skill}"
  
  = submit_tag 'Refresh', :id => "skills_submit"


%br
%table
  %thead
    %tr
      %th Rank
      %th Name
      %th Update Stats
      %th Account Type
      %th{:class => @player_lvl_header}= link_to 'Total Level', players_path(:sort_by => 'overall_lvl'), :id => 'player_lvl_header'
      %th{:class => @player_xp_header}= link_to 'Total XP', players_path(:sort_by => 'overall_xp'), :id => 'player_xp_header'
      %th{:class => @player_ehp_header}= link_to 'Overall EHP', players_path(:sort_by => 'overall_ehp'), :id => 'player_ehp_header'
      - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
        - if @skills.include?("#{skill}")
          %th{:class => "@player_#{skill}_header"}= link_to "#{skill}", players_path(:sort_by => "#{skill}_ehp"), :id => "player_#{skill}_header"
      /%th{:class => @player_attack_header}= link_to 'Attack', players_path(:sort_by => 'attack_ehp'), :id => 'player_attack_header'
      /%th{:class => @player_strength_header}= link_to 'Strength', players_path(:sort_by => 'strength_ehp'), :id => 'player_strength_header'
      /%th{:class => @player_defence_header}= link_to 'Defence', players_path(:sort_by => 'defence_ehp'), :id => 'player_defence_header'
      /%th{:class => @player_hitpoints_header}= link_to 'Hitpoints', players_path(:sort_by => 'hitpoints_ehp'), :id => 'player_hitpoints_header'
      /%th{:class => @player_ranged_header}= link_to 'Ranged', players_path(:sort_by => 'ranged_ehp'), :id => 'player_ranged_header'
      /%th{:class => @player_prayer_header}= link_to 'Prayer', players_path(:sort_by => 'prayer_ehp'), :id => 'player_prayer_header'
      /%th{:class => @player_magic_header}= link_to 'Magic', players_path(:sort_by => 'magic_ehp'), :id => 'player_magic_header'
      /%th{:class => @player_cooking_header}= link_to 'Cooking', players_path(:sort_by => 'cooking_ehp'), :id => 'player_cooking_header'
      /%th{:class => @player_woodcutting_header}= link_to 'Woodcutting', players_path(:sort_by => 'woodcutting_ehp'), :id => 'player_woodcutting_header'
      /%th{:class => @player_fishing_header}= link_to 'Fishing', players_path(:sort_by => 'fishing_ehp'), :id => 'player_fishing_header'
      /%th{:class => @player_firemaking_header}= link_to 'Firemaking', players_path(:sort_by => 'firemaking_ehp'), :id => 'player_firemaking_header'
      /%th{:class => @player_crafting_header}= link_to 'Crafting', players_path(:sort_by => 'crafting_ehp'), :id => 'player_crafting_header'
      /%th{:class => @player_smithing_header}= link_to 'Smithing', players_path(:sort_by => 'smithing_ehp'), :id => 'player_smithing_header'
      /%th{:class => @player_mining_header}= link_to 'Mining', players_path(:sort_by => 'mining_ehp'), :id => 'player_mining_header'
      /%th{:class => @player_runecraft_header}= link_to 'Runecraft', players_path(:sort_by => 'runecraft_ehp'), :id => 'player_runecraft_header'
      %th{:class => @player_p2p_header}= link_to 'P2P XP', players_path(:sort_by => 'potential_p2p'), :id => 'player_p2p_header'


  %tbody
    - @players.each.with_index 1 do |player, index|
      %tr
        %td{:align => "right"}= index
        %td= link_to player.player_name, player
        /%td= link_to 'Update', player, method: :update_player
        %td= "Update TEMP. DOWN"
        %td{:align => "center"}= player.player_acc_type
        %td= player.overall_lvl
        %td= player.overall_xp
        %td= player.overall_ehp
        - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
          - if @skills.include?("#{skill}")
            %td= player["#{skill}_ehp"]
        /%td= player.attack_ehp
        /%td= player.strength_ehp
        /%td= player.defence_ehp
        /%td= player.hitpoints_ehp
        /%td= player.ranged_ehp
        /%td= player.prayer_ehp
        /%td= player.magic_ehp
        /%td= player.cooking_ehp
        /%td= player.woodcutting_ehp
        /%td= player.fishing_ehp
        /%td= player.firemaking_ehp
        /%td= player.crafting_ehp
        /%td= player.smithing_ehp
        /%td= player.mining_ehp
        /%td= player.runecraft_ehp
        %td= player.potential_p2p