- @title = "F2P OSRS Wiki" 
= link_to image_tag("birthdayf2pwiki.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "Hiscores", ranks_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Current Top", tracking_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "Records", records_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donate", donate_path
  
= content_tag(:div, nil, class: "container", style: "width: 760px;") do 
  = content_tag(:div, nil, class: ["left", "container"], style: "width: 45%;") do
    = content_tag(:div, nil, class: "motd") do 
      %h1 News
      %h6
        = "Check out the "
        = link_to "Buddy-Up Summer Skilling Competition", "https://www.reddit.com/r/W385/comments/cd8v54/summer_f2p_skilling_competition/"
        = "hosted by 'Free to play' clan! Winners will receive special recognition on their personal page on F2P.wiki"
      %h6
        = "v1.62 release: 99 and 200m count have been released on the hiscores."
      %h6
        = "v1.61 release: internal site upgrades and refactoring. Open sourcing of"
        = link_to "our GitHub repo!", "https://github.com/vmeow/f2pehp/"
      %h6
        = "v1.60 release: Major site overhaul with updated EHP, implementation of bonus XP algorithms, and general internal improvements."
      %h6
        = "Our site has encountered multiple issues regarding beginner clues and the official beginner clues hiscores. As a result, many players were deleted, along with tracking and record data. We apologize for the inconvenience, and we are doing our best to resolve the issue. Thanks for your patience."
      %h6
        = "Thanks to"
        = link_to "DansPotatoe", "players/DansPotatoe"
        = "for sharing his"
        = link_to "level 3 UIM guide!", "https://pastebin.com/raw/eh3zwb2a"
      %h6
        = "v1.52 release: Overall (no combats) hiscores has been released!"
      %h6 
        = "v1.51 release: We're happy to announce the Time to Max feature on the hiscores!"
      %h6
        = "Shoutout to Pawz and his new videos on Efficient F2P Maxing: "
        = link_to "Part 1,", "https://www.youtube.com/watch?v=BOSVsLQOXcw"
        = link_to "Part 2", "https://www.youtube.com/watch?v=B7TlGwXalCg"
      %h6 
        = "v1.50 release: The long awaited"
        = link_to "EHP and XP tracking", tracking_path
        = "and"
        = link_to "Record Gains!", records_path
        = "Personal scores page also now displays current gains and records in addition to stats."
      %h6
        = "Calculators and Hall of Shame moved to Links."
      %h6 
        = "v1.20: Combat level hiscores"
      %h6 
        = "v1.19 release: "
        = link_to "June Gatherers EHP Competition", competitions_path
      %h6 
        = "IM/HC/UIM Firemaking EHP has been adjusted from 86000 to 144600 after 101333 XP."
      %h6
        = "v1.18: Filter hiscores by most popular combat restrictions"
      %h6
        = "Until further notice, the 75 EHP requirement has been lifted to add a player to the hiscores."

  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 0px; width: 55%;") do
    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin-left: 15px; width: 380px; height: 36px; margin-bottom: 0px;") 
    = content_tag(:div, nil, class: "container", style: "min-width: 410px; width: 410px; margin-left: 0px; margin-bottom: 0px;") do 
      = content_tag(:table, nil, style: "text-align: center; width: 380px; padding: 5px; margin-bottom: 0px;") do 
        %thead
          %tr
            %th{:align => "center", :colspan => 4}= link_to "F2P Overall Hiscores", ranks_path
        %thead
          %tr
            %th Rank
            %th{:align => "left"} Name
            %th Account Type
            %th Overall EHP
        %tbody
          - Player.limit(25).where("potential_p2p <= 0 and overall_ehp > 1500").order('overall_ehp DESC').each.with_index 1 do |player, index|
            %tr
              %td{:align => "right"}= index
              - name = player.player_name.gsub(" ", "_")
              - if player.player_name == "Based Chew"
                %td{:align => "left"}= link_to "***Retired***", "players/#{name}"
              - else
                %td{:align => "left"}= link_to player.player_name, "players/#{name}"
              %td{:align => "center"}= player.player_acc_type
              %td= number_with_delimiter(player.overall_ehp.to_f, :delimiter => ",", :separator => ".") 
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin-left: 15px; width: 380px; height: 36px; margin-top: 0px;")

= render :partial => "supporters.html.haml"
