- @title = "F2P OSRS Wiki" 
= link_to image_tag("birthdayf2pwiki.png"), players_path

= render :partial => "header.html.haml",  :locals => {notice: notice}
  
= content_tag(:div, nil, class: "container", style: "width: 760px;") do 
  = content_tag(:div, nil, class: ["left", "container"], style: "width: 45%;") do
    = content_tag(:div, nil, class: "motd") do 
      %h1 News
      %h6
        = "Our sincerest apologies for the recent outages on the site. Due to changes to the official Jagex hiscores, all hiscores including F2P.wiki, CML, and even Jagex official hiscores have been experiencing massive issues. For example, the official hiscores has been unresponsive for the past 2 hours as of writing this. As a result, we have unfortunately had to make the decision to no longer automatically update non-supporter players below 250 EHP. Manual updates may still be made."
      %h6 
        = "Free to Play clan is hosting the first EHP competition of 2020! More details and signup"
        = link_to "here!", "https://www.reddit.com/r/W385/comments/ehpxes/f2p_team_rumble_group_skilling_competition/"
      %h6
        = "v1.64 release: LMS hiscores and Obor/Bryophyta kill count hiscores. Ranks will fill in with the next site-wide player updates."
      %h6
        = "v1.63 release: Lowest Level hiscores, ability to reset filters, ability to filter out inactive players, fix to non-combat hiscores"
      %h6
        = "Bargan is free."
      %h6 
        = "Due to a recent increase in accounts de-ironing or losing hardcore status, we have released a feature to check account type at the bottom right corner of each player's Personal Hiscores page."

      %h6
        = "Congratulations to the winners of the Free to Play clan's"
        = link_to "Buddy-Up Summer Skilling Competition!", "https://www.reddit.com/r/W385/comments/cd8v54/summer_f2p_skilling_competition/"
        %br
      %h5{:style => "color: gold;"} 
        = "First Place Team"
        %br
        = link_to "tannerdino", "players/tannerdino"
        = link_to "ColdFingers3", "players/ColdFingers3"
      %h5{:style => "color: silver;"} 
        = "Second Place Team"
        %br
        = link_to "DJ9", "players/DJ9"
        = link_to "Pawz", "players/Pawz"
      %h5{:style => "color: #CD7F32;"} 
        = "Third Place Team"
        %br
        = link_to "Irondish", "players/Irondish"
        = link_to "DansPotatoe", "players/DansPotatoe"
      %br
      %br
      %h6
        = "v1.62 release: 99 and 200m count have been released on the hiscores."
      %h6
        = "v1.61 release: internal site upgrades and refactoring. Open sourcing of"
        = link_to "our GitHub repo!", "https://github.com/vmeow/f2pehp/"
      %h6
        = "v1.60 release: Major site overhaul with updated EHP, implementation of bonus XP algorithms, and general internal improvements."
      %h6
        = "Our site has encountered multiple issues regarding beginner clues and the official beginner clues hiscores. As a result, many players were deleted, along with tracking and record data. We apologize for the inconvenience, and we are doing our best to resolve the issue. Thanks for your patience."
      %h6
        = "Thanks to"
        = link_to "DansPotatoe", "players/DansPotatoe"
        = "for sharing his"
        = link_to "level 3 UIM guide!", "https://pastebin.com/raw/eh3zwb2a"
      %h6
        = "v1.52 release: Overall (no combats) hiscores has been released!"
      %h6 
        = "v1.51 release: We're happy to announce the Time to Max feature on the hiscores!"
      %h6
        = "Shoutout to Pawz and his new videos on Efficient F2P Maxing: "
        = link_to "Part 1,", "https://www.youtube.com/watch?v=BOSVsLQOXcw"
        = link_to "Part 2", "https://www.youtube.com/watch?v=B7TlGwXalCg"
      %h6 
        = "v1.50 release: The long awaited"
        = link_to "EHP and XP tracking", tracking_path
        = "and"
        = link_to "Record Gains!", records_path
        = "Personal scores page also now displays current gains and records in addition to stats."

  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 0px; width: 55%;") do
    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin-left: 15px; width: 380px; height: 36px; margin-bottom: 0px;") 
    = content_tag(:div, nil, class: "container", style: "min-width: 410px; width: 410px; margin-left: 0px; margin-bottom: 0px;") do 
      = content_tag(:table, nil, style: "text-align: center; width: 380px; padding: 5px; margin-bottom: 0px;") do 
        %thead
          %tr
            %th{:align => "center", :colspan => 4}= link_to "F2P Overall Hiscores", ranks_path
        %thead
          %tr
            %th Rank
            %th{:align => "left"} Name
            %th Account Type
            %th Overall EHP
        %tbody
          - Player.limit(25).where("potential_p2p <= 0 and overall_ehp > 1500").order('overall_ehp DESC').each.with_index 1 do |player, index|
            %tr
              %td{:align => "right"}= index
              - name = player.player_name.gsub(" ", "_")
              - if player.player_name == "Based Chew"
                %td{:align => "left"}= link_to "***Retired***", "players/#{name}"
              - else
                %td{:align => "left"}= link_to player.player_name, "players/#{name.encode("ASCII", invalid: :replace, undef: :replace, replace: '_')}"
              %td{:align => "center"}= player.player_acc_type
              %td= number_with_delimiter(player.overall_ehp.to_f, :delimiter => ",", :separator => ".") 
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin-left: 15px; width: 380px; height: 36px; margin-top: 0px;")

= render :partial => "supporters.html.haml"
