- @title = "F2P OSRS Wiki" 
= link_to image_tag("birthdayf2pwiki.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "Hiscores", ranks_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Current Top", tracking_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "Records", records_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donate", donate_path
  
= content_tag(:div, nil, class: "container", style: "width: 760px;") do 
  = content_tag(:div, nil, class: ["left", "container"], style: "width: 315px;") do 
    = content_tag(:div, nil, class: "motd") do 
      %h1 News
      %h6
        = "v1.61 release: internal site upgrades and refactoring. Open sourcing of"
        = link_to "our GitHub repo!", "https://github.com/vmeow/f2pehp/"
      %h6
        = "v1.60 release: Major site overhaul with updated EHP, implementation of bonus XP algorithms, and general internal improvements."
      %h6
        = "Our site has encountered multiple issues regarding beginner clues and the official beginner clues hiscores. As a result, many players were deleted, along with tracking and record data. We apologize for the inconvenience, and we are doing our best to resolve the issue. Thanks for your patience."
      %h6
        = "Thanks to"
        = link_to "DansPotatoe", "players/DansPotatoe"
        = "for sharing his"
        = link_to "level 3 UIM guide!", "https://pastebin.com/raw/eh3zwb2a"
      %h6
        = "v1.52 release: Overall (no combats) hiscores has been released!"
      %h6 
        = "v1.51 release: We're happy to announce the Time to Max feature on the hiscores!"
      %h6
        = "Shoutout to Pawz and his new videos on Efficient F2P Maxing: "
        = link_to "Part 1,", "https://www.youtube.com/watch?v=BOSVsLQOXcw"
        = link_to "Part 2", "https://www.youtube.com/watch?v=B7TlGwXalCg"
      %h6 
        = "v1.50 release: The long awaited"
        = link_to "EHP and XP tracking", tracking_path
        = "and"
        = link_to "Record Gains!", records_path
        = "Personal scores page also now displays current gains and records in addition to stats."
      %h6
        = "Calculators and Hall of Shame moved to Links."
      %h6 
        = "v1.20: Combat level hiscores"
      %h6 
        = "v1.19 release: "
        = link_to "June Gatherers EHP Competition", competitions_path
      %h6 
        = "IM/HC/UIM Firemaking EHP has been adjusted from 86000 to 144600 after 101333 XP."
      %h6
        = "v1.18: Filter hiscores by most popular combat restrictions"
      %h6
        = "Until further notice, the 75 EHP requirement has been lifted to add a player to the hiscores."

      
    = content_tag(:div, nil, class: "container", style: "width: 240px;") do 
      = content_tag(:div, nil, class: "supporters") do 
        %h1 
          = link_to "F2P Supporters", donate_path
        = link_to "Bargan", "players/Bargan"
        %br
        = "Anonymous"
        %br
        = link_to "Ikiji", "players/Ikiji"
        %br
        = link_to "Freckled Kid", "players/Freckled_Kid"
        %br
        = link_to "Obor", "players/Obor"
        %br
        = link_to "Gl4Head", "players/Gl4Head"
        %br
        = link_to "Romans ch 12", "players/Romans_ch_12"
        %br
        = link_to "Earfs", "players/Earfs"
        %br
        = link_to "Fe F2P", "players/Fe_F2P"
        %br
        = link_to "Xan So", "players/Xan_So"
        %br
        = link_to "ColdFingers3", "players/ColdFingers3"
        %br
        = link_to "Brim haven", "players/Brim_haven"
        %br
        = link_to "Yewsless", "players/Yewsless"
        %br
        = link_to "Netbook Pro", "players/Netbook_Pro"
        %br
        = link_to "F2P Lukie", "players/F2P_Lukie"
        %br
        = link_to "Tame My Wild", "players/Tame_My_Wild"
        %br
        = link_to "Faij", "players/Faij"
        %br
        = link_to "Frogmask", "players/Frogmask"
        %br
        = link_to "FitMC", "players/FitMC"
        %br
        = link_to "Pink skirt", "players/Pink_skirt"
        %br
        = link_to "tannerdino", "players/tannerdino"
        %br
        = link_to "Fe Apes", "players/Fe_Apes"
        %br
        = link_to "UIM STK F2P", "players/UIM_STK_F2P"
        %br
        = link_to "MA5ON", "players/MA5ON"
        %br
        = link_to "NoQuestsHCIM", "players/NoQuestsHCIM"
        %br
        = link_to "Sir BoJo", "players/Sir_BoJo"
        %br
        = link_to "f2p Ello", "players/f2p_Ello"
        %br
        = link_to "Sad Jesus", "players/Sad_Jesus"
        %br
        = link_to "Cas F2P HC", "players/Cas_F2P_HC"
        %br
        = link_to "UIM Dakota", "players/UIM_Dakota"
        %br
        = link_to "F2P Jords", "players/F2P_Jords"
        %br
        = link_to "Feature", "players/Feature"
        %br
        = link_to "Steel Afro", "players/Steel_Afro"
        %br
        = link_to "Your Bearr", "players/Your_Bearr"
        %br
        = link_to "Ghost Bloke", "players/Ghost_Bloke"
        %br
        = link_to "For Ulven", "players/For_Ulven"
        %br
        = link_to "Playing Fe", "players/Playing_Fe"
        %br
        = link_to "Yellow bead", "players/Yellow_bead"
        %br
        = link_to "ZINJAN", "players/ZINJAN"
        %br
        = link_to "Valleyman6", "players/Valleyman6"
        %br
        = link_to "Snooz Button", "players/Snooz_Button"
        %br
        = link_to "i drink fiji", "players/i_drink_fiji"
        %br
        = link_to "Adentia", "players/Adentia"
        %br
        = link_to "Pawz", "players/Pawz"
        %br
        = link_to "IronMace Din", "players/IronMace_Din"
        %br
        = link_to "HCIM_btw_fev", "players/HCIM_btw_fev"
        %br
        = link_to "citnA", "players/citnA"
        %br
        = link_to "Lea Sinclair", "players/Lea_Sinclair"
        %br
        = link_to "lRAIDERSS", "players/lRAIDERSS"
        %br
        = link_to "Sofacanlazy", "players/Sofacanlazy"
        %br
        = link_to "I love rs", "players/I_love_rs"
        %br
        = link_to "Say F2p Ult", "players/Say_F2p_Ult"
        %br
        = link_to "Irish Woof", "players/Irish_Woof"
        %br
        = link_to "Leftoverover", "players/Leftoverover"
        %br
        = link_to "DJ9", "players/DJ9"
        %br
        = link_to "cwismis noob", "players/cwismis_noob"
        %br
        = link_to "Drae", "players/Drae"
        %br
        = link_to "David BBQ", "players/David_BBQ"
        %br
        = link_to "Schwifty Bud", "players/Schwifty_Bud"
        %br
        = link_to "UI Pain", "players/UI_Pain"
        %br
        = link_to "WishengradHC", "players/WishengradHC"
        %br
        = link_to "n4ckerd", "players/n4ckerd"
        %br
        = link_to "InsurgentF2P", "players/InsurgentF2P"
        %br
        = link_to "SapphireHam", "players/SapphireHam"
        %br
        = link_to "Doublessssss", "players/Doublessssss"
        %br
        = link_to "xmymwf609", "players/xmymwf609"
        %br
        = link_to "Onnn", "players/Onnn"
        %br
        = link_to "Shade_Core", "players/Shade_Core"
        %br
        = link_to "Metan", "players/Metan"
        %br
        = link_to "F2P UIM OREO", "players/F2P_UIM_OREO"
        %br
        = link_to "Crawler", "players/Crawler"
        %br
        = link_to "HCBown", "players/HCBown"
        %br
        = link_to "Dukeddd", "players/Dukeddd"
        %br
        = link_to "one a time", "players/one_a_time"
        %br
        = link_to "Wizards Foot", "players/Wizards_Foot"
        %br
        = link_to "Hardcore VFL", "players/Hardcore_VFL"
        %br
        = link_to "Pizzarrhea", "players/Pizzarrhea"
        %br
        = link_to "bemanisows", "players/bemanisows"
        %br
        = link_to "Dusty Lime", "players/Dusty_Lime"
        %br
        = link_to "Brantrout", "players/Brantrout"
        %br
        = link_to "f2p uim nerd", "players/f2p_uim_nerd"
        %br
        = link_to "Arizer Air", "players/Arizer_Air"
        %br
        = link_to "Irondish", "players/Irondish"
        %br
        = link_to "Maze", "players/Maze"
        %br
        = link_to "P1J", "players/P1J"
        %br
        = link_to "Iron of One", "players/Iron_of_One"
        %br
        = link_to "the f2p uim", "players/the_f2p_uim"
        %br
        = link_to "Kill the Ego", "players/Kill_the_Ego"
        %br
        = link_to "BALN", "players/BALN"
        %br
        = link_to "GOLB f2p", "players/GOLB_f2p"
        %br
        = link_to "Tohno1612", "players/Tohno1612"
        %br
        = link_to "H C Gilrix", "players/H_C_Gilrix"
        %br
        = link_to "ColdFingers1", "players/ColdFingers1"
        
  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 0px; min-width: 440px; width: 440px;") do 
    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin-left: 15px; width: 380px; height: 36px; margin-bottom: 0px;") 
    = content_tag(:div, nil, class: "container", style: "min-width: 410px; width: 410px; margin-left: 0px; margin-bottom: 0px;") do 
      = content_tag(:table, nil, style: "text-align: center; width: 380px; padding: 5px; margin-bottom: 0px;") do 
        %thead
          %tr
            %th{:align => "center", :colspan => 4}= link_to "F2P Overall Hiscores", ranks_path
        %thead
          %tr
            %th Rank
            %th{:align => "left"} Name
            %th Account Type
            %th Overall EHP
        %tbody
          - Player.limit(25).where("potential_p2p <= 0 and overall_ehp > 1500").order('overall_ehp DESC').each.with_index 1 do |player, index|
            %tr
              %td{:align => "right"}= index
              - name = player.player_name.gsub(" ", "_")
              - if player.player_name == "Based Chew"
                %td{:align => "left"}= link_to "***Retired***", "players/#{name}"
              - else
                %td{:align => "left"}= link_to player.player_name, "players/#{name}"
              %td{:align => "center"}= player.player_acc_type
              %td= number_with_delimiter(player.overall_ehp.to_f, :delimiter => ",", :separator => ".") 
 
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin-left: 15px; width: 380px; height: 36px; margin-top: 0px;") 
