= content_tag(:div, nil, style: "text-align: center; width: 240px; padding: 5px; margin: auto;") do 
  %h1 
    = link_to "F2P.wiki", players_path
  = content_tag(:div, nil, style: "font-style: italic; color: white; font-weight: bold; margin: auto; width: 200px; margin-top: 0px; margin-bottom: 0px; color: none; background-color: transparent; border: none") do 
    = "for all your F2P OSRS needs"
  %p#notice= notice

%br
= content_tag(:div, nil, style: "margin: auto; width: 820px; margin-top: 0px; margin-bottom: 10px; color: none; background-color: transparent; border: none") do 
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 115px; padding: 10px;") do 
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 80px; padding: 10px;") do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 100px; padding: 10px;") do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 90px; padding: 10px;") do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 75px; padding: 10px;") do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 140px; padding: 10px;") do 
    = link_to "About Us/Donations", donate_path

%br
= content_tag(:div, nil, style: "text-align: center; width: 300px; padding: 5px; margin: auto;") do 
  %h3 Message Of The Day
  %h4
    = "F2P IM/HCIM/UIM EHP are currently under revisions: feel free to provide any feedback "
    = link_to "here!", "https://www.reddit.com/r/W385/comments/7vaq1m/new_f2p_imhcuim_ehp/"
  %h4
    = "YamiOscuro has been outted with proof as Fake F2P. Shame!"
  %h4 
    = "We now have secured the domain "
    = link_to "f2p.wiki,", "http://www.f2p.wiki"
    = " where we are now officially located."
  %h4 
    = "We have upgraded our server for faster site response times, less down-time, and useful metrics/alerts. Thanks again to our "
    = link_to "supporters!", donate_path
