- @title = "F2P OSRS Wiki" 
= link_to image_tag("f2pwiki_banner.png"), players_path

= render :partial => "header.html.haml",  :locals => {notice: notice}
  
= content_tag(:div, nil, class: "container", style: "width: 760px;") do 
  = content_tag(:div, nil, class: ["left", "container"], style: "width: 45%;") do
    = content_tag(:div, nil, class: ["motd", "perfect-scroll"]) do 
      %h1 News
      %h6
        = "We're proud to show off the work on the new"
        = link_to "F2P Skilling Methods Discord!", "https://discord.gg/bD282Xu"
        = "Organized skilling info, examples, and discussion. Lead by"
        %br
        = link_to "tannerdino,", "players/tannerdino"
        = link_to "Pawz,", "players/Pawz"
        = link_to "Terrathrone,", "players/Terrathrone"
        = link_to "Freckled Dad,", "players/Freckled_Dad"
        = "and many more. Special thanks to Dan S for the main game version."
        %br
        %br
        %hr

      %h6
        = "Thanks to "
        = link_to "Schwifty Bud", "players/Schwifty_Bud"
        = "for organizing a new friends chat 'ftp family' for all F2P players to hang out, clan-less or not. Click the image below to see what he has to say about it!"
        %br
        %br
        = link_to image_tag("ftp_family.png", size: "280x120"), image_path("ftp_family.png"), :title => "click to open full image"
        %br
        %br
        %hr

      %h6
        %s
          = "Due to database concerns, players who do not gain experience every week will be removed from the Wiki."
        %br
        %br
        %s
          = "Note: This is a permanent removal."
        %br
        %br
        = "April Fools :)"
      %br
      %hr

      %h6
        = "Attention Scapers!"
        %br
        %br

        = "Are you struggling for money now that services are finally considered RWT?"
        %br
        %br
        = "Tired of killing the same rune dragons or smithing r2h for only 800k/h?"
        %br
        %br

        = "'F2P runners' Discord is looking for efficient Runners and lazy Runecrafters!"
        %br
        %br

        = "Rates for runners go up to 4m/h!!!"
        %br
        %br
        = "Start your trial today at"
        %br
        %br

        = link_to "https://discord.gg/PA4Nax5", "https://discord.gg/PA4Nax5"

      = image_tag("flairs/f2prunners.gif")
      %br
      %br
      = "Note: F2P.wiki is not sponsored by 'F2P Runners', and this is not an ad, but a personal recommendation. If there's any confusion, it is not a service or even remotely sketchy - if you remember air runecraft running from back in the day, it's nearly the same concept. It's a really great F2P community, and I can proudly recommend it as an occasional runner myself."
      %br
      = "- Unkie"
      %hr

      %h6
        = link_to "Clans", clans_path
        = "have now been released! Please contact us at"
        = link_to "f2posrsranks@gmail.com", "mailto:f2posrsranks@gmail.com"
        = "if you wish to add a F2P clan."
      %br
      %hr

      %h6
        = "Congratulations to"
        = link_to "DansPotatoe", "players/DansPotatoe"
        = "for becoming the"
        = link_to "first F2P UIM to 99 Runecrafting!", "https://www.reddit.com/r/2007scape/comments/ljgf4r/first_f2p_uim_to_99_runecrafting/", target: "_blank", rel: "noopener noreferrer"
        = "A truly remarkable achievement."
      %br
      %hr

      %h6
        = "Happy Holidays from the F2P Wiki team! Remember to take some time out from those EHP gains to spend time with your family!"
      %br
        = image_tag("sled.png")
      %br
      %hr

      %h6
        = "Huge thank you to Ello F2p for creating a brand new logo and Christmas banner for the F2P Wiki. You can find more of his works on twitter at"
        = link_to "https://twitter.com/f2p_ello.", "https://twitter.com/f2p_ello", target: "_blank", rel: "noopener noreferrer"
      %br
      %hr

      %h6
        = "There will be a Christmas Castle Wars Event on December 13th, 2020, at 9 PM GMT on world 383! Hosted by \"W_385\" clan chat. Full details"
        = link_to "here.", "https://cdn.discordapp.com/attachments/410070462538711050/783805894643154954/1akfhu28cu261.png"
      %br
      %hr

      %h6
        = "The new EHP rates have been released. See full list of updates for"
        = link_to "Regs here", "https://www.reddit.com/r/W385/comments/i0hwhs/f2pwiki_reg_ehp_changes/", target: "_blank", rel: "noopener noreferrer"
        = "and for"
        = link_to "Ironmen here", "https://www.reddit.com/r/W385/comments/i0jbpa/f2pwiki_imuimhcim_ehp_changes/", target: "_blank", rel: "noopener noreferrer"
      %br
      %hr

      %h6
        = "We're proud to announce the release of global F2P-only ranks on each player's personal stats page! There will be further improvements on it in the future to allow an option to be account-type specific, to update 0-time skill ranking, etc."
      %br
      %hr

      %h6
        = "Congratulations to the winners of the W_385 clan's"
        = link_to "Teams of 2 EHP Competition!", "https://www.reddit.com/r/W385/comments/cd8v54/summer_f2p_skilling_competition/", target: "_blank", rel: "noopener noreferrer"
        %br
      %h5{:style => "color: gold;"} 
        = "First Place Team"
        %br
        = link_to "Wopski", "players/Wopski"
      %h5{:style => "color: silver;"} 
        = "Second Place Team"
        %br
        = link_to "DansPotatoe", "players/DansPotatoe"
        = link_to "Covid 19 V2", "players/Covid_19_V2"
      %h5{:style => "color: #CD7F32;"} 
        = "Third Place Team"
        %br
        = link_to "Ironkic", "players/Ironkic"
      %br
      %hr

      %h6
        = "May 2, 2020: Please join me in welcoming"
        = link_to "Say F2p Ult", request.base_url + "/players/Say_F2p_Ult"
        = "as the new official co-owner of F2P.wiki!"
      %br
      %h6
        = "He is a trusted and beloved friend and community member who has already given much of his own free time to contribute to the open source code of this site. There have been several improvements thanks to Say, and I know that with our combined efforts and leadership, we will have an even better site than ever before."
      %br
      %h6
        = "If you see him in game, please take the time to say hello and thank him for his work!"
      %br
      %h6
        = "- Unkie"
      %hr
      %h6
        = "March 14, 2020: As the official Jagex Hiscores appear to be fixed, we have restored automatic daily player updates."
      %hr
      %h6
        = "March 5, 2020: We have decided to write up a comprehensive guide to F2P.wiki's philosophy of F2P OSRS "
        = link_to "here.", "https://www.reddit.com/r/W385/comments/fdqw8p/what_is_f2pwiki/", target: "_blank", rel: "noopener noreferrer"
        = "Please feel free to comment on this - we more than welcome discourse and discussion."
      %hr
      %h6
        = "Jan 28, 2020: Just to re-iterate, F2P.wiki does NOT treat name changes of any kind as false F2P. Including but not limited to Jagex forced name changes, historical Funorb name changes, bond name changes, etc., and we never will. Yes, even bond name changes."
      %hr
      %h6
        = "Our sincerest apologies for the recent outages on the site. Due to changes to the official Jagex hiscores, all hiscores including F2P.wiki, CML, and even Jagex official hiscores have been experiencing massive issues. For example, the official hiscores has been unresponsive for the past 2 hours as of writing this. As a result, we have unfortunately had to make the decision to no longer automatically update non-supporter players below 250 EHP. Manual updates may still be made."
      %hr
      %h6 
        = "Congratulations to the Cunnilinguists for winning the"
        = link_to "F2P Team Rumble competition!", "https://docs.google.com/spreadsheets/d/1iQkonWQCp-gNHp7dija630BWsYl-SjUKFQd9SwaE9z8/edit#gid=0", target: "_blank", rel: "noopener noreferrer"
      %hr
      %h6
        = "v1.64 release: LMS hiscores and Obor/Bryophyta kill count hiscores. Ranks will fill in with the next site-wide player updates."
      %hr
      %h6
        = "v1.63 release: Lowest Level hiscores, ability to reset filters, ability to filter out inactive players, fix to non-combat hiscores"
      %hr
      %h6
        = "Bargan is free."
      %hr
      %h6 
        = "Due to a recent increase in accounts de-ironing or losing hardcore status, we have released a feature to check account type at the bottom right corner of each player's Personal Hiscores page."
      %hr
      %h6
        = "Congratulations to the winners of the Free to Play clan's"
        = link_to "Buddy-Up Summer Skilling Competition!", "https://www.reddit.com/r/W385/comments/cd8v54/summer_f2p_skilling_competition/", target: "_blank", rel: "noopener noreferrer"
        %br
      %h5{:style => "color: gold;"} 
        = "First Place Team"
        %br
        = link_to "tannerdino", "players/tannerdino"
        = link_to "ColdFingers3", "players/ColdFingers3"
      %h5{:style => "color: silver;"} 
        = "Second Place Team"
        %br
        = link_to "DJ9", "players/DJ9"
        = link_to "Pawz", "players/Pawz"
      %h5{:style => "color: #CD7F32;"} 
        = "Third Place Team"
        %br
        = link_to "Irondish", "players/Irondish"
        = link_to "DansPotatoe", "players/DansPotatoe"
      %hr
      %h6
        = "v1.62 release: 99 and 200m count have been released on the hiscores."
      %hr
      %h6
        = "v1.61 release: internal site upgrades and refactoring. Open sourcing of"
        = link_to "our GitHub repo!", "https://github.com/vmeow/f2pehp/", target: "_blank", rel: "noopener noreferrer"
      %hr
      %h6
        = "v1.60 release: Major site overhaul with updated EHP, implementation of bonus XP algorithms, and general internal improvements."
      %hr
      %h6
        = "Our site has encountered multiple issues regarding beginner clues and the official beginner clues hiscores. As a result, many players were deleted, along with tracking and record data. We apologize for the inconvenience, and we are doing our best to resolve the issue. Thanks for your patience."
      %hr
      %h6
        = "Thanks to"
        = link_to "DansPotatoe", "players/DansPotatoe"
        = "for sharing his"
        = link_to "level 3 UIM guide!", "https://pastebin.com/raw/eh3zwb2a", target: "_blank", rel: "noopener noreferrer"
      %hr
      %h6
        = "v1.52 release: Overall (no combats) hiscores has been released!"
      %hr
      %h6 
        = "v1.51 release: We're happy to announce the Time to Max feature on the hiscores!"
      %hr
      %h6
        = "Shoutout to Pawz and his new videos on Efficient F2P Maxing: "
        = link_to "Part 1,", "https://www.youtube.com/watch?v=BOSVsLQOXcw", target: "_blank", rel: "noopener noreferrer"
        = link_to "Part 2", "https://www.youtube.com/watch?v=B7TlGwXalCg", target: "_blank", rel: "noopener noreferrer"
      %hr
      %h6 
        = "v1.50 release: The long awaited"
        = link_to "EHP and XP tracking", tracking_path
        = "and"
        = link_to "Record Gains!", records_path
        = "Personal scores page also now displays current gains and records in addition to stats."

  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 0px; width: 55%;") do
    = content_tag(:div, nil, class: "container", style: "margin-bottom: 0px;") do
      = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 50px; width: 140px; height: 96px;") do 
        = form_tag ranks_path, :method => "get", id: "search-players-form" do
          = "Search by name"
          %br
          = text_field_tag :search, params[:search], placeholder: "Player Name", :class => "search-field", style: "width: 100px;"
          %br
          = submit_tag "Search"

      = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 30px; width: 140px; height: 96px;") do 
        = form_tag ranks_path, :method => "get", id: "add-player-form" do
          = "Add to Hiscores"
          %br
          = text_field_tag :player_to_add_name, params[:player_to_add_name], placeholder: "Player Name", :class => "add-player-field", style: "width: 100px;"
          %br
          = submit_tag "Add"

    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin-left: 15px; width: 380px; height: 36px; margin-bottom: 0px;") 
    = content_tag(:div, nil, class: "container", style: "min-width: 410px; width: 410px; margin-left: 0px; margin-bottom: 0px;") do 
      = content_tag(:table, nil, style: "text-align: center; width: 380px; padding: 5px; margin-bottom: 0px;") do 
        %thead
          %tr
            %th{:align => "center", :colspan => 4}= link_to "F2P Overall Hiscores", ranks_path
        %thead
          %tr
            %th Rank
            %th{:align => "left"} Name
            %th Account Type
            %th Overall EHP
        %tbody
          - Player.limit(25).where("potential_p2p <= 0 and overall_ehp > 1500").order('overall_ehp DESC').each.with_index 1 do |player, index|
            %tr
              %td{:align => "right"}= index
              - name = player.player_name.gsub(" ", "_")
              - if player.player_name == "Based Chew"
                %td{:align => "left"}= link_to "***Retired***", "players/#{name}"
              - else
                %td{:align => "left"}= link_to player.player_name, "players/#{name.encode("ASCII", invalid: :replace, undef: :replace, replace: '_')}"
              %td{:align => "center"}= player.player_acc_type
              %td= number_with_delimiter(player.overall_ehp.to_f, :delimiter => ",", :separator => ".") 
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin-left: 15px; width: 380px; height: 36px; margin-top: 0px;")

= render :partial => "supporters.html.haml"
