- @title = "F2P OSRS Wiki" 
= link_to image_tag("birthdayf2pwiki.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "Hiscores", ranks_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Competitions", competitions_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "calcs"]) do 
    = content_tag(:div, nil, class: ["container", "calcs"], style: "margin-bottom: 0px; padding: 0px;", id: "calcs") do 
      = "Calculators"
    = content_tag(:div, nil, class: ["dropdown", "container"], id: "calcs-list", remote: true) do
      = link_to "Combat DPS", dps_path
      = link_to "Combat Lvl", combat_path
      = link_to "GP/XP, Alch", gpxp_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = content_tag(:div, nil, class: ["container", "links"], style: "margin-bottom: 0px; padding: 0px;", id: "links") do 
      = "Links"
    = content_tag(:div, nil, class: ["dropdown", "container"], id: "links-list", remote: true) do
      = link_to "Links", links_path
      = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donate", donate_path
  
= content_tag(:div, nil, class: "container", style: "width: 760px;") do 
  = content_tag(:div, nil, class: ["left", "container"], style: "width: 315px;") do 
    = content_tag(:div, nil, class: "motd") do 
      %h1 Message Of The Day
      %h6
        = "Until further notice, the 75 EHP requirement has been lifted to add a player to the hiscores."
      %h6
        = "The May EHP Competition has ended. Congratulations to "
        %br
        = link_to "Freckled Kid", "players/Freckled_Kid"
        = ", "
        = link_to "IronAgnusDei", "players/IronAgnusDei"
        %br
        = link_to "parity32", "players/parity32"
        = ", "
        = link_to "Ironman260", "players/Ironman260"
        %br
        = link_to "DJ9", "players/DJ9"
        = ", and "
        = link_to "UncleTomas", "players/UncleTomas"
        = "!"
      %h6
        = "v1.17 release: "
        = link_to "Competitions with EHP tracking", competitions_path
      %h6
        = "v1.16 release: "
        = link_to "DPS calcs", dps_path
        = " now have custom att/str bonus input, fixed issue in "
        = link_to "GP/XP calc", gpxp_path
        = " for inactive items above 999 gp, added PvP world 417 to"
        = link_to "changelog", changelog_path
      %h6 
        = "Special thanks to "
        = link_to "Irish Woof", "players/Irish_Woof"
        = " for his new "
        = link_to "F2P Reg Guide", "https://pastebin.com/raw/qWWCvXjr"
      
    = content_tag(:div, nil, class: "container", style: "width: 240px;") do 
      = content_tag(:div, nil, class: "supporters") do 
        %h1 
          = link_to "F2P Supporters", donate_path
        = "Anonymous"
        %br
        = link_to "Bargan", "players/Bargan"
        %br
        = link_to "Freckled Kid", "players/Freckled_Kid"
        %br
        = link_to "Obor", "players/Obor"
        %br
        = link_to "Gl4Head", "players/Gl4Head"
        %br
        = link_to "F2P Lukie", "players/F2P_Lukie"
        %br
        = link_to "Tame My Wild", "players/Tame_My_Wild"
        %br
        = link_to "FitMC", "players/FitMC"
        %br
        = link_to "Pink skirt", "players/Pink_skirt"
        %br
        = link_to "For Ulven", "players/For_Ulven"
        %br
        = link_to "Playing Fe", "players/Playing_Fe"
        %br
        = link_to "Pawz", "players/Pawz"
        %br
        = link_to "Yellow bead", "players/Yellow_bead"
        %br
        = link_to "ZINJANTHROPI", "players/ZINJANTHROPI"
        %br
        = link_to "IronMace Din", "players/IronMace_Din"
        %br
        = link_to "HCIM_btw_fev", "players/HCIM_btw_fev"
        %br
        = link_to "citnA", "players/citnA"
        %br
        = link_to "Based Chew", "players/Based_Chew"
        %br
        = link_to "lRAIDERSS", "players/lRAIDERSS"
        %br
        = link_to "Sofacanlazy", "players/Sofacanlazy"
        %br
        = link_to "I love rs", "players/I_love_rs"
        %br
        = link_to "Say F2p Ult", "players/Say_F2p_Ult"
        %br
        = link_to "Irish Woof", "players/Irish_Woof"
        %br
        = link_to "Faij", "players/Faij"
        %br
        = link_to "Leftoverover", "players/Leftoverover"
        %br
        = link_to "DJ9", "players/DJ9"
        %br
        = link_to "Drae", "players/Drae"
        %br
        = link_to "David BBQ", "players/David_BBQ"
        %br
        = link_to "Schwifty Bud", "players/Schwifty_Bud"
        %br
        = link_to "Tohno1612", "players/Tohno1612"
        %br
        = link_to "H C Gilrix", "players/H_C_Gilrix"
        
  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 0px; min-width: 440px; width: 440px;") do 
    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin-left: 15px; width: 380px; height: 36px; margin-bottom: 0px;") 
    = content_tag(:div, nil, class: "container", style: "min-width: 410px; width: 410px; margin-left: 0px; margin-bottom: 0px;") do 
      = content_tag(:table, nil, style: "text-align: center; width: 380px; padding: 5px; margin-bottom: 0px;") do 
        %thead
          %tr
            %th{:align => "center", :colspan => 4}= link_to "F2P Overall Hiscores", ranks_path
        %thead
          %tr
            %th Rank
            %th{:align => "left"} Name
            %th Account Type
            %th Overall EHP
        %tbody
          - Player.limit(25).where("overall_ehp > 1500").order('overall_ehp DESC').each.with_index 1 do |player, index|
            %tr
              %td{:align => "right"}= index
              - name = player.player_name.gsub(" ", "_")
              %td{:align => "left"}= link_to player.player_name, "players/#{name}"
              %td{:align => "center"}= player.player_acc_type
              %td= number_with_delimiter(player.overall_ehp.to_f, :delimiter => ",", :separator => ".") 
 
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin-left: 15px; width: 380px; height: 36px; margin-top: 0px;") 
