- @title = "Links" 
- @description = "A catalog of useful links related to F2P OSRS." 
= link_to image_tag("f2pwiki_500.png"), players_path

= render :partial => "header.html.haml",  :locals => {notice: notice}

= link_to "Hall of Shame", fake_path
%br
= link_to "Possible Fakes", possible_fakes_path
%br
= "Calculators:"
= link_to "Combat DPS Calc", dps_path
= " | "
= link_to "Combat Level Calc", combat_path
= " | "
= link_to "GP/XP and Alch prices", gpxp_path


= content_tag(:div, nil, class: "container", style: "width: 650px; margin-top: 15px;") do 
  = content_tag(:div, nil, class: "left", style: "text-align: center; width:300px; padding: 5px; padding-bottom: 10px;") do 
    %h1 Efficiency
    %h5 Guides
    = link_to "Advanced F2P Ironman Guide v2.0.2 - Asura Zoma, tannerdino", "https://pastebin.com/raw/ytWpivkL"
    %br
    = link_to "Advanced F2P Ironman Guide - Asura Zoma", "http://pastebin.com/raw/FuTEC8eB"
    %br
    = link_to "Efficient F2P Maxing Guide Part 1 - Pawz", "https://www.youtube.com/watch?v=BOSVsLQOXcw"
    %br
    = link_to "Efficient F2P Maxing Guide Part 2 - Pawz", "https://www.youtube.com/watch?v=B7TlGwXalCg"
    %br
    = link_to "F2P Reg Guide - Irish Woof", "https://pastebin.com/raw/qWWCvXjr"
    %br
    = link_to "UIM Startup Guide - Terrathrone", "http://youtu.be/MrakJzeKGTc"
    %br
    = link_to "Lvl 3 UIM Skiller Guide v1.1 - DansPotatoe", "https://pastebin.com/raw/eh3zwb2a"
    %br
    = link_to "Lvl 3 UIM Skiller Startup Guide - Turipo", "https://www.reddit.com/r/W385/comments/5uk9ku/f2p_level_3_skiller_ultimate_ironman_startup_guide/"
    %br
    = link_to "Efficient Multiquesting - EZScape", "http://youtu.be/d3zcXf90ODc"
    %br
    = link_to "Beginner Clue Guide - Yourice", "https://www.reddit.com/r/W385/comments/btjzik/beginner_clue_f2p_guide/"
    %br
    = link_to "F2P Music Guide - fe Kat, F2P IM Clan", "https://docs.google.com/spreadsheets/d/1HfTRxhTgOrfSLS3pveFlnBOGn33knKf4Hmut7EXx1a0/edit?usp=sharing"
    %br
    %br
    
    %h5 Skilling Videos
    = link_to "3-tick wc - Faij", "http://www.youtube.com/watch?time_continue=6&v=GTEDU2KLjqE"
    %br
    = link_to "3-tick fish & 3.5-tick cook - Say F2p Ult", "http://www.youtube.com/watch?v=lwq0tdQ9zbg"
    %br
    = link_to "3-tick fish & 0-tick cook - Eirerie", "http://youtu.be/Bt5BlieARmU"
    %br
    = link_to "Efficient boneyard pray - ColdFingers3", "http://www.youtube.com/watch?v=85lJ9_uxuKc"
    %br
    = link_to "Lvl 3 UIM suicide tiara RC - Needfireplz", "http://www.youtube.com/watch?v=4NBsXsOS9tg"
    %br 
    = link_to "UIM 2-tick earth RC - TrustNoBanks", "https://youtu.be/ySiczjqEO5s"
    %br
    = link_to "Adamant pick 2-tick ess - tannerdino", "https://youtu.be/L7HN8U5K7J4"
    %br
    = link_to "2-tick Chronicle Willow/Oak Split 0-time FM-Walk - Quadrant Dub", "https://www.youtube.com/watch?v=mqbU_l5uFcQ"
    %br
    %br
     
    %h5 Charts
    = link_to "Best Arrows at Each Level - UncleTomas", "http://i.redd.it/wbvbp88s4ycy.png"
    %br
    = link_to "F2P Melee max hit table - ihave10gp", "https://docs.google.com/spreadsheets/d/1XI7KoERC6IOZTTFjg6gy4w0OMvsM0fAZPVC2Y6ev5hQ/edit?usp=sharing"
    %br
    = link_to "Power Ammy vs Strength Ammy - UncleTomas", "http://i.imgur.com/cNeN6Xd.png"
    %br
    = link_to "Loot from 11k Ogresse Kills - W_385", "http://i.redd.it/hbfboi9ia0701.png"
    
  = content_tag(:div, nil, class: "left", style: "margin-left: 10px; text-align: center; width:300px; padding: 5px; padding-bottom: 10px;") do 
    %h1 Community
    %h5 Clans
    = link_to "W_385", "http://www.reddit.com/r/W385/"
    = "|"
    = link_to "Discord", "https://discord.gg/hGBpN7Y"
    %br
    = link_to "Free to play", "https://www.reddit.com/r/f2posrs/"
    = "|"
    = link_to "Discord", "https://discord.gg/CNA8VED"
    %br
    = link_to "F2P IM Clan", "http://services.runescape.com/m=forum/a=13/c=hFxc-hGw-pk/forums.ws?320,321,979,66075606"
    %br
    = "W_530: clan chat \"W_530\""
    = "|"
    = link_to "Discord", "https://discord.gg/ZJ49ufC"
    %br
    = "F2P Runners (WIP)"
    = link_to "Discord", "https://discord.gg/PA4Nax5"
    %br
    %br
    
    %h5 Youtube Channels
    = content_tag(:table, nil, style: "color: white; line-height: 12px; text-align: center; margin: auto; width: 240px; min-width: 240px; padding: 0px; margin-bottom: 10px; background: none; border: none;") do 
      %thead{style: "border: none;"}
        %tr{style: "border: none;"}
          %th{style: "border: none;"} Regs
          %th{style: "border: none;"} Ironmen
      %tbody{style: "border: none;"}
        %tr{style: "border: none;"}
          %td{style: "border: none;"}= link_to "Pawz", "https://www.youtube.com/channel/UC_fgZS0tDWhEPYuRRREralw/featured", style: "color: #90c040;"
          %td{style: "border: none;"}= link_to "Tame My Wild*", "http://www.youtube.com/channel/UCbmXIJdVqV4uR3C_0kATbbg", style: "color: #90c040;"
        %tr{style: "border: none;"}
          %td{style: "border: none;"}= link_to "Faij", "http://www.youtube.com/channel/UC1Sy5U05d0VUAQq9Jfn89-A", style: "color: #90c040;"
          %td{style: "border: none;"}= link_to "F2P HCIM MrG", "http://www.youtube.com/user/MrGraumanChannel", style: "color: #90c040;"
        %tr{style: "border: none;"}
          %td{style: "border: none;"}= link_to "Wide Abdomen*", "http://www.youtube.com/channel/UC1M0Uj-Yojtfq-Gf6OZ0U8g", style: "color: #90c040;"
          %td{style: "border: none;"}= link_to "DIY Qweef*", "http://www.youtube.com/channel/UCHA4bEo-ZJ8wBDrEH1iyPMA", style: "color: #90c040;"
        %tr{style: "border: none;"}
          %td{style: "border: none;"}= link_to "Dagah", "http://www.youtube.com/channel/UCARtI9MaSPX3rytNcDm-gpQ", style: "color: #90c040;"
          %td{style: "border: none;"}= link_to "Terrathrone", "http://www.youtube.com/watch?v=Yz23Mb1ABB4&list=PLyEAkC8t_JfVG0s6ps2yEZjk-E594uB0c", style: "color: #90c040;"
        %tr{style: "border: none;"}
          %td{style: "border: none;"}= link_to "Freckled Kid", "http://www.youtube.com/channel/UCQnAzLbpqsS_8bP2KAiBzjg", style: "color: #90c040;"
          %td{style: "border: none;"}= link_to "F2P UIM OREO", "http://www.youtube.com/channel/UC-ZHd2U9zj7Hemc-IsYucAg", style: "color: #90c040;"
        %tr{style: "border: none;"}
          %td{style: "border: none;"}= link_to "Magnus F2P*", "http://www.youtube.com/channel/UCvE3DoLAECkRvII-MqLhloQ", style: "color: #90c040;"
          %td{style: "border: none;"}= link_to "Tannerdino", "https://www.youtube.com/channel/UC1h5LVojUftcx-ZU1UqoMbQ", style: "color: #90c040;" 
        %tr{style: "border: none;"}
          %td{style: "border: none;"}= link_to "Cephalotaxus*", "http://www.youtube.com/channel/UCFkL5t0ekeqcwwx44r1nLVw", style: "color: #90c040;"
          %td{style: "border: none;"}= link_to "Ironman260", "https://www.youtube.com/channel/UClfA0vrt_mWI-ui0zvr9QAg", style: "color: #90c040;"
        %tr{style: "border: none;"}
          %td{style: "border: none;"}
          %td{style: "border: none;"}= link_to "Vannaka", "https://www.youtube.com/channel/UCBFIHC0C2roQllCR9bnFX4g", style: "color: #90c040;"        
        %tr{style: "border: none;"}
          %td{style: "border: none;"}
          %td{style: "border: none;"}= link_to "Say F2p Ult", "https://www.youtube.com/channel/UCBRFQXYlDWx_uBrizZbw2SA", style: "color: #90c040;"
        %tr{style: "border: none;"}
          %td{style: "border: none;"}
          %td{style: "border: none;"}= link_to "i go by zach", "https://www.youtube.com/channel/UCPDpXhIpGcZF9Sr9k6aVIRA", style: "color: #90c040;"
    = "* inactive"
    %br
    %br
    
    %h5 Streamers
    = link_to "Pawz", "http://www.twitch.tv/pawzrs"
    %br
    = link_to "Tannerdino", "https://www.twitch.tv/tannerdino"
    %br
    = link_to "Aip", "https://www.twitch.tv/onehandedstreams"
    %br
    = link_to "Natekay", "https://www.twitch.tv/uim_natekay"
    %br
    %br
