%p#notice= notice

- skill_list = F2POSRSRanks::Application.config.f2p_skills.clone
- skill_list << "overall"
= skill_list
- Player.all.order("overall_ehp DESC").each do |player|
  - if not player.player_name.nil?
    - name = player.player_name.gsub(" ", "_")
  - else
    - name = player.player_name
  - str = "              { 'player_name': '#{player.player_name}', 'player_acc_type': '#{player.player_acc_type}'"
  - skill_list.each do |skill|
    - lvl = "#{skill}_lvl"
    - xp = "#{skill}_xp"
    - ehp = "#{skill}_ehp"
    - if (not player["#{lvl}"].nil?) and player['potential_p2p'] == '0'
      - str = str + ", #{skill}_lvl: #{player[lvl]}"
    - else
      - str = str +  ", #{skill}_lvl: 0"
    - if (not player["#{xp}"].nil?) and player['potential_p2p'] == '0'
      - str = str +  ", #{skill}_xp: #{player[xp]}"
    - else
      - str = str +  ", #{skill}_xp: 0"
    - if (not player["#{ehp}"].nil?) and player['potential_p2p'] == '0'
      - str = str +  ", #{skill}_ehp: #{player[ehp]}"
    - else
      - str = str +  ", #{skill}_ehp: 0"
  - str = str + ", overall_ehp_start: #{player.overall_ehp_start || 0}"
  - str = str + ", overall_ehp_end: #{player.overall_ehp_end || 0}"
  - str = str +  "},\n"
  = str
  %br