= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= "Name, overall_ehp_start, overall_ehp_end, overall_ehp gained\n"

- @comp_players.each do |player|
  - name = player.player_name.gsub(" ", "_")
  - str = "#{player.player_name} "
  - str = str + "#{player.overall_ehp_start} "
  - str = str + "#{player.overall_ehp_end} "
  - ehp_gained = "#{player.overall_ehp_end}".to_f - "#{player.overall_ehp_start}".to_f 
  - str = str + ehp_gained.to_s
  - str = str +  "\n"
  = str
  %br