- @title = "Hiscores" 
= link_to image_tag("f2pwiki_500.png"), players_path

= render :partial => "header.html.haml",  :locals => {notice: notice}

- skill_name = "#{@skill}".capitalize
- if @skill == "ttm_lvl"
  - title = "F2P Time to all 99s Hiscores"
  - skill_icon = "skills/time.png"
- elsif @skill == "ttm_xp"
  - title = "F2P Time to all 200m Hiscores"
  - skill_icon = "skills/time.png"
- elsif @skill == "no_combats"
  - title = "F2P Overall (no combats) Hiscores"
  - skill_icon = ""
- elsif @skill == "99_count"
  - title = "F2P 99 Count"
  - skill_icon = ""
- elsif @skill == "200m_count"
  - title = "F2P 200m Count"
  - skill_icon = ""
- elsif @skill == "lowest_lvl"
  - title = "F2P Lowest Level"
  - skill_icon = ""
- elsif @skill == "clues_all"
  - title = "F2P Clue (all) Hiscores"
  - skill_icon = "skills/clue.png"
- elsif @skill == "clues_beginner"
  - title = "F2P Clue (beginner) Hiscores"
  - skill_icon = "skills/clue.png"
- elsif @skill == "obor_kc"
  - title = "F2P Obor Kill Count"
  - skill_icon = "skills/kill_count.png"
- elsif @skill == "bryo_kc"
  - title = "F2P Bryophyta Kill Count"
  - skill_icon = "skills/kill_count.png"
- else
  - title = "F2P #{skill_name} #{@sort_by.upcase} Hiscores"
  - skill_icon = "skills/#{@skill}.png"
= content_tag(:div, nil, class: "container", style: "width: 800px;") do 
  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 0px; margin-right: 5px; width: 200px;") do 
    = content_tag(:div, nil, class: "container", id: "headerSkills", style: "margin: auto; margin-bottom: 0px; width: 200px; height: 103px;") 
    = content_tag(:div, nil, class: ["container", "skills"], style: "width: 200px; margin-bottom: 0px; line-height: 28px;") do 
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/time.png", style: "vertical-align: -6px;"
      = link_to "Time to all 99s", :controller => "players", :action => "ranks", :skill => "ttm_lvl"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/time.png", style: "vertical-align: -6px;"
      = link_to "Time to all 200m", :controller => "players", :action => "ranks", :skill => "ttm_xp"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/overall.png", style: "vertical-align: -6px;"
      = link_to "99 Count", :controller => "players", :action => "ranks", :skill => "99_count"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/overall.png", style: "vertical-align: -6px;"
      = link_to "200m Count", :controller => "players", :action => "ranks", :skill => "200m_count"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/overall.png", style: "vertical-align: -6px;"
      = link_to "Overall", :controller => "players", :action => "ranks", :skill => "overall"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/overall.png", style: "vertical-align: -6px;"
      = link_to "Non-combats", :controller => "players", :action => "ranks", :skill => "no_combats"
      - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
        %br
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        = image_tag "skills/#{skill}.png", style: "vertical-align: -6px;"
        = link_to "#{skill.capitalize}", :controller => "players", :action => "ranks", :skill => "#{skill}"
      %br  
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/combat.png", style: "vertical-align: -6px;"
      = link_to "Combat Level", :controller => "players", :action => "ranks", :skill => "combat", :sort_by => "lvl"
      %br  
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/overall.png", style: "vertical-align: -6px;"
      = link_to "Lowest Level", :controller => "players", :action => "ranks", :skill => "lowest_lvl"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/clue.png", style: "vertical-align: -6px;"
      = link_to "Clues (all)", :controller => "players", :action => "ranks", :skill => "clues_all"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/clue.png", style: "vertical-align: -6px;"
      = link_to "Clues (beg.)", :controller => "players", :action => "ranks", :skill => "clues_beginner"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/lms.png", style: "vertical-align: -6px;"
      = link_to "LMS", :controller => "players", :action => "ranks", :skill => "lms"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/kill_count.png", style: "vertical-align: -6px;"
      = link_to "Obor Kills", :controller => "players", :action => "ranks", :skill => "obor_kc"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/kill_count.png", style: "vertical-align: -6px;"
      = link_to "Bryophyta Kills", :controller => "players", :action => "ranks", :skill => "bryo_kc"
        
    = content_tag(:div, nil, class: "container", id: "footerSkills", style: "margin: auto; margin-top: 0px; width: 200px; height: 60px;") 

  = content_tag(:div, nil, class: ["container", "left"], style: "width: 430px; max-width: 430px; overflow-x: auto; margin-top: 5px;") do 
    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; margin-bottom: 0px; width: 430px; height: 41px;") 
    = content_tag(:table, nil, style: "text-align: center; width: 430px; padding: 4px; margin-bottom: 0px;") do 
      %thead
        %tr
          %th{:align => "center", :colspan => 6}
            - if @skill == "combat"
              = image_tag "skills/combat.png", style: "vertical-align: -6px;"
            - else
              = image_tag skill_icon, style: "vertical-align: -6px;"
            = title
      %thead
        %tr
          %th Rank
          %th{:align => "left"} Name
          %th Account
          - if @skill.include?("ttm")
            %th Time to Max (Hours)
          - elsif @skill.include?("clues")
            %th Clues Score
          - elsif @skill.include?("count")
            %th Count
          - elsif @skill.include?("lowest_lvl")
            %th Lowest Level
          - elsif @skill.include?("lms")
            %th Score
            %th Rank
          - elsif @skill.include?("_kc")
            %th Kills
            %th Rank
          - else
            - if @sort_by == "lvl"
              %th{:class => @player_lvl_header, :style => "text-decoration: underline;"}= link_to "Level",ranks_path(:sort_by => 'lvl', :skill => @skill), :id => 'player_lvl_header'
            - else
              %th{:class => @player_lvl_header}= link_to "Level",ranks_path(:sort_by => 'lvl', :skill => @skill), :id => 'player_lvl_header'
            - if @skill != "combat"
              - if @sort_by == "xp"
                %th{:class => @player_xp_header, :style => "text-decoration: underline;"}= link_to "XP", ranks_path(:sort_by => 'xp', :skill => @skill), :id => 'player_xp_header'
              - else
                %th{:class => @player_xp_header}= link_to "XP", ranks_path(:sort_by => 'xp', :skill => @skill), :id => 'player_xp_header'
              - if @sort_by == "ehp"
                %th{:class => @player_ehp_header, :style => "text-decoration: underline;"}= link_to "EHP", ranks_path(:sort_by => 'ehp', :skill => @skill), :id => 'player_ehp_header'
              - else
                %th{:class => @player_ehp_header}= link_to "EHP", ranks_path(:sort_by => 'ehp', :skill => @skill), :id => 'player_ehp_header'
  
      %tbody
        - @players.each.with_index 1 do |player, index|
          %tr
            - offset = index + (@players.current_page - 1)*@show_limit.to_i
            %td{:align => "right"}= offset
            - name = player.player_name.gsub(" ", "_")
            - if player.player_name == "Based Chew"
              %td{:align => "left"}= link_to "***Retired***", "players/#{name}"
            - else
              %td{:align => "left"}= link_to player.player_name, "players/#{name}"  
            %td{:align => "center"}= player.player_acc_type   
            - if @skill.include?("ttm")
              %td= number_with_delimiter(number_with_precision(player["#{@skill}"].to_f, :precision => 2), :delimiter => ",", :separator => ".") 
            - elsif @skill.include?("clues")
              %td= player["#{@skill}"]
            - elsif @skill == "no_combats"
              %td= player["woodcutting_lvl"] + player["firemaking_lvl"] + player["fishing_lvl"] + player["cooking_lvl"] + player["mining_lvl"] + player["smithing_lvl"] + player["crafting_lvl"] + player["runecraft_lvl"]
              - no_combats_xp = player["woodcutting_xp"] + player["firemaking_xp"] + player["fishing_xp"] + player["cooking_xp"] + player["mining_xp"] + player["smithing_xp"] + player["crafting_xp"] + player["runecraft_xp"]
              - no_combats_ehp = number_with_precision(player["woodcutting_ehp"] + player["firemaking_ehp"] + player["fishing_ehp"] + player["cooking_ehp"] + player["mining_ehp"] + player["smithing_ehp"] + player["crafting_ehp"] + player["runecraft_ehp"], precision: 2)
              %td= number_with_delimiter(no_combats_xp.to_i, :delimiter => ",") 
              %td= number_with_delimiter(no_combats_ehp.to_f, :delimiter => ",", :separator => ".") 
            - elsif @skill.include?("99_count")
              %td= player.count_99
            - elsif @skill.include?("200m_count")
              %td= player.count_200m
            - elsif @skill.include?("lowest_lvl")
              %td= player.lowest_lvl
            - elsif @skill.include?("lms")
              %td= player["lms_score"]
              %td= player["lms_rank"]
            - elsif @skill.include?("_kc")
              %td= player[@skill]
              %td= player["#{@skill}_rank"]
            - else
              %td= player["#{@skill}_lvl"]
              - if @skill != "combat"
                %td= number_with_delimiter(player["#{@skill}_xp"].to_i, :delimiter => ",") 
                %td= number_with_delimiter(player["#{@skill}_ehp"].to_f, :delimiter => ",", :separator => ".") 
            
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin: auto; margin-top: 0px; width: 430px; height: 41px;") 

  = content_tag(:div, nil, class: ["container", "left"], style: "width: 160px; max-width: 430px; overflow-x: auto; margin-top: 5px;") do 
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 15px; width: 140px; height: 96px;") do 
      = form_tag ranks_path, :method => "get", id: "search-players-form" do
        = "Search by name"
        %br
        = text_field_tag :search, params[:search], placeholder: "", :class => "search-field", style: "width: 100px;"
        %br
        = submit_tag "Search"
        
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 15px; width: 140px; height: 96px;") do 
      = form_tag ranks_path, :method => "get", id: "add-player-form" do
        = "Add to Hiscores"
        %br
        = text_field_tag :player_to_add_name, params[:player_to_add_name], placeholder: "Player Name", :class => "add-player-field", style: "width: 100px;"
        %br
        = submit_tag "Add"
        
    = content_tag(:div, nil, class: ["container", "left", "filter"], style: "margin-left: 15px; width: 140px; height: 126px;") do 
      = form_tag compare_path, :method => :get, :id => 'filters_form' do
        = "Compare Users"
        %br
        = text_field_tag :player1, params[:player1], placeholder: "", :class => "search-field", style: "width: 100px;"
        %br
        = text_field_tag :player2, params[:player2], placeholder: "", :class => "search-field", style: "width: 100px;"
        %br
        = submit_tag 'Compare', :id => "compare_submit"

    %br
    = link_to "Reset filters", ranks_path(:clear_filters => "true")
    %br

    = content_tag(:div, nil, class: ["container", "left", "filter"], style: "margin-left: 15px; width: 140px; height: 126px;") do 
      = form_tag ranks_path, :method => :get, :id => 'filters_form' do
        = "Filter Accounts"
        %br
        = content_tag(:div, nil, class: "container", style: "color: #d9c27e; text-align: left; width: 126px; margin-bottom: 0px;") do
          - ["Reg", "IM", "UIM", "HCIM"].each do |type|
            &nbsp
            = check_box_tag "filters_[#{type}]", 1, @filters.include?(type), :id => "filters_#{type}"
            = type
            - if type == "IM"
              %br
        = submit_tag 'Filter', :id => "filters_submit"
        
    = content_tag(:div, nil, class: ["container", "left", "filter"], style: "line-height: 18px; margin-left: 15px; width: 140px; height: 126px;") do 
      = form_tag ranks_path, :method => :get, :id => 'restrictions_form' do
        = "Restrictions"
        %br
        = content_tag(:div, nil, class: "container", style: "color: #d9c27e; text-align: left; width: 126px; margin-bottom: 0px;") do
          - ["3 combat", "1 defence", "10 hitpoints"].each do |type|
            &nbsp
            = check_box_tag "restrictions_[#{type}]", 1, @restrictions.include?(type), :id => "restrictions_#{type}"
            = type
            %br
        = submit_tag 'Filter', :id => "restrictions_submit"

    %br
    - if @filter_inactive == "true"
      = link_to "Unfilter inactive?", ranks_path(:filter_inactive => "false")
    - else
      = link_to "Filter inactive?", ranks_path(:filter_inactive => "true")
    %br
    %br
        
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 15px; width: 140px; height: 96px;") do 
      = form_tag ranks_path, :method => :get, :id => 'show_limits_form' do
        = "Players Per Page"
        %br
        = select_tag :show_limit, options_for_select(["25", "50", "100", "250", "500"], @show_limit)
        %br
        = submit_tag 'Refresh', :id => "show_limit_submit"

= will_paginate @players
