= content_tag(:div, nil, class: ["div", "title"]) do 
  %h1 
    = link_to "F2P.wiki", players_path
  = content_tag(:div, nil, class: ["container", "subtitle"]) do 
    = "for all your F2P OSRS needs"
  %p#notice= notice

%br
= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks", "selected-link"]) do
    = "F2P OSRS Ranks"
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donations", donate_path

= content_tag(:div, nil, style: "margin: auto; width: 280px; padding: 5px; margin-bottom: 5px; margin-top: 0px;") do 
  = form_tag ranks_path, :method => "get", id: "search-players-form" do
    = "Find Player "
    = text_field_tag :search, params[:search], placeholder: "Player Name", :class => "search-field", style: "width: 140px;"
    = submit_tag "Find"

= content_tag(:div, nil, class: "container", style: "width: 420px;") do 
  = content_tag(:div, nil, class: "left", style: "width: 95px; padding: 5px;") do 
    = form_tag ranks_path, :method => :get, :id => 'filters_form' do
      = "Filter Account Type?"
      %br
      = content_tag(:div, nil, class: "container", style: "text-align: left; width: 95px; margin-bottom: 0px;") do
        - ["Reg", "IM", "UIM", "HCIM"].each do |type|
          &nbsp;&nbsp;&nbsp;
          = check_box_tag "filters_[#{type}]", 1, @filters.include?(type), :id => "filters_#{type}"
          = type
          %br
      = submit_tag 'Filter', :id => "filters_submit"
      
  = content_tag(:div, nil, class: ["div", "left"], style: "margin-left: 5px; width: 165px; padding: 5px;") do 
    = form_tag ranks_path, :method => :get, :id => 'skills_form' do
      - all_skills = F2POSRSRanks::Application.config.f2p_skills
      = "Show Skills?"
      %br
      - all_skills.each.with_index 1 do |skill, idx|
        = check_box_tag "skills_[#{skill}]", 1, @skills.include?("#{skill}"), :id => "skills_#{skill}"
        = image_tag "#{skill}.png"
        - if (idx % 3) == 0
          %br
      = submit_tag 'Refresh', :id => "skills_submit"
      
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 100px; margin-left: 2px;") do 
    = content_tag(:div, nil, style: "margin: auto; width: 80px; padding: 5px;") do 
      = form_tag ranks_path, :method => :get, :id => 'display_form' do
        = "Skill Display"
        %br
        = select_tag :display, options_for_select(["EHP", "LVL", "XP"], @display.upcase)
        = submit_tag 'Refresh', {:id => 'display_submit'}
        
    = content_tag(:div, nil, style: "margin: auto; width: 80px; padding: 5px; margin-top: 5px;") do
      = form_tag ranks_path, :method => :get, :id => 'show_limits_form' do
        = "Per Page"
        %br
        = select_tag :show_limit, options_for_select(["25", "50", "100", "250", "500"], @show_limit)
        = submit_tag 'Refresh', :id => "show_limit_submit"
      


= content_tag(:div, nil, class: "container", style: "max-width: 780px; overflow-x: auto; margin-top: 5px;") do 
  %table
    %thead
      %tr
        %th Rank
        %th Name
        %th Account Type
        %th{:class => @player_lvl_header}= link_to 'Total LVL',ranks_path(:sort_by => 'overall_lvl'), :id => 'player_lvl_header'
        %th{:class => @player_xp_header}= link_to 'Total XP', ranks_path(:sort_by => 'overall_xp'), :id => 'player_xp_header'
        %th{:class => @player_ehp_header}= link_to 'Overall EHP', ranks_path(:sort_by => 'overall_ehp'), :id => 'player_ehp_header'
        - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
          - if @skills.include?("#{skill}")
            - template = "%s_%s"
            - template2 = "%s %s"
            - t = template % [skill, session[:display]]
            - t2 = template2 % [skill.capitalize, session[:display].upcase]
            %th{:class => "@player_#{skill}_header"}= link_to t2, ranks_path(:sort_by => t), :id => "player_#{skill}_header"
  
    %tbody
      - @players.each.with_index 1 do |player, index|
        %tr
          - offset = index + (@players.current_page - 1)*@show_limit.to_i
          %td{:align => "right"}= offset
          %td= link_to player.player_name, player
          %td{:align => "center"}= player.player_acc_type
          %td= player.overall_lvl
          %td= player.overall_xp
          %td= player.overall_ehp
          - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
            - if @skills.include?("#{skill}")
              - template = "%s_%s"
              - t = template % [skill, @display]
              %td= player[t]
              
= will_paginate @players