= content_tag(:div, nil, style: "text-align: center; width: 240px; padding: 5px; margin: auto;") do 
  %h1 
    = link_to "F2P.wiki", players_path
  = content_tag(:div, nil, style: "font-style: italic; color: white; font-weight: bold; margin: auto; width: 200px; margin-top: 0px; margin-bottom: 0px; color: none; background-color: transparent; border: none") do 
    = "for all your F2P OSRS needs"
  %p#notice= notice

%br
= content_tag(:div, nil, style: "margin: auto; width: 820px; margin-top: 0px; margin-bottom: 10px; color: none; background-color: transparent; border: none") do 
  = content_tag(:div, nil, style: "color: white; font-weight: bold; float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 115px; padding: 10px;") do 
    = "F2P OSRS Ranks"
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 80px; padding: 10px;") do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 100px; padding: 10px;") do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 90px; padding: 10px;") do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 75px; padding: 10px;") do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 140px; padding: 10px;") do 
    = link_to "About Us/Donations", donate_path

%br 
= content_tag(:div, nil, style: "margin: auto; width: 575px; margin-top: 0px; margin-bottom: 10px; color: none; background-color: transparent; border: none") do 
  = content_tag(:div, nil, style: "margin-left: 5px; margin-right: auto; float:left; width: 115px; padding: 5px;") do 
    = form_tag ranks_path, :method => :get, :id => 'display_form' do
      = "Display Skill as:"
      %br
      = content_tag(:div, nil, style: "text-align: left;width: 115px; border: none; background: none;") do
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        = radio_button_tag "display", "ehp", @display.equal?("ehp"), {:display => "ehp"}
        = "EHP"
        
        %br
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        = radio_button_tag "display", "lvl", @display.equal?("lvl"), {:display => "lvl"}
        = "Level"
        
        %br
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        = radio_button_tag "display", "xp", @display.equal?("xp"), {:display => "xp"}
        = "XP"
      = submit_tag 'Refresh', {:id => 'display_submit'}

  = content_tag(:div, nil, style: "margin-left: 5px; margin-right: auto; float:left; width: 95px; padding: 5px;") do 
    = form_tag ranks_path, :method => :get, :id => 'filters_form' do
    
      = "Filter Account Type?"
      %br
      = content_tag(:div, nil, style: "text-align: left;width: 95px; border: none; background: none;") do
        &nbsp;&nbsp;&nbsp;
        = check_box_tag "filters_[Reg]", 1, @filters.include?("Reg"), :id => "filters_Reg"
        = "Reg"
        %br
        &nbsp;&nbsp;&nbsp;
        = check_box_tag "filters_[IM]", 1, @filters.include?("IM"), :id => "filters_IM"
        = "IM"
        %br
        &nbsp;&nbsp;&nbsp;
        = check_box_tag "filters_[UIM]", 1, @filters.include?("UIM"), :id => "filters_UIM"
        = "UIM"
        %br
        &nbsp;&nbsp;&nbsp;
        = check_box_tag "filters_[HCIM]", 1, @filters.include?("HCIM"), :id => "filters_HCIM"
        = "HCIM"
      = submit_tag 'Filter', :id => "filters_submit"
    
  = content_tag(:div, nil, style: "margin-left:auto; float: right; margin-right: 5px; width: 115px; padding: 5px;") do
    = form_tag ranks_path, :method => :get, :id => 'show_limits_form' do
      = "Limit Results?"
      %br
      = content_tag(:div, nil, style: "text-align: left;width: 115px; border: none; background: none;") do
        &nbsp;
        = radio_button_tag "show_limit", 250, @show_limit.equal?(250), :show_limit => 250
        = "Top 250"
        %br
        &nbsp;
        = radio_button_tag "show_limit", 500, @show_limit.equal?(500), :show_limit => 500
        = "Top 500"
        %br
        &nbsp;
        = radio_button_tag "show_limit", 1000, @show_limit.equal?(1000), :show_limit => 1000
        = "Top 1000"
        %br
        &nbsp;
        = radio_button_tag "show_limit", 2000, @show_limit.equal?(2000), :show_limit => 2000
        = "Top 2000"
        %br
        &nbsp;
        = radio_button_tag "show_limit", 20000, @show_limit.equal?(20000), :show_limit => 20000
        = "All Accounts"
      = submit_tag 'Refresh', :id => "show_limit_submit"
      
  = content_tag(:div, nil, style: "margin-left:auto; margin-right: 5px; float: right; width: 165px; padding: 5px;") do 
    = form_tag ranks_path, :method => :get, :id => 'skills_form' do
      - all_skills = F2POSRSRanks::Application.config.f2p_skills
      = "Show Skills?"
      %br
      - all_skills.each.with_index 1 do |skill, idx|
        = check_box_tag "skills_[#{skill}]", 1, @skills.include?("#{skill}"), :id => "skills_#{skill}"
        = image_tag "#{skill}.png"
        - if (idx % 3) == 0
          %br
      = submit_tag 'Refresh', :id => "skills_submit"

= content_tag(:div, nil, style: "margin: auto; max-width: 780px; overflow-x: auto; margin-top: 5px; margin-bottom: 5px; color: none; background-color: transparent; border: none") do 
  %table
    %thead
      %tr
        %th Rank
        %th Name
        //%th Update Stats
        %th Account Type
        %th{:class => @player_lvl_header}= link_to 'Total LVL',ranks_path(:sort_by => 'overall_lvl'), :id => 'player_lvl_header'
        %th{:class => @player_xp_header}= link_to 'Total XP', ranks_path(:sort_by => 'overall_xp'), :id => 'player_xp_header'
        %th{:class => @player_ehp_header}= link_to 'Overall EHP', ranks_path(:sort_by => 'overall_ehp'), :id => 'player_ehp_header'
        - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
          - if @skills.include?("#{skill}")
            - template = "%s_%s"
            - template2 = "%s %s"
            - t = template % [skill, session[:display]]
            - t2 = template2 % [skill.capitalize, session[:display].upcase]
            //%th{:class => @player_header["#{skill}"]}= link_to t2, ranks_path(:sort_by => t), :id => "player_header[#{skill}]"
            %th{:class => "@player_#{skill}_header"}= link_to t2, ranks_path(:sort_by => t), :id => "player_#{skill}_header"
  
    %tbody
      - @players.each.with_index 1 do |player, index|
        %tr
          %td{:align => "right"}= index
          %td= link_to player.player_name, player
          //%td= link_to 'Update', player, method: :update_player
          %td{:align => "center"}= player.player_acc_type
          %td= player.overall_lvl
          %td= player.overall_xp
          %td= player.overall_ehp
          - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
            - if @skills.include?("#{skill}")
              - template = "%s_%s"
              - t = template % [skill, @display]
              %td= player[t]