- @title = "Hiscores" 
= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks", "selected-link"]) do
    = "Hiscores"
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Current Top", tracking_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "Records", records_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donate", donate_path

- skill_name = "#{@skill}".capitalize
- if @skill == "ttm_lvl"
  - title = "F2P Time to all 99s Hiscores"
  - skill_icon = "skills/overall.png"
- elsif @skill == "ttm_xp"
  - title = "F2P Time to all 200m Hiscores"
  - skill_icon = "skills/overall.png"
- elsif @skill == "no_combats"
  - title = "F2P Overall (no combats) Hiscores"
  - skill_icon = ""
- else
  - title = "F2P #{skill_name} #{@sort_by.upcase} Hiscores"
  - skill_icon = "skills/#{@skill}.png"
= content_tag(:div, nil, class: "container", style: "width: 800px;") do 
  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 0px; margin-right: 5px; width: 200px;") do 
    = content_tag(:div, nil, class: "container", id: "headerSkills", style: "margin: auto; margin-bottom: 0px; width: 200px; height: 103px;") 
    = content_tag(:div, nil, class: ["container", "skills"], style: "width: 200px; margin-bottom: 0px; line-height: 28px;") do 
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = link_to "Time to all 99s", :controller => "players", :action => "ranks", :skill => "ttm_lvl"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = link_to "Time to all 200m", :controller => "players", :action => "ranks", :skill => "ttm_xp"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/overall.png", style: "vertical-align: -6px;"
      = link_to "Overall", :controller => "players", :action => "ranks", :skill => "overall"
      %br
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/overall.png", style: "vertical-align: -6px;"
      = link_to "Non-combats", :controller => "players", :action => "ranks", :skill => "no_combats"
      - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
        %br
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        = image_tag "skills/#{skill}.png", style: "vertical-align: -6px;"
        = link_to "#{skill.capitalize}", :controller => "players", :action => "ranks", :skill => "#{skill}"
        
      %br  
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/combat.png", style: "vertical-align: -6px;"
      = link_to "Combat Level", :controller => "players", :action => "ranks", :skill => "combat", :sort_by => "lvl"
      
    = content_tag(:div, nil, class: "container", id: "footerSkills", style: "margin: auto; margin-top: 0px; width: 200px; height: 60px;") 

  = content_tag(:div, nil, class: ["container", "left"], style: "width: 430px; max-width: 430px; overflow-x: auto; margin-top: 5px;") do 
    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; margin-bottom: 0px; width: 430px; height: 41px;") 
    = content_tag(:table, nil, style: "text-align: center; width: 430px; padding: 4px; margin-bottom: 0px;") do 
      %thead
        %tr
          %th{:align => "center", :colspan => 6}
            - if @skill == "combat"
              = image_tag "skills/combat.png", style: "vertical-align: -6px;"
            - else
              = image_tag skill_icon, style: "vertical-align: -6px;"
            = title
      %thead
        %tr
          %th Rank
          %th{:align => "left"} Name
          %th Account
          - if @skill.include?("ttm")
            %th Time to Max (Hours)
          - else
            - if @sort_by == "lvl"
              %th{:class => @player_lvl_header, :style => "text-decoration: underline;"}= link_to "Level",ranks_path(:sort_by => 'lvl', :skill => @skill), :id => 'player_lvl_header'
            - else
              %th{:class => @player_lvl_header}= link_to "Level",ranks_path(:sort_by => 'lvl', :skill => @skill), :id => 'player_lvl_header'
            - if @skill != "combat"
              - if @sort_by == "xp"
                %th{:class => @player_xp_header, :style => "text-decoration: underline;"}= link_to "XP", ranks_path(:sort_by => 'xp', :skill => @skill), :id => 'player_xp_header'
              - else
                %th{:class => @player_xp_header}= link_to "XP", ranks_path(:sort_by => 'xp', :skill => @skill), :id => 'player_xp_header'
              - if @sort_by == "ehp"
                %th{:class => @player_ehp_header, :style => "text-decoration: underline;"}= link_to "EHP", ranks_path(:sort_by => 'ehp', :skill => @skill), :id => 'player_ehp_header'
              - else
                %th{:class => @player_ehp_header}= link_to "EHP", ranks_path(:sort_by => 'ehp', :skill => @skill), :id => 'player_ehp_header'
  
      %tbody
        - @players.each.with_index 1 do |player, index|
          %tr
            - offset = index + (@players.current_page - 1)*@show_limit.to_i
            %td{:align => "right"}= offset
            - name = player.player_name.gsub(" ", "_")
            - if player.player_name == "Based Chew"
              %td{:align => "left"}= link_to "***Retired***", "players/#{name}"
            - else
              %td{:align => "left"}= link_to player.player_name, "players/#{name}"  
            %td{:align => "center"}= player.player_acc_type   
            - if @skill.include?("ttm")
              %td= number_with_delimiter(number_with_precision(player["#{@skill}"].to_f, :precision => 2), :delimiter => ",", :separator => ".") 
            - if @skill == "no_combats"
              %td= player["overall_lvl"] - player["hitpoints_lvl"] - player["attack_lvl"] - player["strength_lvl"] - player["defence_lvl"] - player["ranged_lvl"] - player["magic_lvl"] - player["prayer_lvl"]
              - no_combats_xp =  player["overall_xp"] - player["hitpoints_xp"] - player["attack_xp"] - player["strength_xp"] - player["defence_xp"] - player["ranged_xp"] - player["magic_xp"] - player["prayer_xp"]
              - no_combats_ehp =number_with_precision(player["overall_ehp"] - player["attack_ehp"] - player["strength_ehp"] - player["defence_ehp"] - player["ranged_ehp"] - player["magic_ehp"] - player["prayer_ehp"], precision: 2)
              %td= number_with_delimiter(no_combats_xp.to_i, :delimiter => ",") 
              %td= number_with_delimiter(no_combats_ehp.to_f, :delimiter => ",", :separator => ".") 
            - else
              %td= player["#{@skill}_lvl"]
              - if @skill != "combat"
                %td= number_with_delimiter(player["#{@skill}_xp"].to_i, :delimiter => ",") 
                %td= number_with_delimiter(player["#{@skill}_ehp"].to_f, :delimiter => ",", :separator => ".") 
            
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin: auto; margin-top: 0px; width: 430px; height: 41px;") 

  = content_tag(:div, nil, class: ["container", "left"], style: "width: 160px; max-width: 430px; overflow-x: auto; margin-top: 5px;") do 
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 15px; width: 140px; height: 96px;") do 
      = form_tag ranks_path, :method => "get", id: "search-players-form" do
        = "Search by name"
        %br
        = text_field_tag :search, params[:search], placeholder: "", :class => "search-field", style: "width: 100px;"
        %br
        = submit_tag "Search"
        
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 15px; width: 140px; height: 96px;") do 
      = form_tag ranks_path, :method => "get", id: "add-player-form" do
        = "Add to Hiscores"
        %br
        = text_field_tag :player_to_add_name, params[:player_to_add_name], placeholder: "Player Name", :class => "add-player-field", style: "width: 100px;"
        %br
        = submit_tag "Add"
        
    = content_tag(:div, nil, class: ["container", "left", "filter"], style: "margin-left: 15px; width: 140px; height: 126px;") do 
      = form_tag compare_path, :method => :get, :id => 'filters_form' do
        = "Compare Users"
        %br
        = text_field_tag :player1, params[:player1], placeholder: "", :class => "search-field", style: "width: 100px;"
        %br
        = text_field_tag :player2, params[:player2], placeholder: "", :class => "search-field", style: "width: 100px;"
        %br
        = submit_tag 'Compare', :id => "compare_submit"
        
    = content_tag(:div, nil, class: ["container", "left", "filter"], style: "margin-left: 15px; width: 140px; height: 126px;") do 
      = form_tag ranks_path, :method => :get, :id => 'filters_form' do
        = "Filter Accounts"
        %br
        = content_tag(:div, nil, class: "container", style: "color: #d9c27e; text-align: left; width: 126px; margin-bottom: 0px;") do
          - ["Reg", "IM", "UIM", "HCIM"].each do |type|
            &nbsp
            = check_box_tag "filters_[#{type}]", 1, @filters.include?(type), :id => "filters_#{type}"
            = type
            - if type == "IM"
              %br
        = submit_tag 'Filter', :id => "filters_submit"
        
    = content_tag(:div, nil, class: ["container", "left", "filter"], style: "line-height: 18px; margin-left: 15px; width: 140px; height: 126px;") do 
      = form_tag ranks_path, :method => :get, :id => 'restrictions_form' do
        = "Restrictions"
        %br
        = content_tag(:div, nil, class: "container", style: "color: #d9c27e; text-align: left; width: 126px; margin-bottom: 0px;") do
          - ["3 combat", "1 defence", "10 hitpoints"].each do |type|
            &nbsp
            = check_box_tag "restrictions_[#{type}]", 1, @restrictions.include?(type), :id => "restrictions_#{type}"
            = type
            %br
        = submit_tag 'Filter', :id => "restrictions_submit"
        
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 15px; width: 140px; height: 96px;") do 
      = form_tag ranks_path, :method => :get, :id => 'show_limits_form' do
        = "Players Per Page"
        %br
        = select_tag :show_limit, options_for_select(["25", "50", "100", "250", "500"], @show_limit)
        %br
        = submit_tag 'Refresh', :id => "show_limit_submit"

= will_paginate @players