= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks", "selected-link"]) do
    = "F2P OSRS Ranks"
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donations", donate_path

- skill_name = "#{@skill}".capitalize
= content_tag(:div, nil, class: "container", style: "width: 800px;") do 
  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 0px; margin-right: 5px; width: 200px;") do 
    = content_tag(:div, nil, class: "container", id: "headerSkills", style: "margin: auto; margin-bottom: 0px; width: 200px; height: 103px;") 
    = content_tag(:div, nil, class: ["container", "skills"], style: "width: 200px; margin-bottom: 0px; line-height: 28px;") do 
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = image_tag "skills/overall.png", style: "vertical-align: -6px;"
      = link_to "Overall", :controller => "players", :action => "ranks", :skill => "overall"
      - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
        %br
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        = image_tag "skills/#{skill}.png", style: "vertical-align: -6px;"
        = link_to "#{skill.capitalize}", :controller => "players", :action => "ranks", :skill => "#{skill}"
        
    = content_tag(:div, nil, class: "container", id: "footerSkills", style: "margin: auto; margin-top: 0px; width: 200px; height: 60px;") 

  = content_tag(:div, nil, class: ["container", "left"], style: "width: 430px; max-width: 430px; overflow-x: auto; margin-top: 5px;") do 
    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; margin-bottom: 0px; width: 430px; height: 41px;") 
    = content_tag(:table, nil, style: "text-align: center; width: 430px; padding: 4px; margin-bottom: 0px;") do 
      %thead
        %tr
          %th{:align => "center", :colspan => 6}
            = image_tag "skills/#{@skill}.png", style: "vertical-align: -6px;"
            = "F2P #{skill_name} #{@sort_by.upcase} Hiscores"
      %thead
        %tr
          %th Rank
          %th Name
          %th Account
          %th{:class => @player_lvl_header}= link_to "Level",ranks_path(:sort_by => 'lvl', :skill => @skill), :id => 'player_lvl_header'
          %th{:class => @player_xp_header}= link_to "XP", ranks_path(:sort_by => 'xp', :skill => @skill), :id => 'player_xp_header'
          %th{:class => @player_ehp_header}= link_to "EHP", ranks_path(:sort_by => 'ehp', :skill => @skill), :id => 'player_ehp_header'
  
      %tbody
        - @players.each.with_index 1 do |player, index|
          %tr
            - offset = index + (@players.current_page - 1)*@show_limit.to_i
            %td{:align => "right"}= offset
            %td= link_to player.player_name, "http://f2p.wiki/players/#{player.player_name}"
            %td{:align => "center"}= player.player_acc_type
            %td= player["#{@skill}_lvl"]
            %td= player["#{@skill}_xp"]
            %td= player["#{@skill}_ehp"]
            
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin: auto; margin-top: 0px; width: 430px; height: 41px;") 

  = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 15px; width: 140px; height: 96px;") do 
    = form_tag ranks_path, :method => "get", id: "search-players-form" do
      = "Search by name"
      %br
      = text_field_tag :search, params[:search], placeholder: "", :class => "search-field", style: "width: 100px;"
      %br
      = submit_tag "Search"
      
  = content_tag(:div, nil, class: ["container", "left", "filter"], style: "margin-left: 15px; width: 140px; height: 126px;") do 
    = form_tag ranks_path, :method => "get", id: "add-player-form" do
      = "Add to Hiscores"
      %br
      = text_field_tag :player_to_add_name, params[:player_to_add_name], placeholder: "Player Name", :class => "add-player-field", style: "width: 100px;"
      %br
      = select_tag :player_to_add_acc, options_for_select(["Reg", "IM", "UIM", "HCIM"])
      %br
      = submit_tag "Add"
      
  = content_tag(:div, nil, class: ["container", "left", "filter"], style: "margin-left: 15px; width: 140px; height: 126px;") do 
    = form_tag ranks_path, :method => :get, :id => 'filters_form' do
      = "Filter Accounts"
      %br
      = content_tag(:div, nil, class: "container", style: "color: #d9c27e; text-align: left; width: 126px; margin-bottom: 0px;") do
        - ["Reg", "IM", "UIM", "HCIM"].each do |type|
          &nbsp
          = check_box_tag "filters_[#{type}]", 1, @filters.include?(type), :id => "filters_#{type}"
          = type
          - if type == "IM"
            %br
      = submit_tag 'Filter', :id => "filters_submit"
      
  = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 15px; width: 140px; height: 96px;") do 
    = form_tag ranks_path, :method => :get, :id => 'show_limits_form' do
      = "Players Per Page"
      %br
      = select_tag :show_limit, options_for_select(["25", "50", "100", "250", "500"], @show_limit)
      %br
      = submit_tag 'Refresh', :id => "show_limit_submit"

= will_paginate @players