%h1 
  = F2POSRSRanks::Application.config.version
%h4 
= "by unkie, shoot me an email/send feedback at f2posrsranks@gmail.com"
%br
%p#notice= notice
= link_to "View Changelog", changelog_path
%br
= link_to "View EHP Rates", ehp_path
%br
/= '|Update All Players\' Stats| ADMIN ACCESS ONLY'
= button_to "Update All Players\' Stats", {:method => "put", :controller => "players", :action => "refresh_players"} 


