%h1 
  = F2POSRSRanks::Application.config.version
%h4 
= "by unkie, shoot me an email/send feedback at f2posrsranks@gmail.com"
%br
%p#notice= notice
= link_to "View Changelog", changelog_path
%br
= link_to "View EHP Rates", ehp_path
%br
%br
/= '|Update All Players\' Stats| ADMIN ACCESS ONLY'
= button_to "Update All Players\' Stats", {:method => "put", :controller => "players", :action => "refresh_players"} 
%br
%br
%br
= button_to "Export All Players\' Stats", {:controller => "players", :action => "export_players"} 
%br
%br
%br
= '|Find New F2P Players| ADMIN ACCESS ONLY'
= button_to "Find New F2P Players", {:method => "put", :controller => "players", :action => "find_new"} 
%br
%br
%br
= form_tag players_path, :method => "get", id: "search-players-form" do
  = "Add a missing Player: "
  %br
  = text_field_tag :player_to_add_name, params[:player_to_add_name], placeholder: "Player Name"
  = "Player Name"
  %br
  = text_field_tag :player_to_add_acc, params[:player_to_add_acc], placeholder: "Player Account Type"
  = "Player Account Type"
  %br
  = submit_tag "Add" 


