= content_tag(:div, nil, style: "text-align: center; width: 240px; padding: 5px; margin: auto;") do 
  %h1 
    = link_to "F2P.wiki", players_path
  = content_tag(:div, nil, style: "font-style: italic; color: white; font-weight: bold; margin: auto; width: 200px; margin-top: 0px; margin-bottom: 0px; color: none; background-color: transparent; border: none") do 
    = "for all your F2P OSRS needs"
  %p#notice= notice

%br
= content_tag(:div, nil, style: "margin: auto; width: 820px; margin-top: 0px; margin-bottom: 10px; color: none; background-color: transparent; border: none") do 
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 115px; padding: 10px;") do 
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 80px; padding: 10px;") do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 100px; padding: 10px;") do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 90px; padding: 10px;") do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 70px; padding: 10px;") do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 140px; padding: 10px;") do 
    = link_to "About Us/Donations", donate_path

= content_tag(:div, nil, style: " margin: auto; text-align: center; width: 155px; padding: 10px;") do 
  = link_to "View Plaintext Player List", plaintext_path
%br
%br
= button_to "Update All Players\' Stats", {:method => "put", :controller => "players", :action => "refresh_players"} 
%br
%br
= button_to "Update Top 1000 Players\' Stats", {:method => "put", :controller => "players", :action => "refresh_1000"} 
%br
%br
= button_to "Export All Players\' Stats", {:controller => "players", :action => "export_players"} 
%br
%br
= form_tag players_path, :method => "get", id: "create-player-form" do
  = "Add a missing Player"
  %br
  = text_field_tag :player_to_add_name, params[:player_to_add_name], placeholder: "Player Name"
  = "Player Name"
  %br
  = text_field_tag :player_to_add_acc, params[:player_to_add_acc], placeholder: "Player Account Type"
  = "Player Account Type"
  %br
  = submit_tag "Add" 

%br
%br
= form_tag players_path, :method => "get", id: "delete-player-form" do
  = "Remove a Player"
  %br
  = text_field_tag :player_to_del_name, params[:player_to_del_name], placeholder: "Player Name"
  = "Player Name"
  %br
  = submit_tag "Delete" 
