- @title = "#{@player.player_name}'s Personal Hiscores"
- if @player.player_name == "f2p Ello"
  = link_to image_tag("f2p_ello_map.png"), players_path
- else
  = link_to image_tag("f2pwiki.png"), players_path

= render :partial => "header.html.haml",  :locals => {notice: notice}

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 240px;") do
    - if @player.player_name == "Obor"
      = image_tag "flairs/shamanmask_resized.gif"
    - elsif @player.player_name == "Bargan"
      = image_tag "flairs/bargan_large2.png"
    - elsif @player.player_name == "nagraB"
      = image_tag "flairs/nagrab.gif"
    - elsif @player.player_name == "For Ulven"
      = image_tag "flairs/for_ulven.png"
    - elsif @player.player_name == "Tame My Wild"
      = image_tag "flairs/tame.png"
    - elsif @player.player_name == "UncleTomas"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 100px;") do 
        %h5 Gone but never forgotten
        %h5 
          = link_to "RIP Unkie", "https://i.imgur.com/EE28q9w.png", target: "_blank", rel: "noopener noreferrer"
        %br
        %h5{:style => "color: #CD7F32;"} 
          = "3rd Place Ironman"
          %br
          = "May 2018 EHP Comp"
      = image_tag "flairs/tyrone.png"
    - elsif @player.player_name == "FitMC"
      = content_tag(:div, nil, style: "margin: auto; padding: 20px; width: 200px; height: 40px;") do 
        %h5 Definitely an OSRS player and not a Minecraft YouTuber.
    - elsif @player.player_name == "Freckled Kid"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: gold;"} 
          = "1st Place Reg"
          %br
          = "May 2018 EHP Comp"
    - elsif @player.player_name == "parity32"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: silver;"} 
          = "2nd Place Reg"
          %br
          = "May 2018 EHP Comp"
        %br
        %h5{:style => "color: #CD7F32;"} 
          = "3rd Place Reg"
          %br
          = "June 2018 EHP Comp"
    - elsif @player.player_name == "DJ9"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: silver;"} 
          = "2nd Place Team"
          %br
          = "July 2019 EHP Comp"
        %br
        %h5{:style => "color: #CD7F32;"} 
          = "3rd Place Reg"
          %br
          = "May 2018 EHP Comp"
    - elsif @player.player_name == "IronAgnusDei"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 40px;") do 
        %h5{:style => "color: gold;"} 
          = "1st Place Ironman"
          %br
          = "May 2018 EHP Comp"
    - elsif @player.player_name == "Ironman260"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: silver;"} 
          = "2nd Place Ironman"
          %br
          = "May 2018 EHP Comp"
        %br
        %h5{:style => "color: gold;"} 
          = "1st Place Ironman"
          %br
          = "June 2018 EHP Comp"
    - elsif @player.player_name == "UI Pain"
      = content_tag(:div, nil, style: "margin: auto; padding: 20px; width: 200px; height: 50px;") do 
        %h5 First F2P UIM lvl 3 skiller to achieve 99 woodcutting    
    - elsif @player.player_name == "iTz a Loner"
      = content_tag(:div, nil, style: "margin: auto; padding: 20px; width: 200px; height: 50px;") do 
        %h5 First F2P HCIM lvl 3 skiller to achieve 99 firemaking
    - elsif @player.player_name == "Bronze axxe"
      = content_tag(:div, nil, style: "margin: auto; padding: 20px; width: 200px; height: 50px;") do
        %h5 First F2P HCIM lvl 3 skiller to achieve 99 woodcutting with a bronze axe
    - elsif @player.player_name == "Fe F2P"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 20px;") do 
        %h5 Fe F2P, the HCIM killer
      = content_tag(:div, nil, class: "container", style: "margin: auto; padding: 5px; width: 240px;") do
        = image_tag "fe_f2p/1.png", style: "max-width: 100%;"
        = image_tag "fe_f2p/10.png", style: "max-width: 100%;"
        = image_tag "fe_f2p/2.png", style: "max-width: 100%;"
        = image_tag "fe_f2p/3.png", style: "max-width: 100%;"
        = image_tag "fe_f2p/4.png", style: "max-width: 100%;"
        = image_tag "fe_f2p/5.png", style: "max-width: 100%;"
        = image_tag "fe_f2p/6.png", style: "max-width: 100%;"
        = image_tag "fe_f2p/7.png", style: "max-width: 100%;"
        = image_tag "fe_f2p/8.png", style: "max-width: 100%;"
        = image_tag "fe_f2p/9.png", style: "max-width: 100%;"
        = image_tag "fe_f2p/11.png", style: "max-width: 100%;"
        = image_tag "fe_f2p/12.png", style: "max-width: 100%;"
        = image_tag "fe_f2p/13.png", style: "max-width: 100%;"
    - elsif @player.player_name == "Pawz"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: silver;"} 
          = "2nd Place Team"
          %br
          = "July 2019 EHP Comp"
        %br
        %h5{:style => "color: gold;"} 
          = "1st Place Reg"
          %br
          = "June 2018 EHP Comp"
    - elsif @player.player_name == "minlvlskilla"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: silver;"} 
          = "2nd Place Ironman"
          %br
          = "June 2018 EHP Comp"
    - elsif @player.player_name == "thelast lvl"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 40px;") do 
        %h5{:style => "color: #CD7F32;"} 
          = "3rd Place Ironman"
          %br
          = "June 2018 EHP Comp"
    - elsif @player.player_name == "Snooz Button"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: silver;"} 
          = "2nd Place Reg"
          %br
          = "June 2018 EHP Comp"
    - elsif @player.player_name == "Ikiji"
      = image_tag "flairs/Ikiji.png"
    - elsif @player.player_name == "Netbook Pro"
      = image_tag "flairs/Netbook_Pro.png"
    - elsif @player.player_name == "tannerdino"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: gold;"} 
          = "1st Place"
          %br
          = "July 2019 EHP Comp"
      = image_tag "flairs/tannerdino.png"
    - elsif @player.player_name == "NoQuestsHCIM"
      = image_tag "flairs/noquestshcim.png"
    - elsif @player.player_name == "Adentia"
      = image_tag "flairs/Adentia.png"
    - elsif @player.player_name == "Yewsless"
      = image_tag "flairs/Yew_tree.png"
    - elsif @player.player_name == "Wizards Foot"
      %br
      = image_tag "flairs/Wizards_Foot.png"
    - elsif @player.player_name == "Maze"
      %br
      = image_tag "flairs/canada_large.jpg"
    - elsif @player.player_name == "ColdFingers3"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: gold;"} 
          = "1st Place"
          %br
          = "July 2019 EHP Comp"
      %br
      = image_tag "flairs/Attack_ColdFingers3.png"
      %br
      = image_tag "flairs/ColdFingers3.png"
    - elsif @player.player_name == "DansPotatoe"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 100px;") do 
        %h5{:style => "color: #CD7F32;"} 
          = "3rd Place Team"
          %br
          = "July 2019 EHP Comp"
        %br
        %h5{:style => "color: silver;"} 
          = "2nd Place Team"
          %br
          = "July 2020 EHP Comp"
    - elsif @player.player_name == "Irondish"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 40px;") do 
        %h5{:style => "color: #CD7F32;"} 
          = "3rd Place Team"
          %br
          = "July 2019 EHP Comp"
    - elsif @player.player_name == "Wooper"
      = image_tag "flairs/wooper_shiny.gif"
    - elsif @player.player_name == "jane uwu"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        = "twitter @izzy_uwu main is mommy"
    - elsif @player.player_name == "Zubat"
      = image_tag "flairs/zubat.gif"
    - elsif @player.player_name == "Vanity Pride"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 80px;") do
        %h5
          The one true ruler of W385 cc, no one can dispute or disprove this.
      = image_tag "flairs/vanity_flair.png"
    - elsif @player.player_name == "Say F2p Ult"
      = image_tag "flairs/Say_F2p_Ult.png"
    - elsif @player.player_name == "GOLB f2p"
      = image_tag "flairs/golb_banner_250px.png"
    - elsif @player.player_name == "XP go Dididi"
      = image_tag "flairs/golb_banner_150px.jpg"
    - elsif @player.player_name == "Tele Crab"
      = image_tag "flairs/crab.png"
    - elsif @player.player_name == "Wopski"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: gold;"} 
          = "1st Place Team"
          %br
          = "July 2020 EHP Comp"
    - elsif @player.player_name == "Covid 19 V2"
      = image_tag "flairs/covid_19_v2.png"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 40px;") do 
        %h5{:style => "color: silver;"} 
          = "2nd Place Team"
          %br
          = "July 2020 EHP Comp"
    - elsif @player.player_name == "Ironkic"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 40px;") do 
        %h5{:style => "color: #CD7F32;"} 
          = "3rd Place Team"
          %br
          = "July 2020 EHP Comp"
    - elsif @player.player_name == "BTW F2P HCIM"
      = image_tag "flairs/btw_f2p_hcim.png"
    - elsif @player.player_name == "FE F2P PURE"
      = image_tag "flairs/fe_f2p_pure.png"
    - elsif @player.player_name == "f2p Ello"
      = image_tag "flairs/ello.png"
    - elsif @player.player_name == "TrustNoBanks"
      = image_tag "TrustNoBanks_character.png"
    - elsif @player.player_name == "reubengonz"
      = image_tag "flairs/180px-Cat_grey_and_blue.png"
    - elsif @player.player_name == "Grumpy Ag"
      = content_tag(:div, nil, style: "margin: auto; padding: 20px; width: 200px; height: 40px;") do
        %h5 First F2P HCIM lvl 3 skiller to achieve 99 mining
    - elsif @player.player_name == "Schwifty Bud"
      = image_tag "Schwifty_Bud_character.png"
    - elsif @player.player_name == "15rubydream"
      = image_tag "15rubydream.png"
    - elsif @player.player_name == "AKPigsley"
      = image_tag "flairs/AKPigsley.png", style: "max-width: 100%;"
    - elsif @player.player_name == "CheF2P"
      = image_tag "flairs/rato.png", style: "max-width: 100%;"

  = content_tag(:div, nil, class: ["container", "left"], style: "margin: auto; width: 380px;") do 
    = "Display:"
    = link_to "Stats", player_path(@player.player_name, :display => "stats")
    = " | "
    = link_to "Gains", player_path(@player.player_name, :display => "gains")
    = " | "
    = link_to "Records", player_path(@player.player_name, :display => "records")
    %br
    = "Last Updated: #{@player.updated_at ? time_ago_in_words(@player.updated_at) + ' ago' : 'unknown'}"
    - if @player.failed_updates > 0
      %br
      = "recent failed updates: #{@player.failed_updates}"

    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; width: 380px; height: 28px; margin-bottom: 0px;") 
    = content_tag(:table, nil, style: "text-align: center; margin: auto; min-width: 380px; padding: 5px; margin-bottom: 0px;") do 
      - if @display == "stats"
        %thead
          %th{:colspan => 6}
            = "Personal scores for "
            - if @player.player_acc_type == "Reg"
              = " (Reg)"
            - else
              = image_tag "#{@player.player_acc_type}.png", style: "vertical-align: -6px;"
            - if @player.player_name == "PlNKlE"
              %span{:style => "color: #DF06B5"} PlNKlE
            - else
              = " #{@player.player_name}"
            - @player.clans.each do |clan|
              = link_to image_tag(clan.symbol_link, style: "vertical-align: -9px;", :size => "35x35", :title => clan.name), clan_path("#{clan.name.gsub(" ", "_")}")
        %thead
          %th{:align => "center"}  
          %th{:align => "center"}  Level
          %th{:align => "center"}  XP
          %th{:align => "center"}  EHP
          %th{:align => "center"}  Rank
          %th{:align => "center"}  F2P Rank
        %tbody{:class => "table-right-text"}
          - (["overall"] + F2POSRSRanks::Application.config.f2p_skills).each do |skill|
            %tr
              - skill_f2p_rank = @player.f2p_skill_rank(skill).to_i
              %th= link_to image_tag("skills/#{skill}.png"), ranks_path(skill: skill, show_limit: 25, page: (skill_f2p_rank.to_f / 25).ceil)
              %td= @player["#{skill}_lvl"]
              %td= number_with_delimiter(@player["#{skill}_xp"].to_i, :delimiter => ",") 
              %td= number_with_delimiter(@player["#{skill}_ehp"].to_f, :delimiter => ",", :separator => ".") 
              %td= number_with_delimiter(@player["#{skill}_rank"].to_i, :delimiter => ",") 
              %td= number_with_delimiter(skill_f2p_rank, :delimiter => ",")
          %tr
            %th= image_tag "skills/combat.png"
            %td= @player["combat_lvl"]
          %tr
            %td= ""
          %tr
            %td= ""
          %tr
            %td= ""
            
        %thead
          %th{:align => "center"}  
          %th{:align => "center"}  Time to
          %th{:align => "center"}  Hours
        %tbody
          %tr
            %th= image_tag "skills/hourglass.png"
            %td{:style => "font-style: bold;"}= "All 99s"
            %td= number_with_delimiter(number_with_precision(@player["ttm_lvl"], :precision => 2), :delimiter => ",") 
          %tr
            %th= image_tag "skills/hourglass.png"
            %td{:style => "font-style: bold;"}= "All 200m"
            %td= number_with_delimiter(number_with_precision(@player["ttm_xp"], :precision => 2), :delimiter => ",") 
          %tr
            %td= ""
          %tr
            %td= ""
          %tr
            %td= ""
        %thead
          %th{:align => "center"}
          %th{:align => "center"} Clues
          %th{:align => "center"} Score
          %th{:align => "center"} Rank
          %th{:align => "center"} F2P Rank
        %tbody
          -# %tr
          -#   - clue_all_f2p_rank =  @player.f2p_clues_rank("all")
          -#   %th= link_to image_tag("skills/clue.png"), ranks_path(skill: "clues_all", show_limit: 25, page: (clue_all_f2p_rank.to_f / 25).ceil)
          -#   %td= "All"
          -#   %td= @player["clues_all"]
          -#   %td= @player["clues_all_rank"]
          -#   %td= clue_all_f2p_rank
          %tr
            - clue_beginner_f2p_rank =  @player.f2p_clues_rank("beginner")
            %th= link_to image_tag("skills/clue.png"), ranks_path(skill: "clues_beginner", show_limit: 25, page: (clue_beginner_f2p_rank.to_f / 25).ceil)
            %td= "Beginner"
            %td= @player["clues_beginner"]
            %td= @player["clues_beginner_rank"]
            %td= clue_beginner_f2p_rank
          %tr
            %td= ""
          %tr
            %td= ""
          %tr
            %td= ""
        %thead
          %th{:align => "center"}
          %th{:align => "center"} Minigame
          %th{:align => "center"} Score
          %th{:align => "center"} Rank
        %tbody
          %tr
            %th= image_tag "skills/lms.png"
            %td= "Last Man Standing"
            %td= @player["lms_score"]
            %td= @player["lms_rank"]
          %tr
            %td= ""
          %tr
            %td= ""
          %tr
            %td= ""
        %thead
          %th{:align => "center"}
          %th{:align => "center"} Boss
          %th{:align => "center"} Kill Count
          %th{:align => "center"} Rank
        %tbody
          %tr
            %th= image_tag "skills/obor.png"
            %td= "Obor"
            %td= @player["obor_kc"]
            %td= @player["obor_kc_rank"]
          %tr
            %th= image_tag "skills/bryo.png"
            %td= "Bryophyta"
            %td= @player["bryo_kc"]
            %td= @player["bryo_kc_rank"]
      - elsif @player.overall_ehp < 250 and (@display == "gains" or @display == "records") and !Player.supporters.include?(@player.player_name)
        %head
          %th= "This player is not being tracked. This will require 250 EHP or F2P Supporter status."
      - elsif @display == "gains" and (@player.overall_ehp > 250 or Player.supporters.include?(@player.player_name)) 
        %thead
          %th{:colspan => 5}
            = "Current Gains for "
            - if @player.player_acc_type == "Reg"
              = " (Reg)"
            - else
              = image_tag "#{@player.player_acc_type}.png", style: "vertical-align: -6px;"
            = " #{@player.player_name}"
            - @player.clans.each do |clan|
              = link_to image_tag(clan.symbol_link, style: "vertical-align: -9px;", :size => "35x35", :title => clan.name), clan_path("#{clan.name.gsub(" ", "_")}")
        %thead
          %th{:align => "center"}  
          %th{:align => "center"} #{@time.capitalize} XP Gained
          %th{:align => "center"} #{@time.capitalize} EHP Gained
          %th{:align => "center"} #{@time.capitalize} Rank
        %tbody
          - (["overall"] + F2POSRSRanks::Application.config.f2p_skills).each do |skill|
            %tr
              - skill_gains_rank = @player.f2p_gains_rank(skill, @time).to_i
              %th= link_to image_tag("skills/#{skill}.png"), tracking_path(skill: skill, show_limit: 25, page: (skill_gains_rank.to_f / 25).ceil)
              %td= number_with_delimiter(@player["#{skill}_xp"].to_i - @player["#{skill}_xp_#{@time}_start"].to_i, :delimiter => ",") 
              %td= number_with_delimiter(number_with_precision(@player["#{skill}_ehp"].to_f - @player["#{skill}_ehp_#{@time}_start"], precision: 2), :delimiter => ",", :separator => ".") 
              %td= number_with_delimiter(skill_gains_rank, :delimiter => ',')
      - else
        %thead
          %th{:colspan => 5}
            = "Record Gains for "
            - if @player.player_acc_type == "Reg"
              = " (Reg)"
            - else
              = image_tag "#{@player.player_acc_type}.png", style: "vertical-align: -6px;"
            = " #{@player.player_name}"
            - @player.clans.each do |clan|
              = link_to image_tag(clan.symbol_link, style: "vertical-align: -9px;", :size => "35x35", :title => clan.name), clan_path("#{clan.name.gsub(" ", "_")}")
        %thead
          %th{:align => "center"}
          %th{:align => "center"} Record #{@time.capitalize} XP
          %th{:align => "center"} Record #{@time.capitalize} EHP
          %th{:align => "center"} Record #{@time.capitalize} Rank
        %tbody
          - (["overall"] + F2POSRSRanks::Application.config.f2p_skills).each do |skill|
            %tr
              - skill_record_rank = @player.f2p_record_rank(skill, @time).to_i
              %th= link_to image_tag("skills/#{skill}.png"), records_path(skill:skill, show_limit: 25, page: (skill_record_rank.to_f / 25).ceil)
              %td= number_with_delimiter(@player["#{skill}_xp_#{@time}_max"].to_i, :delimiter => ",") 
              %td= number_with_delimiter(number_with_precision(@player["#{skill}_ehp_#{@time}_max"].to_f, precision: 2), :delimiter => ",") 
              %td= number_with_delimiter(skill_record_rank, :delimiter => ',')
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin:auto; width: 380px; height:28px; margin-top: 0px;") 
  
  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 20px; width: 152px; max-width: 152px; overflow-x: auto; margin-top: 5px;") do 

    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-bottom: 10px; width: 152px; height: 98px; padding-top: 0px;") do 
      %h4 Update Stats
      = link_to "#{@player.player_name}", update_player_path

    = content_tag(:div, nil, class: ["container", "left", "filter"], style: "margin-bottom: 5px; width: 152px; height: 126px; line-height: 22px;") do 
      = "Other Hiscores"
      %br
      - if @player.player_acc_type == "HCIM"
        = link_to "OSRS Hiscores", "http://services.runescape.com/m=hiscore_oldschool_hardcore_ironman/hiscorepersonal.ws?user1=#{@player.url_friendly_player_name}", target: "_blank", rel: "noopener noreferrer"
      - elsif @player.player_acc_type == "UIM"
        = link_to "OSRS Hiscores", "http://services.runescape.com/m=hiscore_oldschool_ultimate/hiscorepersonal.ws?user1=#{@player.url_friendly_player_name}", target: "_blank", rel: "noopener noreferrer"
      - elsif @player.player_acc_type == "IM"
        = link_to "OSRS Hiscores", "http://services.runescape.com/m=hiscore_oldschool_ironman/hiscorepersonal.ws?user1=#{@player.url_friendly_player_name}", target: "_blank", rel: "noopener noreferrer"
      - elsif @player.player_acc_type == "Reg"
        = link_to "OSRS Hiscores", "http://services.runescape.com/m=hiscore_oldschool/hiscorepersonal.ws?user1=#{@player.url_friendly_player_name}", target: "_blank", rel: "noopener noreferrer"
      %br
      = link_to "Crystal Math Labs", "http://crystalmathlabs.com/tracker/track.php?player=#{@player.url_friendly_player_name}", target: "_blank", rel: "noopener noreferrer"
      = link_to "TempleOSRS", "https://templeosrs.com/player/overview.php?player=#{@player.url_friendly_player_name}", target: "_blank", rel: "noopener noreferrer"
      = link_to "Wise Old Man", "https://wiseoldman.net/players/#{@player.url_friendly_player_name}", target: "_blank", rel: "noopener noreferrer"
        
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-bottom: 5px; width: 152px; height: 98px;") do 
      = form_tag ranks_path, :method => "get", id: "search-players-form" do
        = "Search by name"
        %br
        = text_field_tag :search, params[:search], placeholder: "Player Name", :class => "search-field", style: "width: 100px;"
        %br
        = submit_tag "Search"
        
    = content_tag(:div, nil, class: ["container", "left", "filter"], style: "margin-bottom: 5px; width: 152px; height: 126px;") do 
      = form_tag compare_path, :method => :get, :id => 'filters_form' do
        = "Compare Users"
        %br
        = text_field_tag :player1, params[:player1], placeholder: "First Player", :class => "search-field", style: "width: 100px;"
        %br
        = text_field_tag :player2, params[:player2], placeholder: "Second Player", :class => "search-field", style: "width: 100px;"
        %br
        = submit_tag 'Compare', :id => "compare_submit"
    
    - if @display == "gains" or @display == "records" 
      = content_tag(:div, nil, class: ["container", "left", "search"], style: "width: 152px; height: 98px;") do 
        = form_tag tracking_path, :method => :get, :id => 'filters_form' do
          = "Time Filter"
          %br
          = content_tag(:div, nil, class: "container", style: "color: #d9c27e; text-align: left; width: 152px; margin-left: 30px;") do
            = link_to "Day", player_path(:time => "day")
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            = link_to "Week", player_path(:time => "week")
            %br
            = link_to "Month", player_path(:time => "month")
            &nbsp&nbsp&nbsp
            = link_to "Year", player_path(:time => "year")

    %br
    = "wrong account type?"
    %br
    = link_to "click here", check_acc_type_path
