= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donations", donate_path

- if ["Obor", "Bargan", "nagraB"].include?(@player.player_name)
  = content_tag(:div, nil, class: "container", style: "width: 620px;") do 
    = content_tag(:div, nil, class: ["container", "left"], style: "width: 300px;") do 
      = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; width: 300px; height: 28px; margin-bottom: 0px;") 
      = content_tag(:table, nil, style: "text-align: center; margin: auto; min-width: 300px; padding: 5px; margin-bottom: 0px;") do 
        %thead
          %th{:colspan => 4}
            = "Personal scores for "
            - if @player.player_acc_type == "Reg"
              = " (Reg)"
            - else
              = image_tag "#{@player.player_acc_type}.png", style: "vertical-align: -6px;"
            = " #{@player.player_name}"
        %thead
          %th{:align => "center"}  
          %th{:align => "center"}  XP
          %th{:align => "center"}  Level
          %th{:align => "center"}  EHP
        %tbody
          %tr
            %th= image_tag "skills/overall.png"
            %td= number_with_delimiter(@player["overall_xp"].to_i, :delimiter => ",") 
            %td= @player["overall_lvl"]
            %td= number_with_delimiter(@player["overall_ehp"].to_f, :delimiter => ",", :separator => ".") 
          - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
            %tr
              %th= image_tag "skills/#{skill}.png"
              %td= number_with_delimiter(@player["#{skill}_xp"].to_i, :delimiter => ",") 
              %td= @player["#{skill}_lvl"]
              %td= number_with_delimiter(@player["#{skill}_ehp"].to_f, :delimiter => ",", :separator => ".") 
      = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin:auto; width: 300px; height:28px; margin-top: 0px;") 
      
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 90px; width: 152px; height: 98px; padding-top: 0px;") do 
      %h4 Update Stats
      = form_tag players_path(@player), :method => :put do
        = link_to "#{@player.player_name}", @player, method: :update_player
        
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 90px; width: 152px; height: 98px;") do 
      = form_tag ranks_path, :method => "get", id: "search-players-form" do
        = "Search by name"
        %br
        = text_field_tag :search, params[:search], placeholder: "", :class => "search-field", style: "width: 100px;"
        %br
        = submit_tag "Search"
        
    = content_tag(:div, nil, class: ["container", "right"], style: "width: 250px;") do 
      - if @player.player_name == "Obor"
        = image_tag "flairs/obor.png"
      - elsif @player.player_name == "Bargan"
        = image_tag "flairs/bargan_large2.png"
      - elsif @player.player_name == "nagraB"
        = image_tag "flairs/nagrab_large2.png"
      
- else
  = content_tag(:div, nil, class: "container", style: "width: 680px;") do 
    = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 190px; width: 300px;") do 
      = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; width: 300px; height: 28px; margin-bottom: 0px;") 
      = content_tag(:table, nil, style: "text-align: center; margin: auto; min-width: 300px; padding: 5px; margin-bottom: 0px;") do 
        %thead
          %th{:colspan => 4}
            = "Personal scores for "
            - if @player.player_acc_type == "Reg"
              = " (Reg)"
            - else
              = image_tag "#{@player.player_acc_type}.png", style: "vertical-align: -6px;"
            = " #{@player.player_name}"
        %thead
          %th{:align => "center"}  
          %th{:align => "center"}  XP
          %th{:align => "center"}  Level
          %th{:align => "center"}  EHP
        %tbody
          %tr
            %th= image_tag "skills/overall.png"
            %td= number_with_delimiter(@player["overall_xp"].to_i, :delimiter => ",") 
            %td= @player["overall_lvl"]
            %td= number_with_delimiter(@player["overall_ehp"].to_f, :delimiter => ",", :separator => ".")
          - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
            %tr
              %th= image_tag "skills/#{skill}.png"
              %td= number_with_delimiter(@player["#{skill}_xp"].to_i, :delimiter => ",") 
              %td= @player["#{skill}_lvl"]
              %td= number_with_delimiter(@player["#{skill}_ehp"].to_f, :delimiter => ",", :separator => ".") 
      = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin:auto; width: 300px; height:28px; margin-top: 0px;") 
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 20px; width: 152px; height: 98px; padding-top: 0px;") do 
      %h4 Update Stats
      = form_tag players_path(@player), :method => :put do
        = link_to "#{@player.player_name}", @player, method: :update_player
        
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 20px; width: 152px; height: 98px;") do 
      = form_tag ranks_path, :method => "get", id: "search-players-form" do
        = "Search by name"
        %br
        = text_field_tag :search, params[:search], placeholder: "", :class => "search-field", style: "width: 100px;"
        %br
        = submit_tag "Search"
