= content_tag(:div, nil, style: "text-align: center; width: 240px; padding: 5px; margin: auto;") do 
  %h1 
    = link_to "F2P.wiki", players_path
  = content_tag(:div, nil, style: "font-style: italic; color: white; font-weight: bold; margin: auto; width: 200px; margin-top: 0px; margin-bottom: 0px; color: none; background-color: transparent; border: none") do 
    = "for all your F2P OSRS needs"
  %p#notice= notice

%br
= content_tag(:div, nil, style: "margin: auto; width: 820px; margin-top: 0px; margin-bottom: 10px; color: none; background-color: transparent; border: none") do 
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 115px; padding: 10px;") do 
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 80px; padding: 10px;") do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 100px; padding: 10px;") do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 90px; padding: 10px;") do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 70px; padding: 10px;") do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, style: "float: left; margin-right: auto; margin-left: 10px; text-align: center; width: 140px; padding: 10px;") do 
    = link_to "About Us/Donations", donate_path
  
%br  
= content_tag(:div, nil, style: "text-align: center; margin: auto; width: 140px; padding: 10px; margin-bottom: 20px;") do 
  %h3 Update Stats
  = form_tag players_path(@player), :method => :put do
    = link_to "Update #{@player.player_name}", @player, method: :update_player

= content_tag(:table, nil, style: "text-align: center; margin: auto; width: 200px; min-width: 200px; padding: 5px; margin-bottom: 10px;") do 
  %tbody
    %tr
      %th{:align => "left"} Player Name 
      %td= @player.player_name
    %tr
      %th{:align => "left"} Account Type 
      %td= @player.player_acc_type

%br
= content_tag(:table, nil, style: "text-align: center; margin: auto; max-width: 600px; min-width: 300px; padding: 5px; margin-bottom: 10px;") do 
  %thead
    %th{:align => "center"}  
    %th{:align => "center"}  XP
    %th{:align => "center"}  Level
    %th{:align => "center"}  EHP
  %tbody
    %tr
      %th= image_tag "overall.png"
      %td= @player["overall_xp"]
      %td= @player["overall_lvl"]
      %td= @player["overall_ehp"]
    - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
      %tr
        %th= image_tag "#{skill}.png"
        %td= @player["#{skill}_xp"]
        %td= @player["#{skill}_lvl"]
        %td= @player["#{skill}_ehp"]
