- @title = "#{@player.player_name}'s Personal Hiscores"
= link_to image_tag("f2pwiki_500.png"), players_path

%p#notice= notice

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "Hiscores", ranks_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Current Top", tracking_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "Records", records_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donate", donate_path

= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["container", "left"], style: "width: 320px;") do 
    - if @player.player_name == "Obor"
      = image_tag "flairs/shamanmask_resized.gif"
    - elsif @player.player_name == "Bargan"
      = image_tag "flairs/bargan_large2.png"
    - elsif @player.player_name == "nagraB"
      = image_tag "flairs/nagrab.gif"
    - elsif @player.player_name == "For Ulven"
      = image_tag "flairs/for_ulven.png"
    - elsif @player.player_name == "Tame My Wild"
      = image_tag "flairs/tame.png"
    - elsif @player.player_name == "UncleTomas"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 100px;") do 
        %h5 Gone but never forgotten
        %h5 
          = link_to "RIP Unkie", "https://i.imgur.com/EE28q9w.png"
        %br
        %h5{:style => "color: #CD7F32;"} 
          = "3rd Place Ironman"
          %br
          = "May 2018 EHP Comp"
      = image_tag "flairs/tyrone.png"
    - elsif @player.player_name == "FitMC"
      = content_tag(:div, nil, style: "margin: auto; padding: 20px; width: 200px; height: 40px;") do 
        %h5 Definitely an OSRS player and not a Minecraft YouTuber.
    - elsif @player.player_name == "Freckled Kid"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: gold;"} 
          = "1st Place Reg"
          %br
          = "May 2018 EHP Comp"
    - elsif @player.player_name == "parity32"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: silver;"} 
          = "2nd Place Reg"
          %br
          = "May 2018 EHP Comp"
        %br
        %h5{:style => "color: #CD7F32;"} 
          = "3rd Place Reg"
          %br
          = "June 2018 EHP Comp"
    - elsif @player.player_name == "DJ9"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 40px;") do 
        %h5{:style => "color: #CD7F32;"} 
          = "3rd Place Reg"
          %br
          = "May 2018 EHP Comp"
    - elsif @player.player_name == "IronAgnusDei"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 40px;") do 
        %h5{:style => "color: gold;"} 
          = "1st Place Ironman"
          %br
          = "May 2018 EHP Comp"
    - elsif @player.player_name == "Ironman260"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: silver;"} 
          = "2nd Place Ironman"
          %br
          = "May 2018 EHP Comp"
        %br
        %h5{:style => "color: gold;"} 
          = "1st Place Ironman"
          %br
          = "June 2018 EHP Comp"
    - elsif @player.player_name == "UI Pain"
      = content_tag(:div, nil, style: "margin: auto; padding: 20px; width: 200px; height: 50px;") do 
        %h5 First F2P UIM lvl 3 skiller to achieve 99 woodcutting
    - elsif @player.player_name == "Fe F2P"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 20px;") do 
        %h5 Fe F2P, the HCIM killer
      = content_tag(:div, nil, class: "container", style: "margin: auto; padding: 5px; width: 320px;") do 
        = image_tag "fe_f2p/1.png"
        = image_tag "fe_f2p/2.png"
        = image_tag "fe_f2p/3.png"
        = image_tag "fe_f2p/4.png"
        = image_tag "fe_f2p/5.png"
        = image_tag "fe_f2p/6.png"
        = image_tag "fe_f2p/7.png"
        = image_tag "fe_f2p/8.png"
        = image_tag "fe_f2p/9.png"
    - elsif @player.player_name == "Pawz"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: gold;"} 
          = "1st Place Reg"
          %br
          = "June 2018 EHP Comp"
    - elsif @player.player_name == "minlvlskilla"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: silver;"} 
          = "2nd Place Ironman"
          %br
          = "June 2018 EHP Comp"
    - elsif @player.player_name == "thelast lvl"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px; height: 40px;") do 
        %h5{:style => "color: #CD7F32;"} 
          = "3rd Place Ironman"
          %br
          = "June 2018 EHP Comp"
    - elsif @player.player_name == "Snooz Button"
      = content_tag(:div, nil, style: "margin: auto; padding: 15px; width: 180px;") do 
        %h5{:style => "color: silver;"} 
          = "2nd Place Reg"
          %br
          = "June 2018 EHP Comp"
    - elsif @player.player_name == "Ikiji"
      = image_tag "flairs/Ikiji.png"
    - elsif @player.player_name == "Netbook Pro"
      = image_tag "flairs/Netbook_Pro.png"
    - elsif @player.player_name == "tannerdino"
      = image_tag "flairs/tannerdino.png"
    - elsif @player.player_name == "NoQuestsHCIM"
      = image_tag "flairs/noquestshcim.png"
    - elsif @player.player_name == "f2p Ello"
      = image_tag "flairs/f2p_Ello.png"
    - elsif @player.player_name == "Adentia"
      = image_tag "flairs/Adentia.png"
          
  = content_tag(:div, nil, class: ["container", "left"], style: "margin: auto; width: 300px;") do 
    = "Display:"
    = link_to "Stats", player_path(@player.player_name, :display => "stats")
    = " | "
    = link_to "Gains", player_path(@player.player_name, :display => "gains")
    = " | "
    = link_to "Records", player_path(@player.player_name, :display => "records")
    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; width: 300px; height: 28px; margin-bottom: 0px;") 
    = content_tag(:table, nil, style: "text-align: center; margin: auto; min-width: 300px; padding: 5px; margin-bottom: 0px;") do 
      - if @display == "stats"
        %thead
          %th{:colspan => 5}
            = "Personal scores for "
            - if @player.player_acc_type == "Reg"
              = " (Reg)"
            - else
              = image_tag "#{@player.player_acc_type}.png", style: "vertical-align: -6px;"
            = " #{@player.player_name}"
        %thead
          %th{:align => "center"}  
          %th{:align => "center"}  Level
          %th{:align => "center"}  XP
          %th{:align => "center"}  EHP
          %th{:align => "center"}  Rank
        %tbody
          %tr
            %th= image_tag "skills/overall.png"
            %td= @player["overall_lvl"]
            %td= number_with_delimiter(@player["overall_xp"].to_i, :delimiter => ",") 
            %td= number_with_delimiter(@player["overall_ehp"].to_f, :delimiter => ",", :separator => ".") 
            %td= number_with_delimiter(@player["overall_rank"].to_i, :delimiter => ",") 
          - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
            %tr
              %th= image_tag "skills/#{skill}.png"
              %td= @player["#{skill}_lvl"]
              %td= number_with_delimiter(@player["#{skill}_xp"].to_i, :delimiter => ",") 
              %td= number_with_delimiter(@player["#{skill}_ehp"].to_f, :delimiter => ",", :separator => ".") 
              %td= number_with_delimiter(@player["#{skill}_rank"].to_i, :delimiter => ",") 
          %tr
            %th= image_tag "skills/combat.png"
            %td= @player["combat_lvl"]
          %tr
            %td= ""
          %tr
            %td= ""
          %tr
            %td= ""
            
        %thead
          %th{:align => "center"}  
          %th{:align => "center"}  Time to
          %th{:align => "center"}  Hours
        %tbody
          %tr
            %th= image_tag "skills/hourglass.png"
            %td{:style => "font-style: bold;"}= "All 99s"
            %td= number_with_delimiter(number_with_precision(@player["ttm_lvl"], :precision => 2), :delimiter => ",") 
          %tr
            %th= image_tag "skills/hourglass.png"
            %td{:style => "font-style: bold;"}= "All 200m"
            %td= number_with_delimiter(number_with_precision(@player["ttm_xp"], :precision => 2), :delimiter => ",") 
      - elsif @player.overall_ehp < 250 and (@display == "gains" or @display == "records") and !Player.supporters.include?(@player.player_name)
        %head
          %th= "This player is not being tracked. This will require 250 EHP or F2P Supporter status."
      - elsif @display == "gains" and (@player.overall_ehp > 250 or Player.supporters.include?(@player.player_name)) 
        %thead
          %th{:colspan => 5}
            = "Current Gains for "
            - if @player.player_acc_type == "Reg"
              = " (Reg)"
            - else
              = image_tag "#{@player.player_acc_type}.png", style: "vertical-align: -6px;"
            = " #{@player.player_name}"
        %thead
          %th{:align => "center"}  
          %th{:align => "center"} #{@time.capitalize} XP Gained
          %th{:align => "center"} #{@time.capitalize} EHP Gained
        %tbody
          %tr
            %th= image_tag "skills/overall.png"
            %td= number_with_delimiter(@player["overall_xp"].to_i - @player["overall_xp_#{@time}_start"].to_i, :delimiter => ",") 
            %td= number_with_delimiter(number_with_precision(@player["overall_ehp"].to_f - @player["overall_ehp_#{@time}_start"], precision: 2), :delimiter => ",", :separator => ".") 
          - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
            %tr
              %th= image_tag "skills/#{skill}.png"
              %td= number_with_delimiter(@player["#{skill}_xp"].to_i - @player["#{skill}_xp_#{@time}_start"].to_i, :delimiter => ",") 
              %td= number_with_delimiter(number_with_precision(@player["#{skill}_ehp"].to_f - @player["#{skill}_ehp_#{@time}_start"], precision: 2), :delimiter => ",", :separator => ".") 
      - else
        %thead
          %th{:colspan => 5}
            = "Record Gains for "
            - if @player.player_acc_type == "Reg"
              = " (Reg)"
            - else
              = image_tag "#{@player.player_acc_type}.png", style: "vertical-align: -6px;"
            = " #{@player.player_name}"
        %thead
          %th{:align => "center"}
          %th{:align => "center"} Record #{@time.capitalize} XP
          %th{:align => "center"} Record #{@time.capitalize} EHP
        %tbody
          %tr
            %th= image_tag "skills/overall.png"
            %td= number_with_delimiter(@player["overall_xp_#{@time}_max"].to_i, :delimiter => ",") 
            %td= number_with_delimiter(number_with_precision(@player["overall_ehp_#{@time}_max"].to_f, precision: 2), :delimiter => ",") 
          - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
            %tr
              %th= image_tag "skills/#{skill}.png"
              %td= number_with_delimiter(@player["#{skill}_xp_#{@time}_max"].to_i, :delimiter => ",") 
              %td= number_with_delimiter(number_with_precision(@player["#{skill}_ehp_#{@time}_max"].to_f, precision: 2), :delimiter => ",") 
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin:auto; width: 300px; height:28px; margin-top: 0px;") 
  
  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 20px; width: 152px; max-width: 152px; overflow-x: auto; margin-top: 5px;") do 
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-bottom: 10px; width: 152px; height: 98px; padding-top: 0px;") do 
      %h4 Update Stats
      = link_to "#{@player.player_name}", update_player_path
        
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-bottom: 5px; width: 152px; height: 98px;") do 
      = "Other Hiscores"
      %br
      - if @player.player_acc_type == "HCIM"
        = link_to "OSRS Hiscores", "http://services.runescape.com/m=hiscore_oldschool_hardcore_ironman/hiscorepersonal.ws?user1=#{@player.player_name}"
      - elsif @player.player_acc_type == "UIM"
        = link_to "OSRS Hiscores", "http://services.runescape.com/m=hiscore_oldschool_ultimate/hiscorepersonal.ws?user1=#{@player.player_name}"
      - elsif @player.player_acc_type == "IM"
        = link_to "OSRS Hiscores", "http://services.runescape.com/m=hiscore_oldschool_ironman/hiscorepersonal.ws?user1=#{@player.player_name}"
      - elsif @player.player_acc_type == "Reg"
        = link_to "OSRS Hiscores", "http://services.runescape.com/m=hiscore_oldschool/hiscorepersonal.ws?user1=#{@player.player_name}"
      %br
      = link_to "Crystal Math Labs", "http://crystalmathlabs.com/tracker/track.php?player=#{@player.player_name}"
        
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-bottom: 5px; width: 152px; height: 98px;") do 
      = form_tag ranks_path, :method => "get", id: "search-players-form" do
        = "Search by name"
        %br
        = text_field_tag :search, params[:search], placeholder: "", :class => "search-field", style: "width: 100px;"
        %br
        = submit_tag "Search"
        
    = content_tag(:div, nil, class: ["container", "left", "filter"], style: "margin-bottom: 5px; width: 152px; height: 126px;") do 
      = form_tag compare_path, :method => :get, :id => 'filters_form' do
        = "Compare Users"
        %br
        = text_field_tag :player1, params[:player1], placeholder: "", :class => "search-field", style: "width: 100px;"
        %br
        = text_field_tag :player2, params[:player2], placeholder: "", :class => "search-field", style: "width: 100px;"
        %br
        = submit_tag 'Compare', :id => "compare_submit"
    
    - if @display == "gains" or @display == "records" 
      = content_tag(:div, nil, class: ["container", "left", "search"], style: "width: 152px; height: 98px;") do 
        = form_tag tracking_path, :method => :get, :id => 'filters_form' do
          = "Time Filter"
          %br
          = content_tag(:div, nil, class: "container", style: "color: #d9c27e; text-align: left; width: 152px; margin-left: 30px;") do
            = link_to "Day", player_path(:time => "day")
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            = link_to "Week", player_path(:time => "week")
            %br
            = link_to "Month", player_path(:time => "month")
            &nbsp&nbsp&nbsp
            = link_to "Year", player_path(:time => "year")