= content_tag(:div, nil, class: ["div", "title"]) do 
  %h1 
    = link_to "F2P.wiki", players_path
  = content_tag(:div, nil, class: ["container", "subtitle"]) do 
    = "for all your F2P OSRS needs"
  %p#notice= notice

%br
= content_tag(:div, nil, class: "container", style: "width: 820px;") do 
  = content_tag(:div, nil, class: ["bar", "ranks"]) do
    = link_to "F2P OSRS Ranks", ranks_path
  = content_tag(:div, nil, class: ["bar", "ehp"]) do 
    = link_to "EHP Rates", ehp_path
  = content_tag(:div, nil, class: ["bar", "fake"]) do 
    = link_to "Hall of Shame", fake_path
  = content_tag(:div, nil, class: ["bar", "links"]) do 
    = link_to "Useful Links", links_path
  = content_tag(:div, nil, class: ["bar", "changelog"]) do 
    = link_to "Changelog", changelog_path
  = content_tag(:div, nil, class: ["bar", "donate"]) do 
    = link_to "About Us/Donations", donate_path
  
= content_tag(:div, nil, style: "text-align: center; margin: auto; width: 160px; padding: 10px; margin-bottom: 20px;") do 
  %h3 Update Stats
  = form_tag players_path(@player), :method => :put do
    = link_to "#{@player.player_name}", @player, method: :update_player

= content_tag(:div, nil, class: "container", style: "width: 620px;") do 
  - if @player.player_name == "Obor"
    = content_tag(:div, nil, class: ["container", "left"], style: "width: 360px;") do 
      = content_tag(:table, nil, style: "text-align: center; margin: auto; width: 200px; min-width: 200px; padding: 5px; margin-bottom: 10px;") do 
        %tbody
          %tr
            %th{:align => "left"} Player Name 
            %td= @player.player_name
          %tr
            %th{:align => "left"} Account Type 
            %td= @player.player_acc_type
      
      = content_tag(:table, nil, style: "text-align: center; margin: auto; min-width: 300px; padding: 5px; margin-bottom: 10px;") do 
        %thead
          %th{:align => "center"}  
          %th{:align => "center"}  XP
          %th{:align => "center"}  Level
          %th{:align => "center"}  EHP
        %tbody
          %tr
            %th= image_tag "overall.png"
            %td= @player["overall_xp"]
            %td= @player["overall_lvl"]
            %td= @player["overall_ehp"]
          - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
            %tr
              %th= image_tag "#{skill}.png"
              %td= @player["#{skill}_xp"]
              %td= @player["#{skill}_lvl"]
              %td= @player["#{skill}_ehp"]
              
    = content_tag(:div, nil, class: ["container", "right"], style: "width: 250px;") do 
      = image_tag "obor.png"
  - else
    = content_tag(:table, nil, style: "text-align: center; margin: auto; width: 200px; min-width: 200px; padding: 5px; margin-bottom: 10px;") do 
      %tbody
        %tr
          %th{:align => "left"} Player Name 
          %td= @player.player_name
        %tr
          %th{:align => "left"} Account Type 
          %td= @player.player_acc_type
    
    = content_tag(:table, nil, style: "text-align: center; margin: auto; min-width: 300px; padding: 5px; margin-bottom: 10px;") do 
      %thead
        %th{:align => "center"}  
        %th{:align => "center"}  XP
        %th{:align => "center"}  Level
        %th{:align => "center"}  EHP
      %tbody
        %tr
          %th= image_tag "overall.png"
          %td= @player["overall_xp"]
          %td= @player["overall_lvl"]
          %td= @player["overall_ehp"]
        - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
          %tr
            %th= image_tag "#{skill}.png"
            %td= @player["#{skill}_xp"]
            %td= @player["#{skill}_lvl"]
            %td= @player["#{skill}_ehp"]
            

