- @title = "Tracking" 
= link_to image_tag("f2pwiki.png"), players_path

= render :partial => "header.html.haml",  :locals => {notice: notice}

- skill_name = "#{@skill}".capitalize
= content_tag(:div, nil, class: "container", style: "width: 800px;") do 
  = content_tag(:div, nil, class: ["container", "left"], style: "margin-left: 0px; margin-right: 5px; width: 200px;") do 
    = content_tag(:div, nil, class: "container", id: "headerSkills", style: "margin: auto; margin-bottom: 0px; width: 200px; height: 103px;") 
    = content_tag(:div, nil, class: ["container", "skills"], style: "width: 200px; margin-bottom: 0px; line-height: 28px;") do
      = content_tag(:div, nil, class: ["container"], style: "margin-left: 43px; margin-bottom: 0px;") do
        %table{class: "no-format"}
          %tbody
            %tr
              %td{:align => "center"}= image_tag "skills/overall.png", style: "vertical-align: -6px;"
              %td= link_to "Overall", :controller => "players", :action => "tracking", :skill => "overall"
            - F2POSRSRanks::Application.config.f2p_skills.each do |skill|
              %tr
                %td{:align => "center"}= image_tag "skills/#{skill}.png", style: "vertical-align: -6px;"
                %td= link_to "#{skill.capitalize}", :controller => "players", :action => "tracking", :skill => "#{skill}"

    = content_tag(:div, nil, class: "container", id: "footerSkills", style: "margin: auto; margin-top: 0px; width: 200px; height: 60px;") 
    = "Reset Schedule: "
    %br
    = "day: 00:00 GMT"
    %br
    = "week: Monday 00:00 GMT"
    %br
    = "month: 1st of month, 00:00 GMT"
    %br
    = "year: Jan 1st, 00:00 GMT"
    %br
    %br
    = "Tracking only available to players"
    %br
    = "with >250 EHP, or supporters."

  = content_tag(:div, nil, class: ["container", "left"], style: "width: 430px; max-width: 430px; overflow-x: auto; margin-top: 5px;") do 
    = content_tag(:div, nil, class: "container", id: "headerHiscores", style: "margin: auto; margin-bottom: 0px; width: 430px; height: 41px;") 
    = content_tag(:table, nil, style: "text-align: center; width: 430px; padding: 4px; margin-bottom: 0px;") do 
      %thead
        %tr
          %th{:align => "center", :colspan => 6}
            = image_tag "skills/#{@skill}.png", style: "vertical-align: -6px;"
            = "F2P #{skill_name} #{@sort_by.upcase} Current Top #{@time.capitalize} of #{@time_display}"
      %thead
        %tr
          %th Rank
          %th{:align => "left"} Name
          %th Account
          - if @sort_by == "xp"
            %th{:class => @player_xp_header, :style => "text-decoration: underline;"}= link_to "XP Gained", tracking_path(:sort_by => 'xp', :skill => @skill), :id => 'player_xp_header'
          - else
            %th{:class => @player_xp_header}= link_to "XP Gained", tracking_path(:sort_by => 'xp', :skill => @skill), :id => 'player_xp_header'
          - if @sort_by == "ehp"
            %th{:class => @player_ehp_header, :style => "text-decoration: underline;"}= link_to "EHP Gained", tracking_path(:sort_by => 'ehp', :skill => @skill), :id => 'player_ehp_header'
          - else
            %th{:class => @player_ehp_header}= link_to "EHP Gained", tracking_path(:sort_by => 'ehp', :skill => @skill), :id => 'player_ehp_header'
  
      %tbody
        - @players.each.with_index 1 do |player, index|
          %tr
            - offset = index + (@players.current_page - 1)*@show_limit.to_i
            %td{:align => "right"}= offset
            - name = player.player_name.gsub(" ", "_")
            %td{:align => "left"}= link_to player.player_name, "players/#{name}"
            %td{:align => "center"}= player.player_acc_type
            %td= number_with_delimiter(player["#{@skill}_xp"].to_i - player["#{@skill}_xp_#{@time}_start"].to_i, :delimiter => ",") 
            %td= number_with_delimiter(number_with_precision(player["#{@skill}_ehp"].to_f - player["#{@skill}_ehp_#{@time}_start"].to_f, precision: 2), :delimiter => ",", :separator => ".") 
            
    = content_tag(:div, nil, class: "container", id: "footerHiscores", style: "margin: auto; margin-top: 0px; width: 430px; height: 41px;") 

  = content_tag(:div, nil, class: ["container", "left"], style: "width: 160px; max-width: 430px; overflow-x: auto; margin-top: 5px;") do 
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 15px; width: 140px; height: 96px;") do 
      = form_tag tracking_path, :method => "get", id: "search-players-form" do
        = "Search by name"
        %br
        = text_field_tag :search, params[:search], placeholder: "Player Name", :class => "search-field", style: "width: 100px;"
        %br
        = submit_tag "Search"
        
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 15px; width: 140px; height: 96px;") do 
      = form_tag tracking_path, :method => "get", id: "add-player-form" do
        = "Add to Hiscores"
        %br
        = text_field_tag :player_to_add_name, params[:player_to_add_name], placeholder: "Player Name", :class => "add-player-field", style: "width: 100px;"
        = submit_tag "Add"
        
    = content_tag(:div, nil, class: ["container", "left", "filter"], style: "margin-left: 15px; width: 140px; height: 126px;") do 
      = form_tag compare_path, :method => :get, :id => 'filters_form' do
        = "Compare Users"
        %br
        = text_field_tag :player1, params[:player1], placeholder: "First Player", :class => "search-field", style: "width: 100px;"
        %br
        = text_field_tag :player2, params[:player2], placeholder: "Second Player", :class => "search-field", style: "width: 100px;"
        %br
        = submit_tag 'Compare', :id => "compare_submit"
  
    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 15px; width: 140px; height: 96px;") do 
      = form_tag tracking_path, :method => :get, :id => 'filters_form' do
        = "Time Period"
        %br
        = content_tag(:div, nil, class: "container", style: "color: #d9c27e; text-align: left; width: 126px; margin-left: 25px;") do
          = link_to "Day", tracking_path(:time => "day")
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          = link_to "Week", tracking_path(:time => "week")
          %br
          = link_to "Month", tracking_path(:time => "month")
          &nbsp&nbsp&nbsp
          = link_to "Year", tracking_path(:time => "year")

    %br
    = link_to "Reset filters", tracking_path(:clear_filters => "true")
    %br
  
    = content_tag(:div, nil, class: ["container", "left", "filter"], style: "margin-left: 15px; width: 140px; height: 126px;") do 
      = form_tag tracking_path, :method => :get, :id => 'filters_form' do
        = "Filter Accounts"
        %br
        = content_tag(:div, nil, class: "container", style: "color: #d9c27e; text-align: left; width: 138px; margin-bottom: 0px;") do
          - ["Reg", "IM", "UIM", "HCIM"].each do |type|
            &nbsp
            = check_box_tag "filters_[#{type}]", 1, @filters.include?(type), :id => "filters_#{type}"
            = type
            - if type == "IM"
              %br
        = submit_tag 'Filter', :id => "filters_submit"
        
    = content_tag(:div, nil, class: ["container", "left", "filter"], style: "line-height: 18px; margin-left: 15px; width: 140px; height: 126px;") do 
      = form_tag tracking_path, :method => :get, :id => 'restrictions_form' do
        = "Restrictions"
        %br
        = content_tag(:div, nil, class: "container", style: "color: #d9c27e; text-align: left; width: 126px; margin-bottom: 0px;") do
          - ["3 combat", "1 defence", "10 hitpoints"].each do |type|
            &nbsp
            = radio_button_tag "restrictions", type, @restrictions.include?(type), :id => "restrictions_#{type}"
            = type
            %br
        = submit_tag 'Filter', :id => "restrictions_submit"

    = content_tag(:div, nil, class: ["container", "left", "search"], style: "margin-left: 15px; width: 140px; height: 96px;") do 
      = form_tag tracking_path, :method => :get, :id => 'show_limits_form' do
        = "Players Per Page"
        %br
        = select_tag :show_limit, options_for_select(["25", "50", "100", "250", "500"], @show_limit)
        %br
        = submit_tag 'Refresh', :id => "show_limit_submit"

= will_paginate @players
