%h1 Edit Case

= form_tag items_path do

  = label :item, :client_name, 'Client Name'
  = text_field :item, 'client_name'
  
  = label :item, :client_ssn, 'Client SSN'
  = text_field :item, 'client_ssn'

  = label :item, :date_opened, 'Date Opened'
  = date_select :item, :date_opened
  
  = label :item, :date_opened, 'Date Opened'
  = date_select :item, :date_opened
  
  = submit_tag 'Update Case'

  = link_to 'Back', items_path
